/src/obs-build-dependencies
/bin
/test-bin
/src/build
.DS_Store
*/.DS_Store
*/**/.DS_Store
/src/prism-live-studio/build
/build/windows/Package/SetupScripts/prism/QtInstaller
/pdb
/build/windows/Package/SetupScripts/prism/_build.nsh
/build/windows/Package/SetupScripts/prism/_postfix.nsh
/build/windows/Package/SetupScripts/prism/_version.nsh
/build/windows/Package/SetupScripts/app.7z
/build/windows/Package/Output
deploy
deploy_temp
/src/prism-live-studio/others/parallelsign/src/CMakeLists.txt.user
/src/prism-live-studio/others/parallelsign/build-src-Desktop_Qt_6_3_2_MSVC2019_64bit-Release-with-Debug-Information
/src/prism-live-studio/others/stream-deck/package/com.naver.prism.sdPlugin
/src/prism-live-studio/others/stream-deck/src/cpp/com.naver.prism.sdPlugin/build

xcuserdata/
*.xcuserstate

.cache
**/compile_commands.json