@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: url('BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: normal;
  src: url('MajorMonoDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url('NanumGothic-Regular.ttf');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: bold;
  src: url('NanumGothic-Bold.ttf');
}
