/* PLSAlertView */

PLSAlertView > #content {
    background: #272727;
}

PLSAlertView > #titleBar > #titleLabel {
    font-weight: normal;
}

PLSAlertView #message, PLSAlertView #nameLabel {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-width: 360px;
    max-width: 360px;
    font-weight: normal;
}

PLSAlertView #widget > #buttonBox {
    min-height: 0;
    max-height: 99999px;
    margin: 0;
    padding: 0;
}

PLSAlertView #errMsgErrorContainer {
    border-radius: 3px;
    background-color: #1e1e1f;
    border: none;
}

PLSAlertView #errMsgErrorCodeLabel, PLSAlertView #errMsgUserIdLabel, PLSAlertView #errMsgCurrentTimeLabel {
    background: transparent;
    font-size: 12px;
    font-weight: normal;
    color: #bababa;
}

PLSAlertView #errMsgGuideLabel {
    background: transparent;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}

PLSAlertView #errMsgContactUsButton {
    min-height: 0;
    max-height: 99999px;
    min-width: 0;
    max-width: 99999px;
    margin: 0;
    padding: 0;
    color: white;
    background: transparent;
}

    PLSAlertView #errMsgContactUsButton #errMsgContactUsButtonText {
        font-size: 14px;
        font-weight: normal;
        color: #effc35;
        background: transparent;
    }

    PLSAlertView #errMsgContactUsButton[pressed="true"] #errMsgContactUsButtonText,
    PLSAlertView #errMsgContactUsButton[hovered="true"] #errMsgContactUsButtonText {
        color: white;
    }

    PLSAlertView #errMsgContactUsButton #errMsgContactUsButtonIconContainer {
        background: transparent;
    }

    PLSAlertView #errMsgContactUsButton #errMsgContactUsButtonIcon {
        min-height: 7px;
        max-height: 11px;
        min-width: 7px;
        max-width: 11px;
        image: url(":/libui/resource/images/error-message/ic-alert-arrow-over.svg");
        background: transparent;
    }

    PLSAlertView #errMsgContactUsButton[pressed="true"] #errMsgContactUsButtonIcon,
    PLSAlertView #errMsgContactUsButton[hovered="true"] #errMsgContactUsButtonIcon {
        image: url(":/libui/resource/images/error-message/ic-alert-arrow-normal.svg");
    }

PLSAlertView #countdownLabel {
    min-height: 46px;
    min-width: 46px;
    max-height: 46px;
    max-width: 46px;
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 14px;
}

PLSAlertView #widget > #buttonBox QPushButton[useFor="Ok"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Save"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="SaveAll"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Open"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Yes"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="YesToAll"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="No"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="NoToAll"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Abort"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Retry"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Ignore"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Close"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Cancel"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Discard"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Help"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Apply"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Reset"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="RestoreDefaults"],
PLSAlertView #widget > #buttonBox QPushButton[useFor="Rehearsal"] {
    border: 1px solid transparent;
    border-radius: 3px;
}

PLSAlertView #widget > #buttonBox QPushButton[useFor="Ok"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Save"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="SaveAll"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Open"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Yes"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="YesToAll"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="No"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="NoToAll"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Abort"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Retry"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Ignore"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Close"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Cancel"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Discard"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Help"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Apply"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Reset"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="RestoreDefaults"]:focus,
PLSAlertView #widget > #buttonBox QPushButton[useFor="Rehearsal"]:focus {
    border-color: #666666;
}