QLineEdit {
    background-color: #222222;
	border: 1px solid #222222;
	border-radius:3px;
	padding-left:12px;
	min-height:38px;
	max-height:38px;
}
QLineEdit[For="SelectPath"] {
    background-color: #222222;
	border: 1px solid #222222;
	border-radius:3px;
	padding-left:12px;
	min-height:38px;
	max-height:38px;
}
QLineEdit {
	border: 1px solid #222222;
}
QLineEdit:focus {
	border: 1px solid #effc35;
}
