QPushButton:focus {
	outline:none;
}
QPushButton {
	background-color: #444444;
	border-radius:3px;
	min-height:40px;
	max-height:40px;
	font-size:14px;
	font-weight: bold;
	color: #ffffff;
	padding:0;
}
QPushButton:hover {
	background-color: #555555;
}
QPushButton:pressed {
	background-color: #2d2d2d;
}
QPushButton:disabled {
	background-color: #444444;
	color: #777777;
}
QPushButton[highlight="true"] {
	background-color: #effc35;
	border-radius:3px;
	min-height:48px;
	max-height:48px;
	font-size:14px;
	font-weight: bold;
	color: black;
	padding:0 50px;
}
QPushButton[highlight="true"]:hover {
	background-color: #f1fa75;
}
QPushButton[highlight="true"]:pressed {
	background-color: #7a7f34;
}
QPushButton[highlight="true"]:disabled {
	background-color: #444444;
	color: #666666;
}

QPushButton[useFor="QToolButton"] {
	border:none;
	border-image: none;
	background-color: #2c2c2c;
	min-width:30px;
	max-width:30px;
	min-height:30px;
	max-height:30px;
	margin:0;
	padding:0;
}
QPushButton[useFor="QToolButton"]:hover {
	border-image: none;
	background-color: #363636;
}
QPushButton[useFor="QToolButton"]:pressed {
	border-image: none;
	background-color: #111111;
}

QPushButton[For="SelectPath"] {
	background-color: #333333;
	border-image:url(":/libui/resource/images/browser-normal.svg");
	min-width:32px;
	max-width:32px;
	min-height:32px;
	max-height:32px;
	padding:0;
}
QPushButton[For="SelectPath"]:hover {
	border-image:url(":/libui/resource/images/browser-over.svg");
}
QPushButton[For="SelectPath"]:pressed {
	border-image:url(":/libui/resource/images/browser-clicked.svg");
}
QPushButton[For="SelectPath"]:disabled {
	border-image:url(":/libui/resource/images/browser-disable.svg");
}

QPushButton[useFor="Ok"],
QPushButton[useFor="Save"],
QPushButton[useFor="SaveAll"],
QPushButton[useFor="Open"],
QPushButton[useFor="Yes"],
QPushButton[useFor="YesToAll"],
QPushButton[useFor="No"],
QPushButton[useFor="NoToAll"],
QPushButton[useFor="Abort"],
QPushButton[useFor="Retry"],
QPushButton[useFor="Ignore"],
QPushButton[useFor="Close"],
QPushButton[useFor="Cancel"],
QPushButton[useFor="Discard"],
QPushButton[useFor="Help"],
QPushButton[useFor="Apply"],
QPushButton[useFor="Reset"],
QPushButton[useFor="RestoreDefaults"],
QPushButton[useFor="Rehearsal"] {
	min-width:128px;
	max-width:128px;
	min-height:40px;
	max-height:40px;
}
