
::corner {
    background-color: #272727;
	border:none;
}

QScrollBar:vertical {
    background-color: #272727;
	width:10px;
    margin:0px;
}

QScrollBar::handle:vertical {
    background-color: #444444;
	min-height:20px;
	border-radius:3px;
	border:none;
    margin:0px 2px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
	border:none;
    background: none;
	height:0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	border:none;
	background: none;
	color: none;
}

QScrollBar:horizontal {
    background-color: #272727;
	height:10px;
    margin:0px;
}

QScrollBar::handle:horizontal {
    background-color: #444444;
	min-width:20px;
	border-radius:3px;
	border:none;
    margin:2px 0;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
	border:none;
    background: none;
	width:0px;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	border:none;
    background: none;
    color: none;
}
