QSlider:horizontal {
	min-height: 22px;
	max-height: 22px;
	margin-left: 2px;
}
QSlider:vertical {
	min-width: 22px;
	max-width: 22px;
	margin-left: 2px;
}

/*
	horizontal slider
*/
QSlider::groove:horizontal {
	background-color: #1e1e1f;
	height: 4px;
	border: none;
}

QSlider::handle:horizontal {
	image:url(":/libui/resource/images/img-handle-normal.svg");
	height:14px;
	width:14px;
	margin: -5px -2px -5px -2px;
}

QSlider::handle:horizontal[handle="false"], QSlider::handle:horizontal[handle="false"][enter="false"]
, QSlider::handle:horizontal[handle="false"][enter="true"]{
	width:0px;
}

QSlider::handle:horizontal[enter="false"], QSlider::handle:horizontal[enter="false"][handle="true"] {
	image:url(":/libui/resource/images/img-handle-normal.svg");
	height:14px;
	width:14px;
	margin: -5px -2px -5px -2px;
}

QSlider::handle:horizontal[enter="true"], QSlider::handle:horizontal[enter="true"][handle="true"] {
	image:url(":/libui/resource/images/img-handle-over.svg");
	height:18px;
	width:18px;
	margin: -7px -2px -7px -2px;
}

QSlider::groove:horizontal,
QSlider::handle:horizontal,
QSlider::handle:horizontal:hover,
QSlider::sub-page:horizontal,
QSlider::sub-page:horizontal:disabled {
	border-radius: 2px;
}

QSlider::sub-page:horizontal {
	background-color: #effc35;
}
QSlider::sub-page:horizontal:disabled {
	background-color: #2c2c2c;
}
/*
	horizontal slider end
*/


/*
	vertical slider
*/
QSlider::groove:vertical {
	background-color: #1e1e1f;
	width: 4px;
	border: none;
}

QSlider::handle:vertical {
	image:url(":/libui/resource/images/img-handle-normal.svg");
	height:14px;
	width:14px;
	margin: -2px -5px -2px -5px;
}

QSlider::handle:vertical[handle="false"], QSlider::handle:vertical[handle="false"][enter="false"]
, QSlider::handle:vertical[handle="false"][enter="true"]{
	width:0px;
}

QSlider::handle:vertical[enter="false"], QSlider::handle:vertical[enter="false"][handle="true"] {
	image:url(":/libui/resource/images/img-handle-normal.svg");
	height:14px;
	width:14px;
	margin: -2px -5px -2px -5px;
}

QSlider::handle:vertical[enter="true"], QSlider::handle:vertical[enter="true"][handle="true"] {
	image:url(":/libui/resource/images/img-handle-over.svg");
	height:18px;
	width:18px;
	margin: -2px -7px -2px -7px;
}

QSlider::groove:vertical,
QSlider::handle:vertical,
QSlider::handle:vertical:hover,
QSlider::sub-page:vertical,
QSlider::sub-page:vertical:disabled {
	border-radius: 2px;
}

QSlider::add-page:vertical {
	background-color: #effc35;
	border-radius: 2px;
}
QSlider::add-page:vertical:disabled {
	background-color: #2c2c2c;
	border-radius: 2px;
}
/*
	vertical slider end
*/
