* [frameShape="1"], * [frameShape="2"], * [frameShape="3"], * [frameShape="4"], * [frameShape="5"], * [frameShape="6"] {
    border: /*hdpi*/1px solid #111111;
}
* [borders="top-only"] {
    border: none;
    border-top: /*hdpi*/1px solid #111111;
}
