
PLSBasicStats #renderingFramedropState, PLSBasicStats #encodingFramedropState, PLSBasicStats #networkFramedropState,
PLSBasicStats #realtimeFramerateState, PLSBasicStats #streamBitrateState, PLSBasicStats #bufferedDurationState,
PLSBasicStats #recordedMegabytesState {
	min-width: /*hdpi*/ 8px;
	max-width: /*hdpi*/ 8px;
	min-height: /*hdpi*/ 8px;
	max-height: /*hdpi*/ 8px;
	border-radius: /*hdpi*/ 4px;
	background-color: #01cb06;
	margin-right: /*hdpi*/ 10px;
}

PLSBasicStats #resourcesHdr, PLSBasicStats #performanceHdr, PLSBasicStats #streamHdr, PLSBasicStats #recordHdr {
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #eeeeee;
}

PLSBasicStats #cpuUsageLabel, PLSBasicStats #gpuUsageLabel, PLSBasicStats #diskAvailableLabel, PLSBasicStats #memoryUsageLabel,
PLSBasicStats #renderingFramedropLabel, PLSBasicStats #encodingFramedropLabel, PLSBasicStats #networkFramedropLabel,
PLSBasicStats #streamBitrateLabel, PLSBasicStats #recordingBitrateLabel, PLSBasicStats #realtimeFramerateLabel,
PLSBasicStats #bufferedDurationLabel, PLSBasicStats #recordedMegabytesLabel {
	font-size: /*hdpi*/ 14px;
	color: #eeeeee;
}

PLSBasicStats #cpuUsage, PLSBasicStats #gpuUsage, PLSBasicStats #diskAvailable, PLSBasicStats #memoryUsage,
PLSBasicStats #renderingFramedrop, PLSBasicStats #encodingFramedrop, PLSBasicStats #networkFramedrop,
PLSBasicStats #streamBitrate, PLSBasicStats #recordingBitrate, PLSBasicStats #realtimeFramerate,
PLSBasicStats #bufferedDuration, PLSBasicStats #recordedMegabytes, PLSBasicStats #realtimeBitrate,
PLSBasicStats #dynamicBitrate, PLSBasicStats #desiredBitrate {
	font-size: /*hdpi*/ 14px;
	color: #bababa;
}

	PLSBasicStats #networkFramedropLabel[active="false"], PLSBasicStats #streamBitrateLabel[active="false"], PLSBasicStats #recordingBitrateLabel[active="false"],
	PLSBasicStats #networkFramedrop[active="false"], PLSBasicStats #streamBitrate[active="false"], PLSBasicStats #recordingBitrate[active="false"],
	PLSBasicStats #bufferedDurationLabel[active="false"], PLSBasicStats #bufferedDuration[active="false"],
	PLSBasicStats #recordedMegabytesLabel[active="false"], PLSBasicStats #recordedMegabytes[active="false"],
	PLSBasicStats #encodingFramedropLabel[active="false"], PLSBasicStats #encodingFramedrop[active="false"],
	PLSBasicStats #realtimeBitrate[active="false"], PLSBasicStats #dynamicBitrate[active="false"], PLSBasicStats #desiredBitrate[active="false"] {
		color: #666666;
	}

PLSBasicStats #renderingFramedropState[state="error"],
PLSBasicStats #encodingFramedropState[state="error"],
PLSBasicStats #networkFramedropState[state="error"],
PLSBasicStats #realtimeFramerateState[state="error"],
PLSBasicStats #streamBitrateState[state="error"],
PLSBasicStats #bufferedDurationState[state="error"] {
	background-color: #c34151;
}

PLSBasicStats #renderingFramedropState[state="warning"],
PLSBasicStats #encodingFramedropState[state="warning"],
PLSBasicStats #networkFramedropState[state="warning"],
PLSBasicStats #realtimeFramerateState[state="warning"],
PLSBasicStats #streamBitrateState[state="warning"],
PLSBasicStats #bufferedDurationState[state="warning"] {
	background-color: #effc35;
}

PLSBasicStats #renderingFramedropState[state="disabled"],
PLSBasicStats #encodingFramedropState[state="disabled"],
PLSBasicStats #networkFramedropState[state="disabled"],
PLSBasicStats #realtimeFramerateState[state="disabled"],
PLSBasicStats #streamBitrateState[state="disabled"],
PLSBasicStats #bufferedDurationState[state="disabled"] {
	background-color: #147916;
}
