#PLSBasicSettings {
	qproperty-minimumSize: /*hdpi*/ 720px /*hdpi*/ 555px;
}

#PLSBasicSettings QWidget:disabled {
	color: #666666;
}

#PLSBasicSettings QGroupBox {
	border: none;
	padding-top: /*hdpi*/ 27px;
	font-size: /*hdpi*/ 20px;
	font-weight: bold;
	color: #ffffff;
}

#PLSBasicSettings QGroupBox::title {
	subcontrol-origin: margin;
	left: /*hdpi*/ -4px;
	top: /*hdpi*/ 1px;
}

#PLSBasicSettings QGroupBox[useFor="GroupBoxLevel2"] {
	border: none;
	padding-top: /*hdpi*/ 17px;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #ffffff;
}

#PLSBasicSettings QGroupBox[useFor="GroupBoxLevel2"]::title {
	subcontrol-origin: margin;
	left: /*hdpi*/ -2px;
	top: /*hdpi*/ 1px;
}

#PLSBasicSettings QLabel[useFor="QGroupBox"] {
	font-size: /*hdpi*/ 20px;
	font-weight: bold;
	color: #ffffff;
}

#PLSBasicSettings #vline {
	background-color: #111111;
	min-width: /*hdpi*/ 1px;
	max-width: /*hdpi*/ 1px;
}
#PLSBasicSettings #hline {
	background-color: #111111;
	min-height: /*hdpi*/ 1px;
	max-height: /*hdpi*/ 1px;
}

#PLSBasicSettings > #close {
	background-color: #272727;
}
#PLSBasicSettings QListWidget {
	background-color: #272727;
	border:/*hdpi*/ none;
	font-size:/*hdpi*/ 14px;
	font-weight: bold;
	color: #ffffff;
}
#PLSBasicSettings QListWidget::item {
	height:/*hdpi*/ 40px;
	border-radius:/*hdpi*/ 3px;
	padding-left:/*hdpi*/ 9px;
}
#PLSBasicSettings QListWidget::item:selected {
	background-color: #effc35;
	color: black;
}
#PLSBasicSettings QListWidget::item:selected:!active {
	background-color: #effc35;
	color: black;
}
#PLSBasicSettings QListWidget::item:hover {
	background-color: #272727;
}
#PLSBasicSettings QListWidget::item:selected:hover {
	background-color: #effc35;
	color: black;
}
#PLSBasicSettings QListWidget:focus {
	outline: none;
}
#PLSBasicSettings QLineEdit, #PLSBasicSettings QComboBox, #PLSBasicSettings QSpinBox, #PLSBasicSettings QDoubleSpinBox, #PLSBasicSettings QRadioButton {
	color: #ffffff;
	font-size:/*hdpi*/ 14px;
}
#PLSBasicSettings QCheckBox {
	color: #e1e1e1;
	font-size:/*hdpi*/ 14px;
}
#PLSBasicSettings QLabel {
	color: #bababa;
	font-size:/*hdpi*/ 14px;
}
#PLSBasicSettings QLabel[useFor="FormLabelRole"] {
	font-weight: bold;
}
#PLSBasicSettings PLSHotkeyLabel {
	font-weight: bold;
}
#PLSBasicSettings QCheckBox {
	margin:/*hdpi*/0;
	padding:/*hdpi*/0;
	min-height:/*hdpi*/ 18px;
	max-height:/*hdpi*/ 18px;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs {
	min-height: /*hdpi*/ 35px;
	max-height: /*hdpi*/ 35px;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs #outputSettingsAdvTabsHLine {
	background-color: #111111;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs QPushButton {
	min-width: /*hdpi*/ 100px;
	max-width: /*hdpi*/ 100px;
	min-height: /*hdpi*/ 0;
	max-height: /*hdpi*/ 10000px;
	background-color: transparent;
	color: #666666;
	border: /*hdpi*/ none;
	border-radius: /*hdpi*/ 0;
	border-bottom: /*hdpi*/ 3px solid transparent;
	font-weight: normal;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs QPushButton[selected="false"] {
	color: #666666;
	font-weight: normal;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs QPushButton[selected="false"]:hover {
	color: #ffffff;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs QPushButton[selected="false"]:pressed {
	color: #444444;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs QPushButton[selected="true"] {
	color: #effc35;
	border-bottom:/*hdpi*/ 3px solid #effc35;
	font-weight: bold;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs QPushButton[selected="true"]:hover {
	color: #f1fa75;
	border-bottom:/*hdpi*/ 3px solid #f1fa75;
	font-weight: bold;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputModeContainer #outputSettingsAdvTabs QPushButton[selected="true"]:pressed {
	color: #7a7f34;
	border-bottom:/*hdpi*/ 3px solid #7a7f34;
	font-weight: bold;
}
#PLSBasicSettings #outputPage #groupBox_23 #advOutputEndLine {
	background-color: #111111;
	min-height: /*hdpi*/ 1px;
	max-height: /*hdpi*/ 1px;
}
#PLSBasicSettings PLSHotkeyWidget PLSHotkeyEdit {
	border-top-right-radius:/*hdpi*/ 0;
	border-bottom-right-radius:/*hdpi*/ 0;
}
#PLSBasicSettings PLSHotkeyWidget QPushButton {
	qproperty-icon: url(":/images/btn-ic-delete.svg");
	qproperty-iconSize: /*hdpi*/ 17px /*hdpi*/ 18px;
	padding: /*hdpi*/ 0;
	min-width: /*hdpi*/ 40px;
	max-width: /*hdpi*/ 40px;
	min-height: /*hdpi*/ 40px;
	max-height: /*hdpi*/ 40px;
	border-top-left-radius: /*hdpi*/ 0;
	border-bottom-left-radius: /*hdpi*/ 0;
}
#PLSBasicSettings PLSHotkeyWidget QPushButton[enabled="false"] {
	qproperty-icon: url(":/images/btn-ic-delete-disable.svg");
	background-color: #373737;
}
#PLSBasicSettings QLineEdit {
	border:/*hdpi*/ 1px solid #222222;
}
#PLSBasicSettings QLineEdit:focus {
	border:/*hdpi*/ 1px solid #effc35;
}
#PLSBasicSettings #buttonBox QPushButton {
	min-width:/*hdpi*/ 128px;
	max-width:/*hdpi*/ 128px;
	min-height:/*hdpi*/ 40px;
	max-height:/*hdpi*/ 40px;
}
#PLSBasicSettings #simpleOutputBrowse, #PLSBasicSettings #advOutFFPathBrowse, #PLSBasicSettings #advOutRecPathBrowse {
	padding:/*hdpi*/0px;
	min-height:/*hdpi*/ 40px;
	max-height:/*hdpi*/ 40px;
	min-width:/*hdpi*/ 136px;
	max-width:/*hdpi*/ 136px;
}
#PLSBasicSettings PLSPropertiesView #formLabel {
	font-size:/*hdpi*/ 14px;
	font-weight: bold;
	color: #bababa;
	background-color: #272727;
	min-height:/*hdpi*/ 40px;
	max-height:/*hdpi*/ 40px;
	min-width:/*hdpi*/ 170px;
	max-width:/*hdpi*/ 170px;
}
#PLSBasicSettings #alertMessageFrame {
	background-color: rgba(30, 30, 30, 0.9);
	border:/*hdpi*/ 1px solid rgba(255, 255, 255, 0.1);
	border-radius:/*hdpi*/ 3px;
	font-size:/*hdpi*/ 14px;
	padding:/*hdpi*/12px/*hdpi*/20px/*hdpi*/12px/*hdpi*/20px;
}
#PLSBasicSettings #alertMessageFrame > #alertMessageLabel[alertMessageType="Error"] {
	background-color: transparent;
	font-size:/*hdpi*/ 14px;
	color: #b33e4c;
	padding:/*hdpi*/0;
}
#PLSBasicSettings #alertMessageFrame > #alertMessageLabel[alertMessageType="Warning"] {
	background-color: transparent;
	font-size:/*hdpi*/ 14px;
	color: #bababa;
	padding:/*hdpi*/0;
}
#PLSBasicSettings #buttonBox {
	min-height:/*hdpi*/ 0;
	max-height:/*hdpi*/ 99999px;
}

#PLSBasicSettings #groupBox_21:disabled,
#PLSBasicSettings #groupBox_19:disabled,
#PLSBasicSettings PLSSettingGeneralView #nickName:disabled {
	color: #666666;
}
#PLSBasicSettings PLSSettingGeneralView #nickName
{
	min-height:/*hdpi*/29px;
	max-height:/*hdpi*/29px;
	font-size:/*hdpi*/20px;
	font-weight:bold;
	color:white;
}
#PLSBasicSettings PLSSettingGeneralView #label_3, #PLSBasicSettings PLSSettingGeneralView #label_6, #PLSBasicSettings PLSSettingGeneralView #userCode
{
	min-height:/*hdpi*/18px;
	max-height:/*hdpi*/18px;
	font-size:/*hdpi*/14px;
	font-weight:normal;
	color:#666666;
}
#PLSBasicSettings PLSSettingGeneralView #email
{
	font-size:/*hdpi*/14px;
	font-weight:normal;
	color:#666666;
}
#PLSBasicSettings #pushButton_logout,#pushButton_del_account,#pushButton_change_pwd
{
	qproperty-minimumSize:/*hdpi*/110px/*hdpi*/27px;
	qproperty-maximumSize:/*hdpi*/110px/*hdpi*/27px;
	border-image:none;
	border:/*hdpi*/1px solid #3d3d3d;
	padding:/*hdpi*/0px;
	background-color:transparent;
	color:#bababa;
	font-size:/*hdpi*/12px;
	font-weight:normal;
}
#PLSBasicSettings #pushButton_logout:disabled,#PLSBasicSettings  #pushButton_del_account:disabled,#PLSBasicSettings #pushButton_change_pwd:disabled
{
	qproperty-minimumSize:/*hdpi*/110px/*hdpi*/27px;
	qproperty-maximumSize:/*hdpi*/110px/*hdpi*/27px;
	border-image:none;
	border:/*hdpi*/1px solid #3d3d3d;
	padding:/*hdpi*/0px;
	background-color:transparent;
	color:#3d3d3d;
	font-size:/*hdpi*/12px;
	font-weight:normal;
}
#PLSBasicSettings #pushButton_change_pwd:hover, #PLSBasicSettings #pushButton_del_account:hover, #PLSBasicSettings #pushButton_logout:hover
{
	background-color:transparent;
	border:/*hdpi*/1px solid #ffffff;
	color:#ffffff;
}
#PLSBasicSettings #pushButton_change_pwd:pressed, #PLSBasicSettings #pushButton_del_account:pressed, #PLSBasicSettings #pushButton_logout:pressed
{
	background-color:transparent;
	border:/*hdpi*/1px solid #1e1e1e;
	color:#1e1e1e;
}

#PLSBasicSettings #label, #PLSBasicSettings #label_21, #PLSBasicSettings #label_45 {
	min-width: /*hdpi*/ 134px;
	max-width: /*hdpi*/ 134px;
}

#PLSBasicSettings QListWidget#listWidget {
	min-width: /*hdpi*/ 140px;
	max-width: /*hdpi*/ 140px;
}

PLSComplexHeaderIcon {
	qproperty-minimumSize: /*hdpi*/ 127px /*hdpi*/ 110px;
	qproperty-maximumSize: /*hdpi*/ 127px /*hdpi*/ 110px;
	border-radius: /*hdpi*/ 55px;
	color: transparent;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left;
}

PLSComplexHeaderIcon #userIconLabel {
	border: /*hdpi*/ none;
	background-color: transparent;
}

PLSSettingGeneralView PLSComplexHeaderIcon #PlatformLabel {
	min-width: /*hdpi*/ 34px;
	min-height: /*hdpi*/ 34px;
	max-height: /*hdpi*/ 34px;
	max-width: /*hdpi*/ 34px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: /*hdpi*/ 17px;
	border: /*hdpi*/ none;
}

PLSSettingGeneralView {
	min-height: /*hdpi*/ 112px;
	max-height: /*hdpi*/ 112px;
}

PLSSettingGeneralView:disabled {
	color: #666666;
}

#PLSBasicSettings QLineEdit#filenameFormatting, #PLSBasicSettings QLineEdit#filenameFormatting[focusState="FocusOut"] {
	border: /*hdpi*/ 1px solid #222222;
}

#PLSBasicSettings QLineEdit#filenameFormatting[focusState="FocusIn"] {
	border: /*hdpi*/ 1px solid #effc35;
}
