PLSImageTextButton {
	background-color: transparent;
	min-width:/*hdpi*/  60px;
	max-width:/*hdpi*/  60px;
	min-height:/*hdpi*/ 40px;
	max-height:/*hdpi*/ 40px;
}

PLSImageTextButton:hover,
PLSImageTextButton:pressed,
PLSImageTextButton:disabled {
	background-color: transparent;
}

PLSImageTextButton #labelLeft,
PLSImageTextButton[status="normal"] #labelLeft {
	image:url(":/images/btn-close-normal.svg");
	min-width:/*hdpi*/  22px;
	max-width:/*hdpi*/  22px;
	min-height:/*hdpi*/ 22px;
	max-height:/*hdpi*/ 22px;
}

PLSImageTextButton[status="hover"] #labelLeft {
	image:url(":/images/btn-close-over.svg");
}
PLSImageTextButton[status="clicked"] #labelLeft {
	image:url(":/images/btn-close-click.svg");
}
PLSImageTextButton[status="disable"] #labelLeft {
	image:url(":/images/btn-close-disable.svg");
}


PLSImageTextButton #labelRight  {
	font-size: /*hdpi*/14px;
  font-weight: normal;
  color: #bababa;
}

PLSImageTextButton[status="normal"] #labelRight {
  color: #bababa;
}

PLSImageTextButton[status="hover"] #labelRight {
	 color: white;
}
PLSImageTextButton[status="clicked"] #labelRight {
	 color: #1e1e1e;
}
PLSImageTextButton[status="disable"] #labelRight {
	  color: #666666;
}
