PLSLiveInfoYoutube {
	min-width:/*hdpi*/ 720px;
	max-width:/*hdpi*/ 720px;
	min-height:/*hdpi*/ 710px;
	max-height:/*hdpi*/ 710px;
}


PLSLiveInfoYoutube #titleWidget {
	min-height:/*hdpi*/ 77px;
	max-height:/*hdpi*/ 77px;
    background-color: transparent;
}

PLSLiveInfoYoutube #titleWidget #titleLabel {
    margin:/*hdpi*/0px/*hdpi*/0px/*hdpi*/0px/*hdpi*/0px;
	font-size:/*hdpi*/ 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
}

PLSLiveInfoYoutube #midwidget > .QLabel {
	min-width:/*hdpi*/ 105px;
	max-width:/*hdpi*/ 105px;
	font-size:/*hdpi*/ 14px;
    font-weight: bold;
    color: #bababa;
    background-color: transparent;
}

PLSLiveInfoYoutube #midwidget #latencyLeftWidget > .QLabel {
	font-size:/*hdpi*/ 14px;
    font-weight: bold;
    color: #bababa;
    background-color: transparent;
}

PLSLiveInfoYoutube #midwidget #latencyLeftWidget {
	min-width:/*hdpi*/ 105px;
	max-width:/*hdpi*/ 105px;
	background-color: transparent;
}

PLSLiveInfoYoutube #bottomWidget {
	min-height:/*hdpi*/ 79px;
	max-height:/*hdpi*/ 79px;
}

PLSLiveInfoYoutube #lineView {
	min-height:/*hdpi*/ 1px;
	max-height:/*hdpi*/ 1px;
    background-color: #151515;
	margin-bottom:/*hdpi*/ 2px;
}

PLSLiveInfoYoutube #textEditDescribe {
	min-height:/*hdpi*/ 80px;
	max-height:/*hdpi*/ 80px;

}

PLSLiveInfoYoutube #textEditDescribe,
PLSLiveInfoYoutube #lineEditTitle {
	font-size:/*hdpi*/ 14px;
	border-radius:/*hdpi*/ 3px;
}

PLSLiveInfoYoutube #sPushButton .QLabel {
      background-color: transparent;
}

PLSLiveInfoYoutube .QTextEdit {
	border:/*hdpi*/ none;
    background-color: #1e1e1e;
}

PLSLiveInfoYoutube #bottomButtonWidget {
	padding-right:/*hdpi*/ 30px;
}

PLSLiveInfoYoutube #kidsRadioWidget > .QRadioButton,
PLSLiveInfoYoutube #latencyRadioWidget > .QRadioButton {
	font-size:/*hdpi*/ 14px;
	spacing: /*hdpi*/ 10px;
    font-weight: normal;
    background-color: transparent;
}

PLSLiveInfoYoutube #latencyRadioWidget #radioButton_normal,
PLSLiveInfoYoutube #latencyRadioWidget #radioButton_low {
	margin-right: /*hdpi*/10px;
}

PLSLiveInfoYoutube #latencyRadioWidget #ultraLowTipLabel {
	font-size: /*hdpi*/12px;
	font-weight: normal;
	color: #666666;
}

PLSLiveInfoYoutube #latencyLeftWidget QToolTip {
		max-width:  /*hdpi*/ 510px;
		margin: /*hdpi*/ 2px;
		padding:/*hdpi*/5px;
}

PLSLiveInfoYoutube #midwidget #latencyIcon {
	image:url(":/images/ic-help-off-normal.svg");
	min-width:/*hdpi*/ 18px;
	max-width:/*hdpi*/ 18px;
	min-height:/*hdpi*/ 18px;
	max-height:/*hdpi*/ 18px;
	background-color: transparent;
	margin-left: /*hdpi*/ 5px;
}

PLSLiveInfoYoutube #midwidget #latencyIcon:hover {
	image:url(":/images/ic-help-off-over.svg");
}