
PLSLiveInfoBand #describeLabel
{
	min-height:/*hdpi*/ 18px;
	max-height:/*hdpi*/ 18px;
	font-size:/*hdpi*/ 14px;
    font-weight: bold;
    color: #bababa;
}

PLSLiveInfoBand #plainTextEdit[readonly="false"]
{
    qproperty-minimumSize:/*hdpi*/555px/*hdpi*/120px;
    qproperty-maximumSize:/*hdpi*/555px/*hdpi*/120px;
	border-radius:/*hdpi*/ 3px;
    border-style: none;
    background-color: #1e1e1e;
	font-size:/*hdpi*/ 14px;
    font-weight: normal;

    padding:/*hdpi*/2px/*hdpi*/2px/*hdpi*/3px/*hdpi*/7px;
}
PLSLiveInfoBand #plainTextEdit[readonly="true"]
{
    qproperty-minimumSize:/*hdpi*/555px/*hdpi*/120px;
    qproperty-maximumSize:/*hdpi*/555px/*hdpi*/120px;
	border-radius:/*hdpi*/ 3px;
    border-style: none;
    background-color: #1e1e1e;
	font-size:/*hdpi*/ 14px;
    font-weight: normal;
	color:#666666;
    padding:/*hdpi*/2px/*hdpi*/2px/*hdpi*/3px/*hdpi*/7px;
}
PLSLiveInfoBand #plainTextEdit:focus[readonly="false"]
{
	border:/*hdpi*/ 1px solid  #effc35;
}
PLSLiveInfoBand #plainTextEdit:focus[readonly="true"]
{
	border:/*hdpi*/ none;
}

PLSLiveInfoBand #frame
{
	border-top:/*hdpi*/ 1px solid #151515;
	border-left:/*hdpi*/ none;
	border-right:/*hdpi*/ none;
	border-bottom:/*hdpi*/ none;
}
