PLSOpenSourceView {
    qproperty-hasHLine: true;
    qproperty-hasMinButton: false;
    qproperty-hasCloseButton: false;
    qproperty-isMoveInContent: true;
    qproperty-hasBorder: true;
    qproperty-hasCaption: false;
}

PLSOpenSourceView, PLSOpenSourceView QWidget {
    background-color: #272727;
}

PLSOpenSourceView #lineView {
    background-color:#151515;
}

PLSOpenSourceView #topTitleLabel {
    color:#effc35;
    font-size:/*hdpi*/20px;
    font-weight: bold;
    min-height:/*hdpi*/30px;
    max-height:/*hdpi*/30px;
}

PLSOpenSourceView #cefBackView QWidget{
    background-color:#1e1e1e;
	min-height:/*hdpi*/ 248px;
    max-height:/*hdpi*/ 248px;
}

PLSOpenSourceView #confirmButton {
    font-size:/*hdpi*/14px;
    font-weight:bold;
    border-radius:/*hdpi*/3px;
    padding:0px;
    color:white;
    background-color:#444444;
	qproperty-minimumSize: /*hdpi*/ 175px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 175px /*hdpi*/ 40px;
}

PLSOpenSourceView #confirmButton:hover {
    background-color:#555555;
}

PLSOpenSourceView #confirmButton:pressed {
    background-color:#1e1e1f;
}
