PLSScheduleCombox,
PLSScheduleCombox[type="Ty_Normal"] {
	 background-color: #444444;
}
PLSScheduleCombox[type="Ty_Hover"] {
	background-color: #555555;
}
PLSScheduleCombox[type="Ty_On"] {
	background-color: #1e1e1e;
}
PLSScheduleCombox[type="Ty_Disabled"] {
	background-color: #373737;
}

PLSScheduleCombox QLabel {
	font-size:/*hdpi*/ 14px;
	font-weight: normal;
	color: #ffffff;
	background-color: transparent;
}

PLSScheduleCombox[type="Ty_Normal"] > .QLabel {
	color: #ffffff;
}
PLSScheduleCombox[type="Ty_Hover"] > .QLabel {
	color: #ffffff;
}
PLSScheduleCombox[type="Ty_On"] > .QLabel {
	color: #ffffff;
}
PLSScheduleCombox[type="Ty_Disabled"] > .QLabel {
	color: #666666;
}

PLSScheduleCombox #scheduletTitleLabel {
	padding-left:/*hdpi*/ 10px;
	background-color: transparent;
}

PLSLiveInfoNaverShoppingLIVE PLSScheduleCombox #scheduletTitleLabel {
	padding-left:/*hdpi*/ 8px;
}

PLSScheduleCombox #dropLabel {
	min-width: /*hdpi*/ 11px;
    max-width: /*hdpi*/ 11px;

	min-height: /*hdpi*/ 6px;
    max-height: /*hdpi*/ 6px;

	padding-right:/*hdpi*/ 15px;
	background-color: transparent;
}

PLSScheduleCombox #dropLabel,
PLSScheduleCombox[type="Ty_Normal"] #dropLabel {
	image:url(":/images/txt-dropbox-open-normal.svg");
}
PLSScheduleCombox[type="Ty_Hover"] #dropLabel {
	image:url(":/images/txt-dropbox-open-over.svg");
}
PLSScheduleCombox[type="Ty_On"] #dropLabel {
	image:url(":/images/txt-dropbox-open-click.svg");
}
PLSScheduleCombox[type="Ty_Disabled"] #dropLabel {
	image:url(":/images/txt-dropbox-open-disable.svg");
}

PLSScheduleCombox #scheduleListWidget {
	background-color: #2d2d2d;
	border:/*hdpi*/ 1px solid #111111;
    border-radius:/*hdpi*/ 3px;
    outline: none;
}

PLSScheduleCombox #scheduleListWidget::item {
	padding-left:/*hdpi*/ 0px;
	background-color: #2d2d2d;
}

PLSScheduleCombox QMenu {
	background-color: #111111;
	border:/*hdpi*/ none;
	min-width:/*hdpi*/ 10px;
	max-width:/*hdpi*/ 999999px;
	padding:/*hdpi*/0px;
	background: #2d2d2d;
}

PLSScheduleCombox QMenu::item {
	background-color: transparent;
	padding:/*hdpi*/0px;
	min-height:/*hdpi*/ 10px;
	max-height:/*hdpi*/ 4000px;
	font-size:/*hdpi*/ 14px;
	color: #ffffff;
	border:/*hdpi*/ none;
}

PLSScheduleComboxItem QLabel {
	font-size: /*hdpi*/ 14px;
	font-weight: normal;
	color: #ffffff;
	background-color: transparent;
}

PLSScheduleComboxItem #imgLabel {
	margin: 0px;
}


PLSScheduleComboxItem #titleLabel[selected="true"],
PLSScheduleComboxItem #bgWidget[status="header"] #titleLabel[selected="true"]{
color: #effc35;
}

PLSScheduleComboxItem #titleLabel[selected="false"] {
color: #ffffff;
}

PLSScheduleComboxItem #detailLabel {
	font-size:/*hdpi*/ 12px;
	font-weight: normal;
	color: #777777;
}
PLSScheduleComboxItem #detailLabel[selected="true"] {
	color: #7a7f34;
}
PLSScheduleComboxItem #detailLabel[selected="false"] {
	color: #777777;
}

PLSScheduleComboxItem #detailLabel[expired="true"] {
	color:#666666;
}
PLSScheduleComboxItem #detailLabel[expired="false"] {
	color: #bababa;
}

PLSScheduleComboxItem #rightImageLabel {
	min-height:/*hdpi*/ 22px;
	max-height:/*hdpi*/ 22px;
	min-width:/*hdpi*/ 22px;
	max-width:/*hdpi*/ 22px;
	image:url(":/images/ic-source-lock-normal.svg");
}

PLSScheduleCombox #scheduleListWidget:focus {
	outline: none;
}

PLSScheduleComboxItem #bgWidget > .QWidget {
	    background-color: transparent;
}

PLSScheduleComboxItem #bgWidget,
PLSScheduleComboxItem #bgWidget:disabled {
    background-color: #2d2d2d;
}

PLSScheduleComboxItem #bgWidget:hover,
PLSScheduleComboxItem #bgWidget:pressed {
    background-color: #373737;
}

PLSScheduleComboxItem #bgWidget[status="header"]  {
    background-color: #272727;
}

PLSScheduleComboxItem #bgWidget[status="header"] QLabel {
    font-size: /*hdpi*/ 12px;
	font-weight: bold;
	color: #bababa;
}
