PLSUSBWiFiHelpView {
	min-width: /*hdpi*/ 300px;
	min-height: /*hdpi*/ 657px;
}

	PLSUSBWiFiHelpView #content {
		background-color: #343435;
	}

	PLSUSBWiFiHelpView #topLeftBtn,
	PLSUSBWiFiHelpView #topRightBtn {
		color: #bababa;
		font-size: /*hdpi*/ 14px;
		font-weight: bold;
		border-radius: 0px;
		min-height: /*hdpi*/ 49px;
		max-height: /*hdpi*/ 49px;
		background-color: #272727;
	}

		PLSUSBWiFiHelpView #topLeftBtn:hover,
		PLSUSBWiFiHelpView #topRightBtn:hover {
			color: white;
		}

		PLSUSBWiFiHelpView #topLeftBtn:pressed,
		PLSUSBWiFiHelpView #topRightBtn:pressed {
			color: #1e1e1f;
		}

		PLSUSBWiFiHelpView #topLeftBtn:disabled,
		PLSUSBWiFiHelpView #topRightBtn:disabled {
			color: #666666;
		}

		PLSUSBWiFiHelpView #topLeftBtn:checked,
		PLSUSBWiFiHelpView #topRightBtn:checked {
			color: #effc35;
		}

	PLSUSBWiFiHelpView #stackedWidget QWidget {
		background: #1e1e1f;
	}

	PLSUSBWiFiHelpView #googleBtn, PLSUSBWiFiHelpView #appleBtn {
		min-height: /*hdpi*/ 27px;
		max-height: /*hdpi*/ 27px;
		margin: /*hdpi*/ 0px;
		border: none;
		border-radius: 0px;
		background-color: #272727;
		background-repeat: no-repeat;
		background-position: center center;
	}

	PLSUSBWiFiHelpView #googleBtn {
		padding: /*hdpi*/ 18px /*hdpi*/ 14px /*hdpi*/ 13px /*hdpi*/ 15px;
		image: url(":/images/wifi-help/ic-mobile-google.png");
	}

		PLSUSBWiFiHelpView #googleBtn:hover {
			image: url(":/images/wifi-help/ic-mobile-google-over.png");
			background-color: #444444;
		}

		PLSUSBWiFiHelpView #googleBtn:pressed {
			image: url(":/images/wifi-help/ic-mobile-google-click.png");
			background-color: #222222;
		}

		PLSUSBWiFiHelpView #googleBtn:disabled {
			image: url(":/images/wifi-help/ic-mobile-google-disable.png");
			background-color: #272727;
		}

	PLSUSBWiFiHelpView #appleBtn {
		min-height: /*hdpi*/ 29px;
		max-height: /*hdpi*/ 29px;
		padding: /*hdpi*/ 17px /*hdpi*/ 10px /*hdpi*/ 12px /*hdpi*/ 9px;
		image: url(":/images/wifi-help/ic-mobile-apple.svg");
		background-color: #272727;
	}

		PLSUSBWiFiHelpView #appleBtn:hover {
			image: url(":/images/wifi-help/ic-mobile-apple-over.svg");
			background-color: #444444;
		}

		PLSUSBWiFiHelpView #appleBtn:pressed {
			image: url(":/images/wifi-help/ic-mobile-apple-click.svg");
			background-color: #222222;
		}

		PLSUSBWiFiHelpView #appleBtn:disabled {
			image: url(":/images/wifi-help/ic-mobile-apple-disable.svg");
			background-color: #272727;
		}

	PLSUSBWiFiHelpView PLSWiFiStackView, PLSUSBWiFiHelpView PLSUSBStackView {
		margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 10px /*hdpi*/ 0px;
	}

		PLSUSBWiFiHelpView PLSUSBStackView #ImageFrame {
			margin-top: /*hdpi*/ 35px;
		}

		PLSUSBWiFiHelpView PLSUSBStackView #pageLabel {
			min-height: /*hdpi*/ 235px;
			max-height: /*hdpi*/ 235px;
			min-width: /*hdpi*/ 230px;
			max-width: /*hdpi*/ 230px;
			image: url(":/images/wifi-help/img-usb-01.png");
			margin: 0px;
			padding: 0px;
			border: none;
		}

		PLSUSBWiFiHelpView PLSUSBStackView > #tipLabel {
			min-height: /*hdpi*/ 128px;
			max-height: /*hdpi*/ 128px;
			min-width: /*hdpi*/ 240px;
			margin: /*hdpi*/ 20px /*hdpi*/ 20px /*hdpi*/ 0px /*hdpi*/ 20px;
			color: #eaeaea;
			font-size: /*hdpi*/ 14px;
			font-weight: bold;
		}


PLSWiFiStackView #indicatorHome,
PLSWiFiStackView #indicatorOne,
PLSWiFiStackView #indicatorTwo,
PLSWiFiStackView #indicatorThree,
PLSWiFiStackView #indicatorFour {
	min-height: /*hdpi*/ 17px;
	max-height: /*hdpi*/ 17px;
	min-width: /*hdpi*/ 17px;
	max-width: /*hdpi*/ 17px;
	border: none;
}

	/*home*/
	PLSWiFiStackView #indicatorHome:!checked {
		image: url(:/images/wifi-help/ic-connectm-home-off-normal.svg);
	}

		PLSWiFiStackView #indicatorHome:!checked:hover {
			image: url(:/images/wifi-help/ic-connectm-home-off-over.svg);
		}

		PLSWiFiStackView #indicatorHome:!checked:pressed {
			image: url(:/images/wifi-help/ic-connectm-home-off-click.svg);
		}


	PLSWiFiStackView #indicatorHome:checked {
		image: url(:/images/wifi-help/ic-connectm-home-on-normal.svg);
	}

		PLSWiFiStackView #indicatorHome:checked:hover {
			image: url(:/images/wifi-help/ic-connectm-home-on-over.svg);
		}

		PLSWiFiStackView #indicatorHome:checked:pressed {
			image: url(:/images/wifi-help/ic-connectm-home-on-click.svg);
		}


	/*1*/
	PLSWiFiStackView #indicatorOne:!checked {
		image: url(":/images/wifi-help/ic-connectm-one-off-normal.svg");
	}

		PLSWiFiStackView #indicatorOne:!checked:hover {
			image: url(":/images/wifi-help/ic-connectm-one-off-over.svg");
		}

		PLSWiFiStackView #indicatorOne:!checked:pressed {
			image: url(":/images/wifi-help/ic-connectm-one-off-click.svg");
		}

	PLSWiFiStackView #indicatorOne:checked {
		image: url(:/images/wifi-help/ic-connectm-one-on-normal.svg);
	}

		PLSWiFiStackView #indicatorOne:checked:hover {
			image: url(:/images/wifi-help/ic-connectm-one-on-over.svg);
		}

		PLSWiFiStackView #indicatorOne:checked:pressed {
			image: url(:/images/wifi-help/ic-connectm-one-on-click.svg);
		}



	/*2*/
	PLSWiFiStackView #indicatorTwo:!checked {
		image: url(":/images/wifi-help/ic-connectm-two-off-normal.svg");
	}

		PLSWiFiStackView #indicatorTwo:!checked:hover {
			image: url(":/images/wifi-help/ic-connectm-two-off-over.svg");
		}

		PLSWiFiStackView #indicatorTwo:!checked:pressed {
			image: url(":/images/wifi-help/ic-connectm-two-off-click.svg");
		}

	PLSWiFiStackView #indicatorTwo:checked {
		image: url(":/images/wifi-help/ic-connectm-two-on-normal.svg");
	}

		PLSWiFiStackView #indicatorTwo:checked:hover {
			image: url(":/images/wifi-help/ic-connectm-two-on-over.svg");
		}

		PLSWiFiStackView #indicatorTwo:checked:pressed {
			image: url(":/images/wifi-help/ic-connectm-two-on-click.svg");
		}
	/*3*/
	PLSWiFiStackView #indicatorThree:!checked {
		image: url(":/images/wifi-help/ic-connectm-three-off-normal.svg");
	}

		PLSWiFiStackView #indicatorThree:!checked:hover {
			image: url(":/images/wifi-help/ic-connectm-three-off-over.svg");
		}

		PLSWiFiStackView #indicatorThree:!checked:pressed {
			image: url(":/images/wifi-help/ic-connectm-three-off-click.svg");
		}



	PLSWiFiStackView #indicatorThree:checked {
		image: url(":/images/wifi-help/ic-connectm-three-on-normal.svg");
	}

		PLSWiFiStackView #indicatorThree:checked:hover {
			image: url(":/images/wifi-help/ic-connectm-three-on-over.svg");
		}

		PLSWiFiStackView #indicatorThree:checked:pressed {
			image: url(":/images/wifi-help/ic-connectm-three-on-click.svg");
		}

	/*4*/
	PLSWiFiStackView #indicatorFour:!checked {
		image: url(":/images/wifi-help/ic-connectm-four-off-normal.svg");
	}

		PLSWiFiStackView #indicatorFour:!checked:hover {
			image: url(":/images/wifi-help/ic-connectm-four-off-over.svg");
		}

		PLSWiFiStackView #indicatorFour:!checked:pressed {
			image: url(":/images/wifi-help/ic-connectm-four-off-click.svg");
		}



	PLSWiFiStackView #indicatorFour:checked {
		image: url(":/images/wifi-help/ic-connectm-four-on-normal.svg");
	}

		PLSWiFiStackView #indicatorFour:checked:hover {
			image: url(":/images/wifi-help/ic-connectm-four-on-over.svg");
		}

		PLSWiFiStackView #indicatorFour:checked:pressed {
			image: url(":/images/wifi-help/ic-connectm-four-on-click.svg");
		}

PLSWiFiStackView #leftPageBtn,
PLSWiFiStackView #rightPageBtn {
	min-height: /*hdpi*/ 15px;
	max-height: /*hdpi*/ 15px;
	min-width: /*hdpi*/ 8px;
	max-width: /*hdpi*/ 8px;
	margin-top: 12px;
	padding: 0px;
	border: none;
}

PLSWiFiStackView #leftPageBtn {
	image: url(":/images/ic-ch-pre-normal.svg");
}

	PLSWiFiStackView #leftPageBtn:hover {
		image: url(":/images/ic-ch-pre-over.svg");
	}

	PLSWiFiStackView #leftPageBtn:pressed {
		image: url(":/images/ic-ch-pre-click.svg");
	}

	PLSWiFiStackView #leftPageBtn:disabled {
		image: url(":/images/ic-ch-pre-disable.svg");
	}

PLSWiFiStackView #rightPageBtn {
	image: url(":/images/ic-ch-next-normal.svg");
}

	PLSWiFiStackView #rightPageBtn:hover {
		image: url(":/images/ic-ch-next-over.svg");
	}

	PLSWiFiStackView #rightPageBtn:pressed {
		image: url(":/images/ic-ch-next-click.svg");
	}

	PLSWiFiStackView #rightPageBtn:disabled {
		image: url(":/images/ic-ch-next-disable.svg");
	}

PLSUSBWiFiHelpView PLSWiFiStackView #centerFrame {
	margin-top: /*hdpi*/ 15px;
}

PLSUSBWiFiHelpView PLSWiFiStackView #pageLabel {
	min-height: /*hdpi*/ 229px;
	max-height: /*hdpi*/ 229px;
	min-width: /*hdpi*/ 230px;
	max-width: /*hdpi*/ 230px;
	margin: 0px;
	padding: /*hdpi*/ 6px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/0px;
	border: none;
}

	PLSUSBWiFiHelpView PLSWiFiStackView #pageLabel[wifi_Image="0"] {
		image: url(":/images/wifi-help/img-wi-fi-01.png");
	}

	PLSUSBWiFiHelpView PLSWiFiStackView #pageLabel[wifi_Image="1"] {
		image: url(":/images/wifi-help/img-wi-fi-02.png");
	}

	PLSUSBWiFiHelpView PLSWiFiStackView #pageLabel[wifi_Image="2"] {
		image: url(":/images/wifi-help/img-wi-fi-03.png");
	}

	PLSUSBWiFiHelpView PLSWiFiStackView #pageLabel[wifi_Image="3"] {
		image: url(":/images/wifi-help/img-wi-fi-04.png");
	}

PLSUSBWiFiHelpView PLSWiFiStackView > #tipLabel {
	color: #eaeaea;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	min-height: /*hdpi*/ 128px;
	max-height: /*hdpi*/ 128px;
	min-width: /*hdpi*/ 240px;
	margin: /*hdpi*/ 22px /*hdpi*/ 20px /*hdpi*/ 0px /*hdpi*/ 20px;
}

PLSUSBWiFiHelpView PLSWiFiStackView #tipsBtn {
	color: #bababa;
	font-size: /*hdpi*/ 13px;
	font-weight: bold;
	border-radius: /*hdpi*/ 3px;
	padding-left: /*hdpi*/ 20px;
	padding-right: /*hdpi*/ 10px;
	min-height: /*hdpi*/ 40px;
	max-height: /*hdpi*/ 40px;
	background-color: #272727;
	margin: /*hdpi*/ 0px /*hdpi*/ 10px /*hdpi*/ 0px /*hdpi*/ 10px;
}

	PLSUSBWiFiHelpView PLSWiFiStackView #tipsBtn:hover {
		background-color: #444444;
	}

	PLSUSBWiFiHelpView PLSWiFiStackView #tipsBtn:pressed {
		background-color: #222222;
	}

	PLSUSBWiFiHelpView PLSWiFiStackView #tipsBtn:disabled {
		background-color: #272727;
	}


PLSUSBWiFiHelpView #stackedWidget PLSWiFiUSBTipView {
	background-color: #272727;
	max-height: /*hdpi*/ 111px;
	margin: /*hdpi*/ 0px /*hdpi*/ 10px /*hdpi*/ 0px /*hdpi*/ 10px;
	padding: /*hdpi*/ 9px /*hdpi*/ 9px /*hdpi*/ 30px /*hdpi*/ 19px;
	/*border: 1px solid red;*/
	border-radius: /*hdpi*/ 3px;
}


PLSUSBWiFiHelpView PLSWiFiUSBTipView #ContentFrame, PLSUSBWiFiHelpView PLSWiFiUSBTipView #ButtonFrame {
	background: transparent;
}

	PLSUSBWiFiHelpView PLSWiFiUSBTipView #ContentFrame #tipLabel {
		color: #effc35;
		font-size: /*hdpi*/ 14px;
		font-weight: bold;
		background-color: transparent;
		margin-top: /*hdpi*/ 10px;
		min-height: /*hdpi*/ 22px;
		max-height: /*hdpi*/ 22px;
	}



PLSUSBWiFiHelpView PLSWiFiUSBTipView #titleLabel {
	color: white;
	font-size: /*hdpi*/ 12px;
	font-weight: bold;
	background-color: transparent;
	margin-top: /*hdpi*/ 10px;
	min-height: /*hdpi*/ 22px;
	max-height: /*hdpi*/ 22px;
}

PLSUSBWiFiHelpView PLSWiFiUSBTipView #contentLabel {
	color: #bababa;
	font-size: /*hdpi*/ 12px;
	background-color: transparent;
	margin-top: /*hdpi*/ 5px;
}

PLSUSBWiFiHelpView PLSWiFiUSBTipView #closeBtn {
	min-height: /*hdpi*/ 22px;
	max-height: /*hdpi*/ 22px;
	min-width: /*hdpi*/ 22px;
	max-width: /*hdpi*/ 22px;
	background-color: transparent;
	image: url(":/images/btn-close-normal.svg");
}

	PLSUSBWiFiHelpView PLSWiFiUSBTipView #closeBtn:hover {
		image: url(":/images/btn-close-over.svg");
	}

	PLSUSBWiFiHelpView PLSWiFiUSBTipView #closeBtn:pressed {
		image: url(":/images/btn-close-click.svg");
	}

	PLSUSBWiFiHelpView PLSWiFiUSBTipView #closeBtn:disabled {
		image: url(":/images/close-btn-disable.svg");
	}
