PLSVirtualBackgroundDialog {
    min-height: /*hdpi*/ 510px;
	min-width: /*hdpi*/ 700px;
	/*background-color: red;*/
}

PLSVirtualBackgroundDialog .QPushButton,
PLSVirtualBackgroundDialog .QCheckBox,
PLSVirtualBackgroundDialog .QLabel {
     font-size:/*hdpi*/14px;
    font-weight: normal;
    background-color: transparent;
}



PLSVirtualBackgroundDialog #content {
	background-color: #1e1e1f;
}

PLSVirtualBackgroundDialog .QWidget,
PLSVirtualBackgroundDialog .QLabel,
PLSVirtualBackgroundDialog .QFrame,
PLSVirtualBackgroundDialog .QCheckBox,
PLSVirtualBackgroundDialog .QRadioButton,
PLSVirtualBackgroundDialog .QToolButton,
PLSVirtualBackgroundDialog .QTableView,
PLSVirtualBackgroundDialog .QHeaderView,
PLSVirtualBackgroundDialog .QScrollArea {
    background-color: transparent;
}

PLSVirtualBackgroundDialog .QPushButton[isBorderBtn="true"] {
	background-color: transparent;
	min-width:/*hdpi*/ 108px;
	max-width:/*hdpi*/ 108px;
	min-height:/*hdpi*/ 25px;
	max-height:/*hdpi*/ 25px; 

	font-size: /*hdpi*/12px;
	font-weight: bold;
	color: #bababa;
  	border-radius: /*hdpi*/3px;
 	border:/*hdpi*/1px solid #3d3d3d;
}

PLSVirtualBackgroundDialog .QPushButton[isBorderBtn="true"]:hover {
	border:/*hdpi*/1px solid white;
	color: white;
}

PLSVirtualBackgroundDialog .QPushButton[isBorderBtn="true"]:pressed {
	border:/*hdpi*/1px solid #222222;
	color: #222222;
}

PLSVirtualBackgroundDialog .QPushButton[isBorderBtn="true"]:disabled {
	border:/*hdpi*/1px solid #3d3d3d;
	color: #666666;
}

PLSVirtualBackgroundDialog QComboBox:disabled,
PLSVirtualBackgroundDialog QComboBox:disabled[status=error],
PLSVirtualBackgroundDialog QComboBox:disabled[status=normal] {
 background-color: #444444;
 color: #666666;
}


PLSVirtualBackgroundDialog #noSourceLabel{
    font-size: /*hdpi*/14px;
    font-weight: normal;
    color: #a3a3a3;
}

PLSVirtualBackgroundDialog #actionStackedWidget {
	min-height: /*hdpi*/190px;
	max-height: /*hdpi*/190px;
	/*background-color: red;*/
}
PLSVirtualBackgroundDialog #preBgWidget {
	min-height: /*hdpi*/ 200px;
	background-color: transparent;
}
PLSVirtualBackgroundDialog #preBgWidget #placeholderLabel {
	min-width:/*hdpi*/ 1px;
	max-width:/*hdpi*/1px;
	background-color: transparent;
}

/*blur video page*/

PLSVirtualBackgroundDialog  #blurControlButton {
	min-width:/*hdpi*/ 25px;
	max-width:/*hdpi*/ 25px;
	min-height:/*hdpi*/ 24px;
	max-height:/*hdpi*/ 24px;
	margin-right:/*hdpi*/10px;
}

PLSVirtualBackgroundDialog  #blurControlButton[isNormalModel="true"] {
	image:url(":/images/virtual/img-vbg-blur-on-normal.svg");
}

PLSVirtualBackgroundDialog #blurControlButton:hover[isNormalModel="true"] {
		image:url(":/images/virtual/img-vbg-blur-on-over.svg");
}

PLSVirtualBackgroundDialog #blurControlButton:pressed[isNormalModel="true"] {
		image:url(":/images/virtual/img-vbg-blur-on-click.svg");
}
PLSVirtualBackgroundDialog #blurControlButton:disabled[isNormalModel="true"] {
		image:url(":/images/virtual/img-vbg-blur-on-disable.svg");
}

PLSVirtualBackgroundDialog  #blurControlButton[isNormalModel="false"] {
	image:url(":/images/virtual/img-vbg-blur-off-normal.svg");
}

PLSVirtualBackgroundDialog #blurControlButton:hover[isNormalModel="false"] {
		image:url(":/images/virtual/img-vbg-blur-off-over.svg");
}

PLSVirtualBackgroundDialog #blurControlButton:pressed[isNormalModel="false"] {
		image:url(":/images/virtual/img-vbg-blur-off-click.svg");
}
PLSVirtualBackgroundDialog #blurControlButton:disabled[isNormalModel="false"] {
		image:url(":/images/virtual/img-vbg-blur-off-disable.svg");
}

PLSVirtualBackgroundDialog QSlider::groove:horizontal {
	background-color: #404040;
}
PLSVirtualBackgroundDialog QSlider::sub-page:horizontal:disabled { 
	background-color: transparent;
}

PLSVirtualBackgroundDialog #blurSlider {
    margin:0px;
}

PLSVirtualBackgroundDialog #blurSpinBox {
	background-color: #131313;
	min-width:/*hdpi*/ 72px;
	max-width:/*hdpi*/ 72px;
	min-height:/*hdpi*/ 40px;
	max-height:/*hdpi*/ 40px;
	margin-left:/*hdpi*/ 18px;
}

PLSVirtualBackgroundDialog  #helpButton {
	image:url(":/images/ic-help-off-normal.svg");
	min-width:/*hdpi*/ 22px;
	max-width:/*hdpi*/ 22px;
	min-height:/*hdpi*/ 22px;
	max-height:/*hdpi*/ 22px;
	background-color: transparent;
}
PLSVirtualBackgroundDialog #helpButton:hover {
	image:url(":/images/ic-help-off-over.svg");
}

PLSVirtualBackgroundDialog #motionCheckBox {
	spacing: /*hdpi*/ 6px;
}
PLSVirtualBackgroundDialog #motionCheckBox::disabled {
		color: #666666;
}
PLSVirtualBackgroundDialog #motionCheckBox::!disabled {
		color: #bababa;
}

/*edit image page*/
PLSVirtualBackgroundDialog #minButton {
	image:url(":/images/virtual/crop-large-icon.svg");
	min-width:/*hdpi*/ 19px;
	max-width:/*hdpi*/ 19px;
	min-height:/*hdpi*/ 19px;
	max-height:/*hdpi*/ 19px;
}

PLSVirtualBackgroundDialog #maxButton {
	image:url(":/images/virtual/crop-large-icon.svg");
	min-width:/*hdpi*/ 25px;
	max-width:/*hdpi*/ 25px;
	min-height:/*hdpi*/ 25px;
	max-height:/*hdpi*/ 25px;
}

PLSVirtualBackgroundDialog  #flipVButton,
PLSVirtualBackgroundDialog  #flipVButton[isNormalModel="true"] {
	image:url(":/images/virtual/btn-tb-on-normal.svg");
	min-width:/*hdpi*/ 33px;
	max-width:/*hdpi*/ 33px;
	min-height:/*hdpi*/ 27px;
	max-height:/*hdpi*/ 27px;
}

PLSVirtualBackgroundDialog #flipVButton[isNormalModel="true"]:hover {
		image:url(":/images/virtual/btn-tb-on-over.svg");
}

PLSVirtualBackgroundDialog #flipVButton[isNormalModel="true"]:pressed {
		image:url(":/images/virtual/btn-tb-on-click.svg");
}
PLSVirtualBackgroundDialog #flipVButton[isNormalModel="true"]:disabled {
		image:url(":/images/virtual/btn-tb-on-disable.svg");
}

PLSVirtualBackgroundDialog  #flipVButton[isNormalModel="false"] {
	image:url(":/images/virtual/btn-tb-off-normal.svg");
}

PLSVirtualBackgroundDialog #flipVButton[isNormalModel="false"]:hover {
		image:url(":/images/virtual/btn-tb-off-over.svg");
}

PLSVirtualBackgroundDialog #flipVButton[isNormalModel="false"]:pressed {
		image:url(":/images/virtual/btn-tb-off-click.svg");
}
PLSVirtualBackgroundDialog #flipVButton[isNormalModel="false"]:disabled {
		image:url(":/images/virtual/btn-tb-off-disable.svg");
}


PLSVirtualBackgroundDialog  #flipHButton,
PLSVirtualBackgroundDialog  #flipHButton[isNormalModel="true"] {
	image:url(":/images/virtual/btn-lr-on-normal.svg");
	min-width:/*hdpi*/ 33px;
	max-width:/*hdpi*/ 33px;
	min-height:/*hdpi*/ 27px;
	max-height:/*hdpi*/ 27px;
}

PLSVirtualBackgroundDialog #flipHButton[isNormalModel="true"]:hover {
		image:url(":/images/virtual/btn-lr-on-over.svg");
}

PLSVirtualBackgroundDialog #flipHButton[isNormalModel="true"]:pressed {
		image:url(":/images/virtual/btn-lr-on-click.svg");
}
PLSVirtualBackgroundDialog #flipHButton[isNormalModel="true"]:disabled {
		image:url(":/images/virtual/btn-lr-on-disable.svg");
}

PLSVirtualBackgroundDialog  #flipHButton[isNormalModel="false"] {
	image:url(":/images/virtual/btn-lr-off-normal.svg");
}

PLSVirtualBackgroundDialog #flipHButton[isNormalModel="false"]:hover {
		image:url(":/images/virtual/btn-lr-off-over.svg");
}

PLSVirtualBackgroundDialog #flipHButton[isNormalModel="false"]:pressed {
		image:url(":/images/virtual/btn-lr-off-click.svg");
}
PLSVirtualBackgroundDialog #flipHButton[isNormalModel="false"]:disabled {
		image:url(":/images/virtual/btn-lr-off-disable.svg");
}

PLSVirtualBackgroundDialog #moveGuideLabel {
	font-size: /*hdpi*/14px;
    font-weight: bold;
    color: #bababa;
}

/*ritht top view*/
PLSVirtualBackgroundDialog #rightBigWidget {
	min-width:/*hdpi*/ 299px;
	max-width:/*hdpi*/ 299px;
}

PLSVirtualBackgroundDialog #topRightWidget {
	min-height:/*hdpi*/ 122px;
	max-height:/*hdpi*/ 122px;
	/*background-color: blue;*/
}

PLSVirtualBackgroundDialog #topRightWidget #bgTitleLabel {
	padding-left: /*hdpi*/1px;
	font-size: /*hdpi*/14px;
  	font-weight: bold;
  	/*background-color: lightgray;*/
}

PLSVirtualBackgroundDialog #topRightWidget #originalBgButton,
PLSVirtualBackgroundDialog #topRightWidget #clearBgButton {
	min-width:/*hdpi*/ 128px;
	max-width:/*hdpi*/ 128px;
	min-height:/*hdpi*/ 72px;
	max-height:/*hdpi*/ 72px;
	background-color: transparent;
}

PLSVirtualBackgroundDialog #topRightWidget #boderLabel {
	background-color: transparent;
	border-radius: /*hdpi*/3px;
}

PLSVirtualBackgroundDialog #topRightWidget #originalBgButton[isKo="true"] {
		image:url(":/images/virtual/img-vbg-original-kr.svg");
}
PLSVirtualBackgroundDialog #topRightWidget #originalBgButton[isKo="false"]{
		image:url(":/images/virtual/img-vbg-original-en.svg");
}
PLSVirtualBackgroundDialog #topRightWidget #clearBgButton[isKo="true"]{
		image:url(":/images/virtual/img-vbg-bgdelete-kr.svg");
}
PLSVirtualBackgroundDialog #topRightWidget #clearBgButton[isKo="false"]{
		image:url(":/images/virtual/img-vbg-bgdelete-en.svg");
}

PLSVirtualBackgroundDialog #boderLabel[isNormalModel="false"]{
	border:/*hdpi*/2px solid transparent;
}

PLSVirtualBackgroundDialog #topRightWidget #boderLabel[isNormalModel="true"]{
	border:/*hdpi*/2px solid #effc35;
}

PLSVirtualBackgroundDialog #rightHLine ,
PLSVirtualBackgroundDialog #blurBottomLineLabel,
PLSVirtualBackgroundDialog #zoomBottomLineLabel {
    min-height: /*hdpi*/ 1px;
	max-height: /*hdpi*/ 1px;
	background-color: #2d2d2e;
	/*background-color: yellow;*/
}

PLSVirtualBackgroundDialog #rightHLine {
	margin-right:/*hdpi*/ 14px;
	margin-left:/*hdpi*/ 14px;
}


PLSVirtualBackgroundDialog #centerVLine {
	min-width: /*hdpi*/ 1px;
	max-width: /*hdpi*/ 1px;
	background-color: #111111;
	/*background-color: yellow;*/
}

PLSVirtualBackgroundDialog #noSourceLabel {
	min-width: /*hdpi*/350px;
}

PLSVirtualBackgroundDialog #motionListView {
	padding-left: /*hdpi*/ 14px;
}

PLSVirtualBackgroundDialog #preBgWidget PLSMotionErrorLayer {
	border-radius:/*hdpi*/0px;
	background-color: transparent;
	border: none;
}

PLSVirtualBackgroundDialog #preBgWidget PLSMotionErrorLayer #contentFrame {
	border-radius:/*hdpi*/3px;
	background-color: rgba(30, 30, 31, 95%);
	border: /*hdpi*/1px solid rgba(255, 255, 255, 10%);
}

PLSVirtualBackgroundDialog #preBgWidget PLSMotionErrorLayer #titleLabel {
	font-size:/*hdpi*/12px;
	color: #bababa;
}

PLSVirtualBackgroundDialog #preBgWidget PLSMotionErrorLayer #closeButton {
	min-width:/*hdpi*/13px;
	max-width:/*hdpi*/13px;
    min-height:/*hdpi*/13px;
	max-height:/*hdpi*/13px;
	border-style: none;
	background-color: transparent;
	image:url(:/images/virtual/close-btn-s-normal.svg);
}