 VolControl QSlider::groove:horizontal {
    background-color: #555555;
	height:/*hdpi*/ 4px;
	border:/*hdpi*/ none;
}
VolControl QSlider {
	min-height: /*hdpi*/ 22px;
	max-height: /*hdpi*/ 22px;
	margin-left: /*hdpi*/ 2px;
}
VolControl QSlider::handle:horizontal[enter="false"] {
	image: url(":/images/img-handle-normal.svg");
	height: /*hdpi*/ 14px;
	width: /*hdpi*/ 14px;
	margin: /*hdpi*/ -5px /*hdpi*/ 0px /*hdpi*/ -5px /*hdpi*/ 0px;
}
 VolControl QSlider::handle:horizontal[enter="true"] {
	image:url(":/images/img-handle-over.svg");
	height:/*hdpi*/ 18px;
	width:/*hdpi*/ 18px;
    margin:/*hdpi*/-7px/*hdpi*/0px/*hdpi*/-7px/*hdpi*/0px;
}
VolControl  QSlider::sub-page:horizontal {
    background-color: #444444;
}

VolControl QSlider::add-page:horizontal{
    background-color: #131314;
}
VolControl  QSlider::sub-page:horizontal:disabled {
    background-color: #2c2c2c;
}
VolControl  QSlider::handle:disabled[enter="false"] {
	image:url(":/images/img-handle-disable.svg");
	height:/*hdpi*/ 14px;
	width:/*hdpi*/ 14px;
    margin:/*hdpi*/-5px/*hdpi*/0px/*hdpi*/-5px/*hdpi*/0px;
}

VolControl #volumeMonitorCheck {
	qproperty-minimumSize:/*hdpi*/28px /*hdpi*/17px;
	qproperty-maximumSize:/*hdpi*/28px /*hdpi*/17px;
}
VolControl #volumeMonitorCheck::indicator {
	width: /*hdpi*/ 28px;
	height: /*hdpi*/ 17px;
}

VolControl #volumeMonitorCheck::indicator:disabled {
	image:url(":/images/slider-off-disable.svg");
}

VolControl #volumeMonitorCheck::indicator:checked {
	image:url(":/images/slider-on.svg");
}

VolControl #volumeMonitorCheck::indicator:checked:hover {
	image:url(":/images/slider-on-over.svg");
}

VolControl #volumeMonitorCheck::indicator:checked:disabled {
	image:url(":/images/slider-on-disable.svg");
}

VolControl #volumeMonitorCheck::indicator:checked:pressed {
	image:url(":/images/slider-on-click.svg");
}

VolControl #volumeMonitorCheck::indicator:unchecked {
	image:url(":/images/slider-off-default.svg");
}

VolControl #volumeMonitorCheck::indicator:unchecked:hover {
	image:url(":/images/slider-off-over.svg");
}

VolControl #volumeMonitorCheck::indicator:unchecked:disabled{
	image:url(":/images/slider-off-disable.svg");
}

VolControl #volumeMonitorCheck::indicator:unchecked:pressed{
	image:url(":/images/slider-off-click.svg");
}


VolumeMeter {
    qproperty-backgroundNominalColor: rgb(33, 72, 46);
    qproperty-backgroundWarningColor: rgb(99, 94, 39);
    qproperty-backgroundErrorColor: rgb(85, 34, 34);
    qproperty-foregroundNominalColor: rgb(76, 255, 76);
    qproperty-foregroundWarningColor: rgb(255, 255, 76);
    qproperty-foregroundErrorColor: rgb(255, 76, 76);
    qproperty-magnitudeColor: rgb(0, 0, 0);
}

VolControl #audioMixerNameLabel, VolControl #volumeValueLabel
{
	font-size:/*hdpi*/14px;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.9)
}
VolControl #volumeSperatorLabel
{
	qproperty-minimumSize:/*hdpi*/3px/*hdpi*/3px;
	qproperty-maximumSize:/*hdpi*/3px/*hdpi*/3px;
	border-radius:/*hdpi*/1px;
	background-color:#666666;
}
VolControl #volumeMenuButton{
    qproperty-maximumSize:/*hdpi*/22px/*hdpi*/22px;
    qproperty-minimumSize:/*hdpi*/22px/*hdpi*/22px;
    border-style: none;
    background-color: transparent;
	image:url(":/images/icon-more-default.svg");
}

VolControl #volumeMenuButton:hover{
	image:url(":/images/icon-more-over.svg");
}

VolControl #volumeMenuButton:pressed{
	image:url(":/images/icon-more-click.svg");
}


VolControl MuteCheckBox {
    outline: none;
	qproperty-minimumSize:/*hdpi*/22px /*hdpi*/22px;
	qproperty-maximumSize:/*hdpi*/22px /*hdpi*/22px;
}
VolControl MuteCheckBox::indicator {
	width: /*hdpi*/ 22px;
	height: /*hdpi*/ 22px;
}
VolControl MuteCheckBox::indicator:checked {
	image:url(":/images/sound-off-normal.svg");
}
VolControl MuteCheckBox::indicator:checked:hover {
	image:url(":/images/sound-off-over.svg");
}
VolControl MuteCheckBox::indicator:checked:pressed {
	image:url(":/images/sound-off-click.svg");
}
VolControl MuteCheckBox::indicator:unchecked {
	image:url(":/images/sound-on-normal.svg");
}
VolControl MuteCheckBox::indicator:unchecked:hover {
	image:url(":/images/sound-on-over.svg");
}
VolControl MuteCheckBox::indicator:unchecked:pressed {
	image:url(":/images/sound-on-click.svg");
}
