

PLSDialogView #PLSChangePasswordView {
	min-width: /*hdpi*/ 342px;
	min-height: /*hdpi*/ 350px;
	max-width: /*hdpi*/ 342px;
	max-height: /*hdpi*/ 350px;
	qproperty-hasHLine: /*hdpi*/ false;
	qproperty-hasMinButton: /*hdpi*/ true;
	qproperty-isMoveInContent: /*hdpi*/ true;
	qproperty-closeButtonMarginRight: /*hdpi*/ 10;
	qproperty-captionBkgColor: #2c2c2c;
	qproperty-contentBkgColor: #2c2c2c;
}

#PLSChangePasswordView > #titleBar, #PLSChangePasswordView > #titleBar > #titleLabel {
	background-color: #2c2c2c;
}

#PLSChangePasswordView > #label, #PLSChangePasswordView > #titleBar > #min, #PLSChangePasswordView > #titleBar > #close {
	background-color: #2c2c2c;
}

#PLSChangePasswordView #frame {
	border: /*hdpi*/ none;
	background-color: #2c2c2c;
}

#PLSChangePasswordView PLSBrowserView > #close {
	background-color: #2c2c2c;
}

#PLSChangePasswordView #cancelBtn {
	qproperty-minimumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	padding: /*hdpi*/ 0px;
	border-top: /*hdpi*/ 0px none #ff000000;
	border-right: /*hdpi*/ 0px none #ff000000;
	border-bottom: /*hdpi*/ 0px none #ff000000;
	border-left: /*hdpi*/ 0px none #ff000000;
	border-radius: /*hdpi*/ 3px;
	background: #444444;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #ffffff;
}

#PLSChangePasswordView #cancelBtn:hover {
	background: #555555;
	color: #ffffff;
}

#PLSChangePasswordView #cancelBtn:pressed {
	background: #2d2d2d;
	color: #ffffff;
}

#PLSChangePasswordView #okBtn[status="false"] {
	qproperty-minimumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	padding: /*hdpi*/ 0px;
	border-top: /*hdpi*/ 0px none #ff000000;
	border-right: /*hdpi*/ 0px none #ff000000;
	border-bottom: /*hdpi*/ 0px none #ff000000;
	border-left: /*hdpi*/ 0px none #ff000000;
	border-radius: /*hdpi*/ 3px;
	background: #444444;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #777777;
	image: none;
}

#PLSChangePasswordView #okBtn[status="true"] {
	qproperty-minimumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	padding: /*hdpi*/ 0px;
	border-top: /*hdpi*/ 0px none #ff000000;
	border-right: /*hdpi*/ 0px none #ff000000;
	border-bottom: /*hdpi*/ 0px none #ff000000;
	border-left: /*hdpi*/ 0px none #ff000000;
	border-radius: /*hdpi*/ 3px;
	background: #444444;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #ffffff;
	image: none;
}

#PLSChangePasswordView #okBtn:hover[status="true"] {
	background: #555555;
	color: #ffffff;
	image: none;
}

#PLSChangePasswordView #okBtn:pressed[status="true"] {
	background: #2d2d2d;
	color: #ffffff;
	image: none;
}

#PLSChangePasswordView #changepasswordTipsLabel {
	min-height: /*hdpi*/ 30px;
	max-height: /*hdpi*/ 30px;
	font-size: /*hdpi*/ 12px;
	color: #d32f2f;
	background-color: #2c2c2c;
}

#PLSChangePasswordView #changePasswordLabel {
	min-height: /*hdpi*/ 28px;
	max-height: /*hdpi*/ 28px;
	font-size: /*hdpi*/ 20px;
	font-weight: bold;
	color: #f1fd56;
	background-color: #2c2c2c;
}

#PLSChangePasswordView #currentPasswordLineEdit, #newPasswordLineEdit {
	qproperty-minimumSize: /*hdpi*/ 292px /*hdpi*/ 48px;
	qproperty-maximumSize: /*hdpi*/ 292px /*hdpi*/ 48px;
	border-radius: /*hdpi*/ 3px;
	background-color: #ffffff;
	padding-right: /*hdpi*/ 50px;
	padding-left: /*hdpi*/ 20px;
	font-size: /*hdpi*/ 14px;
	color: #ff000000;
	text-alignment: vertical;
}

#PLSChangePasswordView #newPasswordLineEdit {
	min-height: /*hdpi*/ 48px;
	max-height: /*hdpi*/ 48px;
	border-radius: /*hdpi*/ 3px;
	background-color: #ffffff;
	padding-right: /*hdpi*/ 50px;
	padding-left: /*hdpi*/ 20px;
	font-size: /*hdpi*/ 14px;
	color: #ff000000;
	text-alignment: vertical;
}

#PLSChangePasswordView #currentPasswordLineEdit QPushButton[password="true"], #newPasswordLineEdit QPushButton[password="true"] {
	background-color: transparent;
	qproperty-minimumSize: /*hdpi*/ 36px /*hdpi*/ 36px;
	qproperty-maximumSize: /*hdpi*/ 36px /*hdpi*/ 36px;
	image: url(":/images/invisible.svg");
}

#PLSChangePasswordView #currentPasswordLineEdit QPushButton[password="false"], #newPasswordLineEdit QPushButton[password="false"] {
	background-color: transparent;
	qproperty-minimumSize: /*hdpi*/ 36px /*hdpi*/ 36px;
	qproperty-maximumSize: /*hdpi*/ 36px /*hdpi*/ 36px;
	image: url(":/images/visible.svg");
}

#PLSChangePasswordView #forgotPasswordBtn {
	padding: /*hdpi*/ 0px;
	min-height: /*hdpi*/ 16px;
	max-height: /*hdpi*/ 16px;
	color: #a3a3a3;
	font-size: /*hdpi*/ 12px;
	font-weight: normal;
	background-color: transparent;
}

#PLSChangePasswordView #forgotPasswordBtn:hover {
	color: #ffffff;
}

#PLSChangePasswordView #forgotPasswordBtn:pressed {
	color: #666666;
}



#PLSResetPasswordEmailView {
	min-width: /*hdpi*/ 340px;
	min-height: /*hdpi*/ 348px;
	max-width: /*hdpi*/ 340px;
	max-height: /*hdpi*/ 348px;
	border: /*hdpi*/ 1px solid #111111;
	qproperty-hasHLine: /*hdpi*/ false;
	qproperty-hasMinButton: /*hdpi*/ true;
	qproperty-isMoveInContent: /*hdpi*/ true;
	qproperty-closeButtonMarginRight: /*hdpi*/ 10;
	qproperty-captionBkgColor: #2c2c2c;
	qproperty-contentBkgColor: #2c2c2c;
}

#PLSResetPasswordEmailView > #titleBar, #PLSResetPasswordEmailView > #titleBar > #titleLabel {
	background-color: #2c2c2c;
}

#PLSResetPasswordEmailView > #label, #PLSResetPasswordEmailView > #titleBar > #min, #PLSResetPasswordEmailView > #titleBar > #close {
	background-color: #2c2c2c;
}

#PLSResetPasswordEmailView PLSBrowserView > #close {
	background-color: #2c2c2c;
}

#PLSResetPasswordEmailView #cancelBtn {
	qproperty-minimumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	padding: /*hdpi*/ 0px;
	border-top: /*hdpi*/ 0px none #ff000000;
	border-right: /*hdpi*/ 0px none #ff000000;
	border-bottom: /*hdpi*/ 0px none #ff000000;
	border-left: /*hdpi*/ 0px none #ff000000;
	border-radius: /*hdpi*/ 3px;
	background: #444444;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #ffffff;
	;
}

#PLSResetPasswordEmailView #cancelBtn:hover {
	background: #555555;
	color: #ffffff;
}

#PLSResetPasswordEmailView #cancelBtn:pressed {
	background: #2d2d2d;
	color: #ffffff;
}

#PLSResetPasswordEmailView #emailAddressLineEdit {

    	qproperty-minimumSize: /*hdpi*/ 292px /*hdpi*/ 48px;
	qproperty-maximumSize: /*hdpi*/ 292px /*hdpi*/ 48px;
	border-radius: /*hdpi*/ 3px;
	background: #ffffffff;
	padding-right: /*hdpi*/ 20px;
	padding-left: /*hdpi*/ 20px;
	font-size: /*hdpi*/ 14px;
	color: #ff000000;
}

#PLSResetPasswordEmailView #forgotPasswordLabel {
	min-height: /*hdpi*/ 24px;
	max-height: /*hdpi*/ 24px;
	font-size: /*hdpi*/ 18px;
	font-weight: bold;
	color: #f1fd56;
	background-color: #2c2c2c;
}

#PLSResetPasswordEmailView #resetPasswordTipsLabel {
	font-size: /*hdpi*/ 12px;
	color: #6a6a6a;
	background-color: #2c2c2c;
}

#PLSResetPasswordEmailView #frame {
	border: /*hdpi*/ none;
	background-color: #2c2c2c;
}

#PLSResetPasswordEmailView #okBtn[status="disable"] {
	qproperty-minimumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	padding: /*hdpi*/ 0px;
	border-top: /*hdpi*/ 0px none #ff000000;
	border-right: /*hdpi*/ 0px none #ff000000;
	border-bottom: /*hdpi*/ 0px none #ff000000;
	border-left: /*hdpi*/ 0px none #ff000000;
	border-radius: /*hdpi*/ 3px;
	background: #444444;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #777777;
	image: none;
}

#PLSResetPasswordEmailView #okBtn[status="enable"] {
	qproperty-minimumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 140px /*hdpi*/ 40px;
	padding: /*hdpi*/ 0px;
	border-top: /*hdpi*/ 0px none #ff000000;
	border-right: /*hdpi*/ 0px none #ff000000;
	border-bottom: /*hdpi*/ 0px none #ff000000;
	border-left: /*hdpi*/ 0px none #ff000000;
	border-radius: /*hdpi*/ 3px;
	background: #444444;
	font-size: /*hdpi*/ 14px;
	font-weight: bold;
	color: #ffffff;
	image: none;
}

#PLSResetPasswordEmailView #okBtn:hover[status="enable"] {
	background: #555555;
	color: #ffffff;
	image: none;
}

#PLSResetPasswordEmailView #okBtn:pressed[status="enable"] {
	background: #2d2d2d;
	color: #ffffff;
	image: none;
}
