PLSDock#scenesDock PLSDockTitle{
	qproperty-marginLeft:/*hdpi*/19;
	qproperty-marginRight:/*hdpi*/9;
	qproperty-contentSpacing:/*hdpi*/10;
	qproperty-captionHeight:/*hdpi*/50;
}

PLSDock#scenesDock {
	qproperty-contentMarginLeft: /*hdpi*/ 1;
	qproperty-contentMarginRight: /*hdpi*/ 1;
	qproperty-contentMarginBottom: /*hdpi*/ 1;
	background-color: #272727;
	background-color: #272727;
	min-width: /*hdpi*/ 186px;
	min-height: /*hdpi*/ 218px;
}

PLSDock#scenesDock PLSPopupMenu PLSPopupMenuItem QLabel{
	background-color: transparent;
}
PLSDock#scenesDock PLSPopupMenu {
	min-width:/*hdpi*/ 180px;
	max-width:/*hdpi*/ 180px;
}
