/*******termOfAgreeView*********/

#TermsOfAgreeView {
    max-width:730px;
    max-height:510px;
    min-width:730px;
    min-height:510px;
    qproperty-hasHLine: false;
    qproperty-hasMinButton: true;
    qproperty-isMoveInContent: true;
    qproperty-captionButtonMargin: 10;
    qproperty-captionBkgColor: #1e1e1f;
    qproperty-contentBkgColor: #1e1e1f;
}
#TermsOfAgreeView > #titleBar, #TermsOfAgreeView > #titleBar > #titleLabel  {
    color: #1e1e1f;
    background-color: #1e1e1f;
}
#TermsOfAgreeView > #label, #TermsOfAgreeView > #titleBar > #min, #TermsOfAgreeView > #titleBar > #close {
    background-color: #1e1e1f;
}
#TermsOfAgreeView, #TermsOfAgreeView QWidget {
    background-color: #1e1e1f;
}
#TermsOfAgreeView PLSBrowserView > #close, #TermsOfAgreeView PLSBrowserView QWidget {
    background-color: #333333;
}

#TermsOfAgreeView #titleLabel
{
    min-width:155px;
    font-size:20px;
    font-weight:bold;
    color:#fff1fd56;
    background-color:#1e1e1f;
}
#TermsOfAgreeView QTextEdit
{
    border: none;
}
#TermsOfAgreeView #backButton
{
	border:none;
    min-width:42px;
    min-height:14px;
    max-width:42px;
    max-height:14px;
    font-size:14px;
    font-weight:bold;
    color:#ffeffc35;
	border-image:none;
}
#TermsOfAgreeView #backButton:hover
{
	border-image:none;
}
#TermsOfAgreeView #backButton:pressed
{
	border-image:none;
    color:#ff7C7F43;
}

#TermsOfAgreeView #agreeButton:hover[status="enable"]
{
	border-image:none;
    background:#ffF1FA75;
}

#TermsOfAgreeView #agreeButton:pressed[status="enable"]
{
	border-image:none;
    background:#ff7A7F34;
}

#TermsOfAgreeView #agreeButton[status="enable"]
{
    qproperty-minimumSize:630px 48px;
    qproperty-maximumSize:630px 48px;
    border-radius: 3px;
    background:#ffeffc35;
    font-size:14px;
	font-weight:bold;
    color:#ff000000;
	border-image:none;

}
#TermsOfAgreeView #agreeButton[status="disable"]
{
    qproperty-minimumSize:630px 48px;
    qproperty-maximumSize:630px 48px;
    border-radius: 3px;
    background:#ff363636;
    font-size:14px;
	font-weight:bold;
    color:#777777;
	border-image:none;

}
#TermsOfAgreeView #termOfUserCheckBox
{
    font-size:14px;
}
#TermsOfAgreeView #InfoCheckBox
{
    font-size:14px;
}