/******resetPasswordEmail****/

#PLSResetPasswordEmailView {
    min-width:340px;
    min-height:348px;
    max-width:340px;
    max-height:348px;
	border:1px solid #111111;
    qproperty-hasHLine: false;
    qproperty-hasMinButton: true;
    qproperty-isMoveInContent: true;
    qproperty-closeButtonMarginRight: 10;
	qproperty-captionBkgColor:#2c2c2c;
	qproperty-contentBkgColor:#2c2c2c;
}

#PLSResetPasswordEmailView > #titleBar, #PLSResetPasswordEmailView > #titleBar > #titleLabel {
    background-color: #2c2c2c;
}
#PLSResetPasswordEmailView > #label, #PLSResetPasswordEmailView > #titleBar > #min, #PLSResetPasswordEmailView > #titleBar > #close {
    background-color: #2c2c2c;
}

#PLSResetPasswordEmailView PLSBrowserView > #close{
    background-color: #2c2c2c;
}

#PLSResetPasswordEmailView #cancelBtn
{
    qproperty-minimumSize 140px 40px;
    qproperty-maximumSize 140px 40px;
	padding:0px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
	border-radius:3px;
    background:#444444;
    font-size:14px;
	font-weight:bold;
    color:#ffffff;;
}

#PLSResetPasswordEmailView #cancelBtn:hover
{
    background:#555555;
    color:#ffffff;
}
#PLSResetPasswordEmailView #cancelBtn:pressed
{
    background:#2d2d2d;
    color:#ffffff;
}
#PLSResetPasswordEmailView #emailAddressLineEdit
{
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background:#ffffffff;
    padding-right:20px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;

}

#PLSResetPasswordEmailView #forgotPasswordLabel
{
    min-height:24px;
    max-height:24px;
    font-size:18px;
    font-weight:bold;
    color:#f1fd56;
	background-color:#2c2c2c;
}
#PLSResetPasswordEmailView #resetPasswordTipsLabel
{
    font-size:12px;
    color:#6a6a6a;
	background-color:#2c2c2c;
}
#PLSResetPasswordEmailView #frame
{
    border:none;
	background-color:#2c2c2c;
}
#PLSResetPasswordEmailView #okBtn[status="disable"]
{
    qproperty-minimumSize 140px 40px;
    qproperty-maximumSize 140px 40px;
	padding:0px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
	border-radius:3px;
	background:#444444;
    font-size:14px;
	font-weight:bold;
    color:#777777;
	border-image:none;
}

#PLSResetPasswordEmailView #okBtn[status="enable"]
{
    qproperty-minimumSize 140px 40px;
    qproperty-maximumSize 140px 40px;
	padding:0px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
	border-radius:3px;
    background:#444444;
    font-size:14px;
	font-weight:bold;
    color:#ffffff;
	border-image:none;
}
#PLSResetPasswordEmailView #okBtn:hover[status="enable"]
{
    background:#555555;
    color:#ffffff;
		border-image:none;
}
#PLSResetPasswordEmailView #okBtn:pressed[status="enable"]
{
    background:#2d2d2d;
    color:#ffffff;
		border-image:none;
}

/***change password***/

PLSDialogView #PLSChangePasswordView {
    min-width:342px;
    min-height:350px;
    max-width:342px;
    max-height:350px;
    qproperty-hasHLine: false;
    qproperty-hasMinButton: true;
    qproperty-isMoveInContent: true;
    qproperty-closeButtonMarginRight: 10;
    qproperty-captionBkgColor: #2c2c2c;
    qproperty-contentBkgColor: #2c2c2c;
    background-color: #2c2c2c;
}

#PLSChangePasswordView > #titleBar, #PLSChangePasswordView > #titleBar > #titleLabel {
    background-color: #2c2c2c;
}
#PLSChangePasswordView > #label, #PLSChangePasswordView > #titleBar > #min, #PLSChangePasswordView > #titleBar > #close {
    background-color: #2c2c2c;
}
#PLSChangePasswordView, PLSDialogView #PLSChangePasswordView QWidget {
    background-color: #2c2c2c;
}
#PLSChangePasswordView PLSBrowserView > #close, #PLSChangePasswordView PLSBrowserView QWidget {
    background-color: #2c2c2c;
}

#PLSChangePasswordView #cancelBtn
{
    qproperty-minimumSize 140px 40px;
    qproperty-maximumSize 140px 40px;
	padding:0px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
	border-radius:3px;
    background:#444444;
    font-size:14px;
	font-weight:bold;
    color:#ffffff;;
}

#PLSChangePasswordView #cancelBtn:hover
{
    background:#555555;
    color:#ffffff;
}
#PLSChangePasswordView #cancelBtn:pressed
{
    background:#2d2d2d;
    color:#ffffff;
}

#PLSChangePasswordView #okBtn[status="false"]
{
    qproperty-minimumSize 140px 40px;
    qproperty-maximumSize 140px 40px;
	padding:0px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
	border-radius:3px;
	background:#444444;
    font-size:14px;
	font-weight:bold;
    color:#777777;
	border-image:none;
}

#PLSChangePasswordView #okBtn[status="true"]
{
    qproperty-minimumSize 140px 40px;
    qproperty-maximumSize 140px 40px;
	padding:0px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
	border-radius:3px;
    background:#444444;
    font-size:14px;
	font-weight:bold;
    color:#ffffff;
	border-image:none;
}
#PLSChangePasswordView #okBtn:hover[status="true"]
{
    background:#555555;
    color:#ffffff;
		border-image:none;
}
#PLSChangePasswordView #okBtn:pressed[status="true"]
{
    background:#2d2d2d;
    color:#ffffff;
	border-image:none;
}

#PLSChangePasswordView #changepasswordTipsLabel
{
	min-height:30px;
	max-height:30px;
    font-size:12px;
    color:#d32f2f;
}
#PLSChangePasswordView #changePasswordLabel
{
	min-height:27px;
    max-height:27px;
    font-size:20px;
    font-weight:bold;
    color:#f1fd56;
}
#PLSChangePasswordView #currentPasswordLineEdit, #newPasswordLineEdit
{
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background-color: #ffffff;
    padding-right:50px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;
}
#PLSChangePasswordView #newPasswordLineEdit
{
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background-color: #ffffff;
    padding-right:50px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;
}
#PLSChangePasswordView #currentPasswordLineEdit QPushButton[password="true"],#newPasswordLineEdit QPushButton[password="true"]
{
    background-color:transparent;
	qproperty-minimumSize:36px 36px;
	qproperty-maximumSize:36px 36px;
    border-image:url(":/image/Dark/invisible.png");
}
#PLSChangePasswordView #currentPasswordLineEdit QPushButton[password="false"],#newPasswordLineEdit QPushButton[password="false"]
{
    background-color:transparent;
	qproperty-minimumSize:36px 36px;
	qproperty-maximumSize:36px 36px;
    border-image:url(":/image/Dark/visible.png");
}

#PLSChangePasswordView #forgotPasswordBtn
{
	padding:0px;
	min-height:16px;
	max-height:16px;
	color:#a3a3a3;
	font-size:12px;
	font-weight:normal;
	background-color:transparent;
}
#PLSChangePasswordView #forgotPasswordBtn:hover
{
	color:#ffffff;
}
#PLSChangePasswordView #forgotPasswordBtn:pressed
{
color:#666666;
}
