/* login */

PLSLoginView {
    min-width:730px;
    min-height:510px;
    max-width:730px;
    max-height:510px;
    qproperty-hasHLine: false;
    qproperty-hasMinButton: true;
    qproperty-isMoveInContent: true;
    qproperty-captionBkgColor: #1e1e1f;
    qproperty-contentBkgColor: #1e1e1f;
    qproperty-captionButtonMargin:10;
    color:#1e1e1f;
}
PLSLoginView > #titleBar, PLSLoginView > #titleBar > #titleLabel  {
    color: #1e1e1f;
    background-color: #1e1e1f;
}
PLSLoginView > #label, PLSLoginView > #titleBar > #min, PLSLoginView > #titleBar > #close {
    background-color: #1e1e1f;
}

PLSLoginView PLSBrowserView > #close, PLSLoginView PLSBrowserView QWidget {
    background-color: #333333;
}

#PLSLoginView #LoginBackgroundView, #PLSLoginView #LoginWithEmailView, #PLSLoginView #SignupWithEmailView
{
    background-color: #1e1e1f;
}
#PLSLoginView #loginMainStackedWidget
{
    background-color: #1e1e1f;
}
#SelectLoginPlatformView #scrollAreaWidgetContents
{
	background-color: #1e1e1f;
}

#loginPrismLogoLabel
{
    min-width: /*hdpi:int*/ 255px;
    min-height: /*hdpi:int*/ 230px;
    max-width: /*hdpi:int*/ 255px;
    max-height: /*hdpi:int*/ 230px;
	background-color: #1e1e1f;

}
#loginPrismInfoLabel{
    font-size:12px;
    color: #6a6a6a;
	background-color: #1e1e1f;

}
LoginBackgroundView #loginTermsOfUseBtn, #loginTermsOfUseBtn2,#loginPrivacyPolicyBtn
{
    border: none;
    font-size: /*hdpi:int*/ 12px;
    color: #a3a3a3;
    background-color: #1e1e1f;
}
LoginBackgroundView #loginPrivacyPolicyBtn:hover,#loginTermsOfUseBtn:hover ,#loginTermsOfUseBtn2:hover
{
    color:#ffeffc35;
}
LoginBackgroundView #loginPrivacyPolicyBtn:pressed, #loginTermsOfUseBtn:pressed,#loginTermsOfUseBtn2:pressed
{
    color:#ff7C7F43;
    background-color: #1e1e1f;
}

LoginBackgroundView  #loginAndLabel, #defaultNotAMemberLabel,#loginEndLabel
{
    font-size: /*hdpi:int*/ 12px;
    color: #6a6a6a;
	background-color: #1e1e1f;
}

#SelectLoginPlatformView #defaultSignupBtn
{
    min-width:46px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
    font-size:12px;
	font-weight:bold;
    color:#ffeffc35;
	background-color: #1e1e1f;

}

QPushButton > #picButtonLabel {
    background: transparent;
}

#SelectLoginPlatformView #defaultSignupBtn:hover
{
    background-color: #1e1e1f;
}
#SelectLoginPlatformView #defaultSignupBtn:pressed
{
    color:#ff7C7F43;
	background-color: #1e1e1f;

}
#SelectLoginPlatformView #defaultTipsLabel
{
    min-width:292px;
    max-width:292px;
    min-height:9px;
    max-height:9px;
    border-image:url(":/image/Dark/or.png");
}
#SelectLoginPlatformView LoginCustomButton QLabel{
    background-color: transparent;
	background-position:center;
}
#SelectLoginPlatformView LoginCustomButton
{
    qproperty-maximumSize:292px 48px;
    qproperty-minimumSize:292px 48px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
	border-radius: 2px;
    background-color:#444444;
    font-size:14px;
	font-weight:bold;
    color:#ffffffff;
	border-image:none;
	padding-top:15px;
	padding-bottom:15px;
}

#SelectLoginPlatformView LoginCustomButton:hover
{
	border-image:none;
    background:#555555;
}
#SelectLoginPlatformView LoginCustomButton:pressed
{
	border-image:none;
    background:#2d2d2d;
}

#SelectLoginPlatformView #scrollArea
{
    border:none;
	qproperty-min-height:338px;
}
#defaultLoginWithEmailBtn
{
    qproperty-minimumSize: 292px 48px;
    qproperty-maximumSize: 292px 48px;
	border-radius: 2px;
	border: 1px solid #6a6a6a;
    background-color:#ff1e1e1f;
    font-size:14px;
	font-weight:bold;
    color:#ffffffff;
	border-image:none;
}

 #defaultLoginWithEmailBtn:hover
{
    background:#ff555555;
	border-image:none;
}
 #defaultLoginWithEmailBtn:pressed
{
    background:#ff2d2d2d;
	border-image:none;
}


/*******loginWithEmail**********/


#LoginWithEmailView  QWidget
{
	background-color: #1e1e1f;
	background:#1e1e1f;
}
#LoginWithEmailView #loginEmailAddressLineEdit
{
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background:#ffffffff;
    padding-right:20px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;
}

#LoginWithEmailView #loginPasswordLineEdit
{
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background-color: #ffffff;
    padding-right:50px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;

}
#LoginWithEmailView #loginPasswordLineEdit QPushButton[password="true"]
{
    background-color:transparent;
	qproperty-minimumSize:36px 36px;
	qproperty-maximumSize:36px 36px;
    border-image:url(":/image/Dark/invisible.png");
}
#LoginWithEmailView #loginPasswordLineEdit QPushButton[password="false"]
{
    background-color:transparent;
	qproperty-minimumSize:36px 36px;
	qproperty-maximumSize:36px 36px;
    border-image:url(":/image/Dark/visible.png");
}

#LoginWithEmailView #loginBtn:hover[status="enable"]
{
    background:#ffF1FA75;
	border-image:none;
}

#LoginWithEmailView #loginBtn:pressed[status="enable"]
{
    background:#ff7A7F34;
	border-image:none;

}

#LoginWithEmailView #loginBtn[status="enable"]
{
	qproperty-minimumSize:295px 48px;
	qproperty-maximumSize:295px 48px;
	border-image:none;
    border-radius: 3px;
    background:#ffeffc35;
    font-size:14px;
	font-weight:bold;
    color:#ff000000;
}
#LoginWithEmailView #loginBtn[status="disable"]
{
	qproperty-minimumSize:295px 48px;
	qproperty-maximumSize:295px 48px;
	border-image:none;
    border-radius: 3px;
    background:#ff363636;
    font-size:14px;
	font-weight:bold;
    color:#777777;

}

#LoginWithEmailView #loginSeparatorLabel,#loginBackTipsLabel,#loginSeparatorLabel
{
    min-height:14px;
    font-size:12px;
    color:#ff6a6a6a;
}
#LoginWithEmailView #loginSeparatorLabel
{
    min-width: 1px;
    max-width: 1px;
    min-height: 10px;
    max-height: 10px;
    background-color: #363636;
}
#LoginWithEmailView #loginListBtn,#loginListBtn_2
{
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
    font-size:12px;
    font-weight:bold;
    color:#ffeffc35;
}

#LoginWithEmailView #loginListBtn:hover, #loginListBtn_2:hover
{
    background-color: #1e1e1f;
}
#LoginWithEmailView #loginListBtn:pressed, #loginListBtn_2:pressed
{
    color:#ff7C7F43;
}

#LoginWithEmailView #loginForgotPasswordBtn
{
    border:none;
    font-size:12px;
    color:#ffa3a3a3;
}
#LoginWithEmailView #loginForgotPasswordBtn:hover
{
    background-color: #1e1e1f;
    color:#ffffffff;
}
#LoginWithEmailView #loginForgotPasswordBtn:pressed
{
    color: #6a6a6a;
}

#LoginWithEmailView #loginTipsLabel
{
    min-width:580px;
    min-height:31px;
    font-size:11px;
    color:#ffd32f2f;
}
#LoginWithEmailView #loginWithEmailLabel
{
	qproperty-minimumSize: 200px 27px;
    font-size:20px;
	font-weight:bold;
    color:#fff1fd56;

}


/***** sign email *************/

#SignupWithEmailView  QWidget
{
	background-color: #1e1e1f;
}

#SignupWithEmailView #createNewAccountBtn:hover[status="enable"]
{
    background:#ffF1FA75;
	border-image:none;
}

#SignupWithEmailView #createNewAccountBtn:pressed[status="enable"]
{
    background:#ff7A7F34;
	border-image:none;

}

#SignupWithEmailView #createNewAccountBtn[status="enable"]
{
	qproperty-minimumSize:292px 48px;
	qproperty-maximumSize:292px 48px;
	min-height:48px;
	max-height:48px;
    border-radius: 3px;
    background:#ffeffc35;
    font-size:14px;
	font-weight:bold;
    color:#ff000000;
	border-image:none;

}
#SignupWithEmailView #createNewAccountBtn[status="disable"]
{
	qproperty-minimumSize:292px 48px;
	qproperty-maximumSize:292px 48px;
	border-image:none;
    border-radius: 3px;
    background:#ff363636;
    font-size:14px;
	font-weight:bold;
    color:#777777;
}
#SignupWithEmailView #facebookBtn
{
    min-width:42px;
    min-height:42px;
    max-width:42px;
    max-height:42px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url("resources/skin/login-facebook.png");
}
#SignupWithEmailView #facebookBtn:hover
{
    background-color:#555555;
}
#SignupWithEmailView #facebookBtn:pressed
{
    background-color:#ff2d2d2d;
}
#SignupWithEmailView #twitchBtn
{
    min-width:42px;
    min-height:42px;
    max-width:42px;
    max-height:42px;
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url("resources/skin/login-twitch.png");
}
#SignupWithEmailView #twitchBtn:hover
{
    background-color:#555555;
}
#SignupWithEmailView #twitchBtn:pressed
{
    background-color:#2d2d2d;
}
#SignupWithEmailView #googleBtn
{
    min-width:42px;
    min-height:42px;
    max-width:42px;
    max-height:42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url("resources/skin/login-google.png");
}
#SignupWithEmailView #googleBtn:hover
{
    background-color:#555555;
}
#SignupWithEmailView #googleBtn:pressed
{
    background-color:#2d2d2d;
}
#SignupWithEmailView #lineBtn
{
    min-width:42px;
    min-height:42px;
    max-width:42px;
    max-height:42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url("resources/skin/login-line.png");
    font-size:14px;
}
#SignupWithEmailView #lineBtn:hover
{
    background-color:#555555;
}
#SignupWithEmailView #lineBtn:pressed
{
    background-color:#2d2d2d;
}

#SignupWithEmailView #lineEdit
{
	min-width:252px;
	max-width:252px;
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background-color: #ffffff;
    padding-right:20px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;
}
#SignupWithEmailView #lineEdit QPushButton[password="true"]
{
    background-color:transparent;
	qproperty-minimumSize:36px 36px;
	qproperty-maximumSize:36px 36px;
    border-image:url(":/image/Dark/invisible.png");
}
#SignupWithEmailView #lineEdit QPushButton[password="false"]
{
    background-color:transparent;
	qproperty-minimumSize:36px 36px;
	qproperty-maximumSize:36px 36px;
    border-image:url(":/image/Dark/visible.png");
}

#SignupWithEmailView #signEmailAddressLineEdit
{
	min-width:252px;
	max-width:252px;
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background:#ffffffff;
    padding-right:20px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;
}

#SignupWithEmailView #signBackToLabel
{
    min-height: 14px;
    font-size:12px;
    color:#ff6a6a6a;
}
#SignupWithEmailView #signLoginBtn,#signLoginBtn_2
{
    border-top: 0px none #ff000000;
    border-right: 0px none #ff000000;
    border-bottom: 0px none #ff000000;
    border-left: 0px none #ff000000;
    font-size:12px;
	font-weight:bold;
    color:#ffeffc35;
}

#SignupWithEmailView #signLoginBtn:hover,#signLoginBtn_2:hover
{
    background-color: #1e1e1f;
}
#SignupWithEmailView #signLoginBtn:pressed, #signLoginBtn_2:pressed
{
    color:#ff7C7F43;
}

#SignupWithEmailView #signTipsLabel
{
    min-width:580px;
    min-height:30px;
    max-width:580px;
    max-height:30px;
    font-size:11px;
    color:#ffd32f2f;
}
#SignupWithEmailView #signUpWithEmailLabel
{
    min-height:24px;
    max-height:24px;
    font-size:18px;
	font-weight:bold;
    color:#fff1fd56;
}
#SignupWithEmailView #signUsernameLineEdit
{
	min-width:252px;
	max-width:252px;
    min-height:48px;
    max-height:48px;
    border-radius: 3px;
    background:#ffffffff;
    padding-right:20px;
    padding-left:20px;
    font-size:14px;
    color:#ff000000;
	text-alignment:vertical;
}
#SignupWithEmailView #signupWithLabel
{
    min-width:293px;
    max-width:293px;
    min-height:11px;
    max-height:11px;
    border-image:url(":/image/Dark/or-signup.png");
}

SignupWithEmailView #NAVER
{
    qproperty-minimumSize: 42px 42px;
    qproperty-maximumSize: 42px 42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url(":/image/Dark/login-naver.png");
	border-image:none;
}
SignupWithEmailView #Google
{
    qproperty-minimumSize: 42px 42px;
    qproperty-maximumSize: 42px 42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url(":/image/Dark/login-google.png");
	border-image:none;
}
SignupWithEmailView #Facebook
{
    qproperty-minimumSize: 42px 42px;
    qproperty-maximumSize: 42px 42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url(":/image/Dark/login-facebook.png");
	border-image:none;
}
SignupWithEmailView #LINE
{
    qproperty-minimumSize: 42px 42px;
    qproperty-maximumSize: 42px 42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url(":/image/Dark/login-line.png");
	border-image:none;
}
SignupWithEmailView #Twitch
{
    qproperty-minimumSize: 42px 42px;
    qproperty-maximumSize: 42px 42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url(":/image/Dark/login-twitch.png");
	border-image:none;
}
SignupWithEmailView #Twitter
{
    qproperty-minimumSize: 42px 42px;
    qproperty-maximumSize: 42px 42px;
    border-radius: 20px 20px 20px 20px;
    background:#444444;
    background-position:center;
    background-image:url(":/image/Dark/login-twitter.png");
	border-image:none;
}

SignupWithEmailView #NAVER:hover, #Twitter:hover, #LINE:hover, #Facebook:hover, #Google:hover, #Twitch:hover
{
    background-color:#555555;
	border-image:none;
}
SignupWithEmailView #NAVER:pressed, #Twitter:pressed, #LINE:pressed, #Facebook:pressed, #Google:pressed, #Twitch:pressed
{
    background-color:#2d2d2d;
	border-image:none;
}


LoginLoadingView #loginLoadingProgressLabel
{
    background-color: #1e1e1f;
    font-size:12px;
    font-weight:normal;
	color:#ffffff;
	min-height:16px;
}

LoginLoadingView #loginLoadingDescLabel
{
    background-color: #1e1e1f;
    font-size:16px;
    font-weight:normal;
	color:#ffffff;
	min-height:21px;
}