
ChannelCapsule {
	background-color: transparent;
	border-image: none;
	min-height: 55px;
	max-height: 55px;
	min-width: 200px;
	max-width: 200px;
	qproperty-minimumSize: 200px 55px;
	qproperty-maximumSize: 200px 55px;
	margin: 0px;
	border: none;
	padding: 0px;
	border-radius: 3px;
}

	ChannelCapsule * {
		margin: 0px;
		padding: 0px;
		border: none;
	}

	ChannelCapsule #HeaderPart {
		margin: 0px;
		margin-left: 6px;
		padding: 0px;
	}

	ChannelCapsule ComplexHeaderIcon {
		margin: 0px;
		padding: 6px;
		border-radius: 17px;
		min-height: 34px;
		max-height: 34px;
		min-width: 34px;
		max-width: 34px;
		qproperty-minimumSize: 46px 46px;
		qproperty-maximumSize: 46px 46px;
		background-color: transparent;
		background-image: url(:/Images/skin/badge-liveon.png);
		background-position: center;
		background-repeat: no-repeat;
		background-clip: margin;
		color: transparent;
	}

		ChannelCapsule ComplexHeaderIcon[Active="true"] {
			background-image: url(:/Images/skin/badge-liveon.png);
		}

		ChannelCapsule ComplexHeaderIcon[Active="false"] {
			background-image: url(:/Images/skin/tuning-arrow.png);
		}

	ChannelCapsule #InfoPart {
		padding: 0px;
		margin: 0px;
		margin-left: 6px;
		margin-right: 12px;
		background-color: transparent;
		border-image: none;
	}

	ChannelCapsule #UserName {
		max-width: 86px;
		max-height: 16px;
		min-height: 16px;
		color: #ffffff;
		padding: 0px;
		margin: 0px;
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		qproperty-baseSize: 86px 16px;
	}

		ChannelCapsule #UserName:disabled {
			color: #666666;
		}

	ChannelCapsule #ChannelName {
		max-width: 130px;
		min-height: 16px;
		max-height: 16px;
		color: #bababa;
		padding: 0px;
		margin: 0px;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
	}

		ChannelCapsule #ChannelName:disabled {
			color: #666666;
		}

	ChannelCapsule #ErrorLabel {
		max-width: 130px;
		min-height: 40px;
		/*max-height: 16px;*/
		max-height: 40px;
		color: #bababa;
		padding: 0px;
		margin: 0px;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
	}

	ChannelCapsule #ChannelInfo {
		min-height: 16px;
		max-height: 16px;
	}

		ChannelCapsule #ChannelInfo:disabled {
			color: #666666;
		}

	ChannelCapsule #ViewerPicLabel, ChannelCapsule #ViewerNumberLabel, ChannelCapsule #LikePicLabel, ChannelCapsule #LikeNumberLabel {
		color: #bababa;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		padding: 1px;
		margin: 0px;
		min-height: 16px;
		max-height: 16px;
		max-width: 42px;
		border: none;
		margin: 0px;
		padding: 0px;
	}

		ChannelCapsule #ViewerNumberLabel:disabled, ChannelCapsule #LikeNumberLabel:disabled {
			color: #666666;
		}

	ChannelCapsule #ViewerPicLabel {
		border-image: url(:/Images/skin/ic-liveend-view.png);
		max-height: 15px;
		min-height: 15px;
		max-width: 15px;
		min-width: 15px;
		color: transparent;
	}

	ChannelCapsule #LikePicLabel {
		border-image: url(:/Images/skin/ic-liveend-like.png);
		max-height: 15px;
		min-height: 15px;
		max-width: 15px;
		min-width: 15px;
		color: transparent;
	}

	ChannelCapsule #StateActive {
		margin: 0px;
		margin-left: 5px;
		padding: 0px;
		min-height: 15px;
		max-height: 15px;
		min-width: 37px;
		max-width: 37px;
		background-color: transparent;
		border-image: url(:/Images/skin/badge-channel-on.png);
		color: transparent;
		background-color: transparent;
	}

		ChannelCapsule #StateActive:!checked {
			border-image: url(:/Images/skin/badge-channel-off.png);
		}
