GoLivePannel {
	background-color: transparent;
	margin: 15px 12px 16px 12px;
}

	GoLivePannel #GoLiveShift {
		margin: 0;
		padding: 0px;
		border: none;
		border-image: none;
		background-color: #effc35;
		min-width: 130px;
		max-width: 130px;
		min-height: 40px;
		max-height: 40px;
		border-radius: 3px;
		font-family: "Segoe UI";
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		text-align: center;
		color: var(--black);
		qproperty-maximumSize: 130px 40px;
		qproperty-minimumSize: 130px 40px;
	}

		GoLivePannel #GoLiveShift:hover {
			background-color: #f1fa75;
		}

		GoLivePannel #GoLiveShift:pressed {
			background-color: #7a7f34;
		}

		GoLivePannel #GoLiveShift:disabled {
			background-color: #444444;
			color: #666666;
		}


	GoLivePannel #Record {
		margin: 0;
		padding: 0px;
		border: none;
		border-image: none;
		background-color: #444444;
		min-width: 60px;
		max-width: 60px;
		min-height: 40px;
		max-height: 40px;
		border-radius: 3px;
		font-family: "Segoe UI";
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		text-align: center;
		color: #ee2d45;
	}

		GoLivePannel #Record:hover {
			background-color: #555555;
		}

		GoLivePannel #Record:pressed {
			background-color: #2d2d2d;
		}

		GoLivePannel #Record:disabled {
			background-color: #444444;
			color: #666666;
		}

		GoLivePannel #Record:checked {
			background-color: #c34151;
			color: #ffffff;
		}

			GoLivePannel #Record:checked:hover {
				background-color: #df5466;
			}

			GoLivePannel #Record:checked:pressed {
				background-color: #a43442;
			}

			GoLivePannel #Record:checked:disabled {
				background-color: #641d25;
				color: #915f65;
			}

	GoLivePannel PLSAddingFrame {
		padding: 0px;
		margin: 0px;
		min-width: 130px;
		max-width: 130px;
		min-height: 40px;
		max-height: 40px;
		border-radius: 3px;
		border: none;
		background-color: #effc35;
		border-image: none;
		qproperty-maximumSize: 130px 40px;
		qproperty-minimumSize: 130px 40px;
	}
