

PLSChannelsArea {
	border-bottom: 1px solid #111111;
	border-top: none;
	background-color: #272727;
	padding: 0px;
	margin: 0px;
	qproperty-maximumSize: 9999999px 70px;
	qproperty-minimumSize: 400px 70px;
}

	PLSChannelsArea #HeaderFrame {
		background-color: #272727;
		margin: 0px;
		padding: 0px;
		padding-left: 20px;
		padding-right: 4px;
		border-right: 1px solid #111111;
		qproperty-maximumSize: 142px 68px;
		qproperty-minimumSize: 142px 68px;
	}

	PLSChannelsArea #RefreshTxtButton {
		margin: 0px;
		padding: 0px;
		border: none;
		background-color: transparent;
		border-image: none;
	
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		text-align: right center;
		color: #ffffff;
	}
		PLSChannelsArea #RefreshTxtButton:disabled {
			color: #666666;
		}

		PLSChannelsArea #RefreshButton {
			margin: 0px;
			padding: 0px;
			border: none;
			background-color: transparent;
			border-image: none;
			color: transparent;
			min-height: 15px;
			min-width: 15px;
			image-position: center;
			image: url(:/Images/skin/ic-reroad-normal.png);
		}

		PLSChannelsArea #RefreshButton:hover {
			image: url(:/Images/skin/ic-reroad-over.png);
		}

		PLSChannelsArea #RefreshButton:pressed {
			image: url(:/Images/skin/ic-reroad-click.png);
		}
		PLSChannelsArea #RefreshButton:disabled {
			image: url(:/Images/skin/ic-reroad-disable.png);
		}

	PLSChannelsArea #MidFrame {
		border: none;
		padding: 0px 1px 0px 20px;
		margin: 0px;
		background-color: #272727;
		border-right: 1px solid #111111;
	}
		PLSChannelsArea #MidFrame:disabled {
			background-color: #272727;
			qproperty-windowOpacity:0.4px;
		}
		PLSChannelsArea #ChannelScrollArea {
		border: none;
		background-color: transparent;
	}
		
	PLSChannelsArea #scrollAreaWidgetContents {
		background-color: transparent;
		border: none;
	}

	PLSChannelsArea #AddFrame {
		border: none;
		background: transparent;
		padding: 0px;
		margin: 0px;
	}

	PLSChannelsArea #ChannelsAdd {
		border-radius: 20px;
		background-color: #444444;
		border-image: none;
		min-height: 40px;
		max-height: 40px;
		min-width: 40px;
		max-width: 40px;
		padding: 0px;
		margin: 0px;
		margin-right: 20px;
		color: transparent;
		image: url(:/Images/skin/btn-add-ch-normal.png);
	}

		PLSChannelsArea #ChannelsAdd:hover,PLSChannelsArea #ChannelsAdd:checked {
			image: url(:/Images/skin/btn-add-ch-over.png);
		}

		PLSChannelsArea #ChannelsAdd:pressed {
			image: url(:/Images/skin/btn-add-ch-click.png);
		}

		PLSChannelsArea #ChannelsAdd:disabled {
			image: url(:/Images/skin/btn-add-ch-disable.png);
		}

	PLSChannelsArea #LeftButton {
		min-width: 30px;
		max-width: 30px;
		min-height: 69px;
		max-height: 70px;
		margin: 0px;
		padding: 0px;
		
		border-image: url(:/Images/skin/btn-ch-pre-mauseover-normal.png);
		background-color: transparent;
		border: none;
	}
		PLSChannelsArea #LeftButton:pressed {
			border-image: url(:/Images/skin/btn-ch-pre-mauseover-normal.png);
		}

		PLSChannelsArea #LeftButton:hover {
			border-image: url(:/Images/skin/btn-ch-mauseover-over.png);
		}

		PLSChannelsArea #LeftButton:disabled {
			border-image: url(:/Images/skin/btn-ch-pre-mauseover-disable.png);
		}

	PLSChannelsArea #RightButton {
		min-width: 30px;
		max-width: 30px;
		min-height: 69px;
		max-height: 70px;
		margin: 0px;
		padding: 0px;
		
		border-image: url(:/Images/skin/btn-ch-next-mauseover-normal.png);
		background-color: transparent;
		border: none;
	}

		PLSChannelsArea #RightButton:pressed {
			border-image: url(:/Images/skin/btn-ch-next-mauseover-click.png);
		}

		PLSChannelsArea #RightButton:hover {
			border-image: url(:/Images/skin/btn-ch-next-mauseover-over.png);
		}

		PLSChannelsArea #RightButton:disabled {
			border-image: url(:/Images/skin/btn-ch-next-mauseover-disable.png);
		}

	PLSChannelsArea #TailFrame {
		border: none;
		max-width: 224px;
		min-width: 224px;
		margin: 0px;
		padding: 0px;
	}
	PLSChannelsArea PLSAddingFrame {
		max-width: 200px;
		max-height: 54px;
		/*min-width: 200px;*/
		min-height: 54px;
		border-radius: 3px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background-color: rgba(39, 39, 39, 0.90);
		padding: 15px;
		qproperty-maximumSize: 200px 54px;
		qproperty-minimumSize: 54px 54px;
	}

		PLSChannelsArea PLSAddingFrame #PixLabel {
			qproperty-maximumSize: 24px 24px;
			qproperty-minimumSize: 24px 24px;
		}

		PLSChannelsArea PLSAddingFrame #TextLabel {
			qproperty-maximumSize: 122px 24px;
		}

		PLSChannelsArea QToolTip {
		margin: 2px;
		min-height: 25px;
	}
