PLSRTMPConfig #ConfigBtn {
	border-radius: 25px;
	background-color: dimgrey;
	border-image: none;
	min-height: 50px;
	max-height: 50px;
	min-width: 50px;
	max-width: 50px;
	padding: 2px;
	margin-left: 5px;
	margin-right: 5px;
	color: transparent;
	image: url(:/Images/skin/icon-addsource.png);
}

	PLSRTMPConfig #ConfigBtn:hover, PLSRTMPConfig #ConfigBtn:pressed {
		image: url(:/Images/skin/icon-addsource-over.png);
		background-color: gray;
		border: 1px solid gray;
	}
