PLSDock#browserDock {
	qproperty-contentMarginLeft: /*hdpi*/ 0;
	qproperty-contentMarginRight: /*hdpi*/ 0;
	qproperty-contentMarginBottom: /*hdpi*/ 0;
	background-color: #1e1e1f;
}

PLSDock#browserDock PLSDockTitle {
	qproperty-marginLeft: /*hdpi*/ 19;
	qproperty-marginRight: /*hdpi*/ 9;
	qproperty-contentSpacing: /*hdpi*/ 10;
	qproperty-captionHeight: /*hdpi*/ 50;
	background-color: #272727;
	border-bottom: /*hdpi*/ 1px solid #111111;

}

PLSDock#browserDock {
	border-top:  1px solid #111111;
	border-left:1px solid #111111;
	border-bottom:  1px solid #111111;
	border-right:  1px solid #111111;

	background-color: #1e1e1f;
	min-width: /*hdpi*/ 182px;
	min-height: /*hdpi*/ 132px;
}

PLSDock#browserDock[movingAndFloating="true"] {
		border-top: 1px solid #effc35;
		border-left:  1px solid #effc35;
		border-bottom: 1px solid #effc35;
		border-right:  1px solid #effc35;
}

#youtubeLiveControlPanel {
	border-top: 1px solid #111111;
	border-left: 1px solid #111111;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #111111;
	background-color: #1e1e1f;
	min-width: /*hdpi*/ 182px;
	min-height: /*hdpi*/ 132px;
	qproperty-contentMarginLeft: /*hdpi*/ 0;
	qproperty-contentMarginRight: /*hdpi*/ 0;
	qproperty-contentMarginBottom: /*hdpi*/ 0;
}

	#youtubeLiveControlPanel PLSDockTitle {
		qproperty-marginLeft: /*hdpi*/ 19;
		qproperty-marginRight: /*hdpi*/ 9;
		qproperty-contentSpacing: /*hdpi*/ 10;
		qproperty-captionHeight: /*hdpi*/ 50;
		background-color: #272727;
		border-bottom: /*hdpi*/ 1px solid #111111;
	}

	#youtubeLiveControlPanel[movingAndFloating="true"] {
		border-top: 1px solid #effc35;
		border-left: 1px solid #effc35;
		border-bottom: 1px solid #effc35;
		border-right: 1px solid #effc35;
	}