PLSDock#browserDock[floating="false"], 
PLSDock#ncb2bDock[floating="false"], 
PLSDock#youtubeLiveControlPanel[floating="false"]
{
	qproperty-contentMarginLeft:  1;
	qproperty-contentMarginRight: 1;
	qproperty-contentMarginBottom: 1;
	background-color: #1e1e1f;
}
PLSDock#browserDock, PLSDock#ncb2bDock{
	qproperty-contentMarginLeft: 0;
	qproperty-contentMarginRight: 0;
	qproperty-contentMarginBottom: 0;
	background-color: #1e1e1f;
}
PLSDock#browserDock PLSDockTitle, PLSDock#ncb2bDock PLSDockTitle{
	qproperty-marginLeft: /*hdpi*/ 19;
	qproperty-marginRight: /*hdpi*/ 9;
	qproperty-contentSpacing: /*hdpi*/ 10;
	qproperty-captionHeight: /*hdpi*/ 50;
	background-color: #272727;
	border-bottom: /*hdpi*/ 1px solid #111111;

}

PLSDock#browserDock, PLSDock#ncb2bDock {
	border-top:  1px solid #111111;
	border-left:1px solid #111111;
	border-bottom:  1px solid #111111;
	border-right:  1px solid #111111;

	background-color: #1e1e1f;
	min-width: /*hdpi*/ 182px;
	min-height: /*hdpi*/ 132px;
}

PLSDock#browserDock[movingAndFloating="true"], PLSDock#ncb2bDock[movingAndFloating="true"] {
		border-top: 1px solid #effc35;
		border-left:  1px solid #effc35;
		border-bottom: 1px solid #effc35;
		border-right:  1px solid #effc35;
}

PLSDock#youtubeLiveControlPanel {
	border-top: 1px solid #111111;
	border-left: 1px solid #111111;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #111111;
	background-color: #1e1e1f;
	min-width: /*hdpi*/ 182px;
	min-height: /*hdpi*/ 132px;
}

PLSDock#youtubeLiveControlPanel PLSDockTitle {
		qproperty-marginLeft: /*hdpi*/ 19;
		qproperty-marginRight: /*hdpi*/ 9;
		qproperty-contentSpacing: /*hdpi*/ 10;
		qproperty-captionHeight: /*hdpi*/ 50;
		background-color: #272727;
		border-bottom: /*hdpi*/ 1px solid #111111;
	}

PLSDock#youtubeLiveControlPanel[movingAndFloating="true"] {
		border-top: 1px solid #effc35;
		border-left: 1px solid #effc35;
		border-bottom: 1px solid #effc35;
		border-right: 1px solid #effc35;
	}