
ChannelsAddWin{
	border: /*hdpi*/ 1px solid #111111;
	min-width: /*hdpi*/ 626px;
	max-width: /*hdpi*/ 626px;
	min-height: /*hdpi*/ 401px;
	max-height: /*hdpi*/ 401px;
	background-color: #272727;
	image: none;
	margin: /*hdpi*/ 0px;
	padding: /*hdpi*/ 0px;
}
	ChannelsAddWin #TitleFrame {
		min-height: /*hdpi*/ 40px;
		max-height: /*hdpi*/ 40px;
		margin: /*hdpi*/ 0px;
		padding: /*hdpi*/ 0px;
		border: /*hdpi*/ none;
	}

	ChannelsAddWin #ClosePtn {
		margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
		padding: /*hdpi*/ 9px /*hdpi*/ 10px /*hdpi*/ 9px /*hdpi*/ 8px;
		min-height: /*hdpi*/ 22px;
		min-width: /*hdpi*/ 22px;
		max-width: /*hdpi*/ 40px;
		max-height: /*hdpi*/ 40px;
		image: url(":/channels/resource/images/ChannelsSource/btn-close-normal.svg");
		color: transparent;
		background-color: transparent;
		border: /*hdpi*/ none;
	}

		ChannelsAddWin #ClosePtn:hover {
			image: url(":/channels/resource/images/ChannelsSource/btn-close-over.svg");
		}

		ChannelsAddWin #ClosePtn:pressed {
			image: url(":/channels/resource/images/ChannelsSource/btn-close-click.svg");
		}

	ChannelsAddWin #ContentFrame {
		background-color: #272727;
		padding: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 40px /*hdpi*/ 0px;
		margin: /*hdpi*/ 0px;
		border: /*hdpi*/ none;
	}

	ChannelsAddWin #TitleLable {
		margin: /*hdpi*/ 0px;
		padding: /*hdpi*/ 0px;
		min-height: /*hdpi*/ 27px;
		max-height: /*hdpi*/ 27px;
		min-width: /*hdpi*/ 80px;
		background-color: transparent;
		font-size: /*hdpi*/ 20px;
		font-weight: bold;
		font-style: normal;
		text-align: center;
		color: #effc35;
		border: none;
	}

	ChannelsAddWin #PrismNoteLabel {
		margin: /*hdpi*/ 0px;
		padding: /*hdpi*/ 10px /*hdpi*/ 0px /*hdpi*/ 29px /*hdpi*/ 0px;
		min-width: /*hdpi*/ 340px;
		min-height: /*hdpi*/ 16px;
		max-height: /*hdpi*/ 16px;
		font-size: /*hdpi*/ 12px;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		color: #a3a3a3;
		border: none;
	}

	ChannelsAddWin #ChannelsListWid {
		background-color: transparent;
		border: /*hdpi*/ none;
		margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
		padding: /*hdpi*/ 0px;
		
		min-height: /*hdpi*/ 344px;
	}

#ChannelsListWid #scrollAreaWidgetContents {
	margin: /*hdpi*/ 0px;
	padding: /*hdpi*/ 0px;
}

ChannelsAddWin QToolButton {
	margin: /*hdpi*/ 0;
	padding: /*hdpi*/ 15px /*hdpi*/ 6px /*hdpi*/ 7px /*hdpi*/ 6px;
	image: none;
	background-color: #1e1e1e;
	qproperty-iconSize: /*hdpi*/ 115px /*hdpi*/ 60px;
	min-width: /*hdpi*/ 127px;
	max-width: /*hdpi*/ 127px;
	min-height: /*hdpi*/ 76px;
	max-height: /*hdpi*/ 76px;
	border-radius: /*hdpi*/ 3px;
	border: none;
	font-size: /*hdpi*/ 12px;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	color: #bababa;
}

ChannelsAddWin #hoverBtn {
	margin: /*hdpi*/ 0px;
	padding: /*hdpi*/ 0px;
	min-width: /*hdpi*/ 139px;
	max-width: /*hdpi*/ 139px;
	min-height: /*hdpi*/ 98px;
	max-height: /*hdpi*/ 98px;
	image: url(":/channels/resource/images/ChannelsSource/btn-addch-large-mauseover-normal.svg");
	background-color: transparent;
	color: transparent;
	qproperty-iconSize: /*hdpi*/ 115px /*hdpi*/ 40px;
	border: none;
}

	ChannelsAddWin #hoverBtn:pressed {
		image: url(":/channels/resource/images/ChannelsSource/btn-addch-large-mauseover-click.svg");
	}

ChannelsAddWin #AddRTMPBtn, ChannelsAddWin #AddRTMPBtn[state="normal"] {
	min-height: /*hdpi*/ 42px;
	max-height: /*hdpi*/ 42px;
	min-width: /*hdpi*/ 586px;
	max-width: /*hdpi*/ 586px;
	margin: /*hdpi*/ 10px /*hdpi*/ 20px /*hdpi*/ 19px /*hdpi*/ 20px;
	padding: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
	border-radius: /*hdpi*/ 3px;
	border: /*hdpi*/ 1px solid #3d3d3d;
	background-color: transparent;
	color: transparent;
}

	ChannelsAddWin #AddRTMPBtn[state="hover"] {
		border: /*hdpi*/ 1px solid #bababa;
	}

	ChannelsAddWin #AddRTMPBtn[state="pressed"] {
		border: /*hdpi*/ 1px solid #444444;
	}

	ChannelsAddWin #AddRTMPBtn[state="disbaled"] {
		border: /*hdpi*/ 1px solid #1e1e1e;
	}

	ChannelsAddWin #AddRTMPBtn > QPushButton {
		margin: /*hdpi*/ 0px /*hdpi*/ 5px /*hdpi*/ 0px /*hdpi*/ 0px;
		padding: 0px;
		background-color: transparent;
		/*border: 1px solid red;*/
	}

	ChannelsAddWin #AddRTMPBtn #IconButton, ChannelsAddWin #AddRTMPBtn #IconButton[state="normal"] {
		min-width: /*hdpi*/ 10px;
		max-width: /*hdpi*/ 10px;
		min-height: /*hdpi*/ 11px;
		max-height: /*hdpi*/ 11px;
		color: transparent;
		
		image: url(:/channels/resource/images/ChannelsSource/ic-add-small-normal.svg);
		
	}

		ChannelsAddWin #AddRTMPBtn #IconButton[state="hover"] {
			image: url(:/channels/resource/images/ChannelsSource/ic-add-small-over.svg);
		}

		ChannelsAddWin #AddRTMPBtn #IconButton[state="pressed"] {
			image: url(:/channels/resource/images/ChannelsSource/ic-add-small-click.svg);
		}

		ChannelsAddWin #AddRTMPBtn #IconButton[state="disbled"] {
			image: url(:/channels/resource/images/ChannelsSource/ic-add-small-disable.svg);
		}

	ChannelsAddWin #AddRTMPBtn #TextButton, ChannelsAddWin #AddRTMPBtn #TextButton[state="normal"] {
		font-size: /*hdpi*/ 13px;
		font-weight: bold;
		font-style: normal;
		color: #bababa;
		/*border: 1px solid red;*/
	}

		ChannelsAddWin #AddRTMPBtn #TextButton[state="hover"] {
			color: white;
		}

		ChannelsAddWin #AddRTMPBtn #TextButton[state="pressed"] {
			color: #444444;
		}

		ChannelsAddWin #AddRTMPBtn #TextButton[state="disbaled"] {
			color: #666666;
		}
