PLSDock#chatDock {
	qproperty-contentMarginLeft: /*hdpi*/ 1;
	qproperty-contentMarginRight: /*hdpi*/ 1;
	qproperty-contentMarginBottom: /*hdpi*/ 1;
	background-color: #1e1e1f;
}

PLSDock#chatDock[floating="true"] {
	qproperty-contentMarginLeft: /*hdpi*/ 0;
	qproperty-contentMarginRight: /*hdpi*/ 0;
	qproperty-contentMarginBottom: /*hdpi*/ 0;
	background-color: #1e1e1f;
}

PLSDock#chatDock PLSDockTitle {
	qproperty-marginLeft: /*hdpi*/ 19;
	qproperty-marginRight: /*hdpi*/ 9;
	qproperty-contentSpacing: /*hdpi*/ 10;
	qproperty-captionHeight: /*hdpi*/ 49;
	background-color: #272727;
}


PLSDock#chatDock #content {
	border-top: /*hdpi*/ 1px solid #111111;
}

PLSDock#chatDock {
	border-top:  1px solid #111111;
	border-left:1px solid #111111;
	border-bottom:  1px solid #111111;
	border-right:  1px solid #111111;

	background-color: #1e1e1f;
	min-width: /*hdpi*/ 182px;
	min-height: /*hdpi*/ 132px;
}

PLSDock#chatDock[movingAndFloating="true"] {
		border-top: 1px solid #effc35;
		border-left:  1px solid #effc35;
		border-bottom: 1px solid #effc35;
		border-right:  1px solid #effc35;
}


