#ConnectInfo {
    background-color: #272727;
}

#ConnectInfo QWidget{
    background-color: #272727;
}

    #ConnectInfo QPushButton {
        min-width: 128px;
        max-width: 128px;
        min-height: 40px;
        max-height: 40px;
    }