
PLSContactView {
    qproperty-captionBarHeight: 0;
    qproperty-captionHeight: 0;
    qproperty-hasHLine: false;
    background-color: #333333;
    min-height: 614px;
    max-height: 614px;
    min-width: 480px;
    max-width: 480px;
}


    PLSContactView #contactTitleLabel {
        color: #EFFC35;
        font-size: 18px;
        font-weight: bold;
    }

    PLSContactView #emailLabel {
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    PLSContactView #identificationLabel {
        color: #999999;
        font-size: 13px;
        min-height: 18px;
        max-height: 18px;
    }

    PLSContactView #copyUserID #copyButton {
        min-width: 18px;
        min-height: 18px;
        max-width: 18px;
        max-height: 18px;
    }

    PLSContactView #copyUserID #textLabel {
        color: #999999;
        font-size: 13px;
        min-height: 18px;
        max-height: 18px;
    }

    PLSContactView #emailLineEdit {
        background-color: #1E1E1E;
        placeholder-text-color: #686868;
        color: white;
        font-size: 12px;
        min-height: 40px;
        max-height: 40px;
        padding-left: 12px;
        padding-right: 12px;
        border: none;
    }


        PLSContactView #emailLineEdit:focus {
            border: none;
        }

    PLSContactView #emailTipLabel {
        color: #d32f2f;
        font-size: 11px;
        background-color: transparent;
    }

    PLSContactView #labelType, PLSContactView #inquiryLabel {
        background-color: transparent;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

QRadioButton {
    color: white;
    font-size: 14px;
}

PLSContactView #fileButton {
    background-color: transparent;
    min-height: 27px;
    max-height: 27px;
    border-radius: 3px;
    border: 1px solid #3D3D3D;
}

    PLSContactView #fileButton #fileTitleLabel {
        color: #BABABA;
        font-size: 12px;
        font-weight: 400;
        font-family: "Malgun Gothic";
        min-height: 21px;
        max-height: 21px;
        line-height: 21px;
    }

    PLSContactView #fileButton[status="normal"] #fileTitleLabel {
        color: #BABABA;
    }

    PLSContactView #fileButton[status="hover"] #fileTitleLabel {
        color: #FFFFFF;
    }

    PLSContactView #fileButton[status="clicked"] #fileTitleLabel {
        color: #FFFFFF;
    }

    PLSContactView #fileButton #fileIconLabel {
        image: url(":/resource/images/ic-fileupload-normal.svg");
    }

PLSContactView #fileIconLabel {
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
}

PLSContactView #fileButton[status="normal"] #fileIconLabel {
    image: url(":/resource/images/ic-fileupload-normal.svg");
}

PLSContactView #fileButton[status="hover"] #fileIconLabel {
    image: url(":/resource/images/ic-fileupload-over.svg");
}

PLSContactView #fileButton[status="clicked"] #fileIconLabel {
    image: url(":/resource/images/ic-fileupload-click.svg");
}

PLSContactView #textBackWidget {
    background-color: #1e1e1e;
    border-radius: 3px;
}

PLSContactView #textEdit {
    background-color: #1e1e1e;
    placeholder-text-color: #686868;
    color: white;
    font-size: 12px;
    border: none;
    padding: 0px;
    margin: 0px;
}

PLSContactView QScrollBar:vertical {
    background-color: #1e1e1e;
}

PLSContactView #textEdit:focus {
    border: none;
}

PLSContactView QLineEdit[text=""] {
    color: #6a6a6a;
}

PLSContactView #QListView {
    qproperty-spacing: 0px;
}

PLSContactView #tagListWidget {
    border-radius: 3px;
    border-color: transparent;
    background-color: #1e1e1e;
    min-height: 67px;
    max-height: 67px;
    padding: 0px;
    margin: 0px;
    border: none;
}

PLSContactView QListWidget::item {
    padding: 0px;
    margin: 0px;
}

PLSContactView #tagTextEdit {
    background-color: #1e1e1e;
    font-size: 12px;
    border: none;
    min-height: 70px;
    max-height: 173px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 0px;
    border-radius: 3px;
}

PLSContactView #inquryTipLabel {
    color: #d32f2f;
    font-size: 11px;
    min-height: 13px;
    max-height: 13px;
}

PLSContactView #sendButton:disabled {
    color: #888888;
    background-color: #444444;
}

PLSContactView #sendButton:hover {
    background-color: #545454;
}

PLSContactView #sendButton:pressed {
    background-color: #111111;
}

PLSContactView #sendButton, PLSContactView #cancelButton {
    padding: 0;
    color: white;
    border-radius: 3px;
    background-color: #444444;
    font-size: 14px;
    min-width: 140px;
    min-height: 40px;
}

    PLSContactView #cancelButton:hover {
        background-color: #545454;
    }

    PLSContactView #cancelButton:pressed {
        background-color: #111111;
    }

PLSFileItemView {
    background-color: #444444;
    margin: 0px;
    padding: 0px;
}

    PLSFileItemView[status="normal"] {
        background-color: #444444;
    }

    PLSFileItemView[status="hover"] {
        background-color: #666666;
    }

    PLSFileItemView #fileNameLabel {
        font-size: 12px;
        color: white;
        background-color: transparent;
    }

    PLSFileItemView #deleteIcon {
        padding: 0px;
        image: url(":/resource/images/effect-close-normal.svg");
        background-color: transparent;
        border-radius: 0px;
        min-height: 12px;
        max-height: 12px;
        min-width: 12px;
        max-width: 12px;
    }

        PLSFileItemView #deleteIcon[status="normal"] {
            image: url(":/resource/images/effect-close-normal.svg");
        }


        PLSFileItemView #deleteIcon[status="hover"] {
            image: url(":/resource/images/effect-close-over.svg");
        }

PLSContactView #loadingBG {
    background-color: rgba(39, 39, 39, 0.8);
}

PLSContactView #loadingBtn {
    background-color: transparent;
}
