PLSChannelsArea {
	border-bottom: 1px solid #111111;
	border-top: none;
	background-color: #272727;
	padding: 0px;
	margin: 0px;
	qproperty-maximumSize: 9999999px 60px;
	qproperty-minimumSize: 400px 30px;
}

PLSChannelsArea #HeaderFrame {
	background-color: #272727;
	margin: 0px;
	padding: 0px;
	padding-left: 25px;
	padding-right: 3px;
	border-right: 1px solid #111111;
	qproperty-maximumSize: 150px 60px;
	qproperty-minimumSize: 150px 29px;
}

PLSChannelsArea #MyChannelsTxtBtn {
	margin: 0px;
	padding: 0px;
	border: 1px solid transparent;
	background-color: transparent;
	image: none;
	min-height: 30px;
	max-height: 30px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	text-align: left center;
	color: #ffffff;
}

PLSChannelsArea #MyChannelsTxtBtn:disabled {
	color: #666666;
}

PLSChannelsArea #MyChannelsIconBtn {
	margin: 2px 5px 0px 5px;
	padding: 0px;
	border: 1px solid transparent;
	background-color: transparent;
	color: transparent;
	min-height: 30px;
	max-height: 30px;
	min-width: 22px;
	max-width: 22px;
	image-position: center center;
	image: url(":/channels/resource/images/ChannelsSource/icon-more-default.svg");
}


PLSChannelsArea #MyChannelsIconBtn:hover {
	image: url(":/channels/resource/images/ChannelsSource/icon-more-over.svg");
}

PLSChannelsArea #MyChannelsIconBtn:pressed {
	image: url(":/channels/resource/images/ChannelsSource/icon-more-click.svg");
}

PLSChannelsArea #MyChannelsIconBtn:disabled {
	image: url(":/channels/resource/images/ChannelsSource/icon-more-disable.svg");
}

PLSChannelsArea #MidFrame[showRightBorder="false"] {
	border: none;
	padding: 0px;
	margin: 0px;
	background-color: #272727;
}

PLSChannelsArea #MidFrame[showRightBorder="true"] {
	padding: 0px;
	margin: 0px;
	background-color: #272727;
	border-right: 1px solid #111111;
}

PLSChannelsArea #MidFrame:disabled {
	background-color: #272727;
	qproperty-windowOpacity: 0.4px;
}

PLSChannelsArea #ChannelScrollArea {
	border: none;
	background-color: transparent;
}

PLSChannelsArea #scrollAreaWidgetContents {
	background-color: transparent;
	border: none;
}

PLSChannelsArea #FoldDisPlay {
	border: none;
	padding: 0px;
	margin: 0px;
	background-color: #272727;
}

PLSChannelsArea #AddFrame {
	border: none;
	background: transparent;
	padding: 0px;
	margin: 0px;
}

PLSChannelsArea #RightButton,
PLSChannelsArea #LeftButton {
	min-width: 10px;
	max-width: 10px;
	min-height: 10px;
	max-height: 10px;
	margin: 0px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: transparent;
	border: none;
}

PLSChannelsArea #TailFrame {
	margin: 0px;
	padding: 0px;
	border: none;
	/*qproperty-maximumSize: 50px 60px;
        qproperty-minimumSize: 50px 30px;*/
	max-height: 60px;
	min-height: 30px;
}

PLSChannelsArea #B2BResolutionButton {
	margin: 0px;
	padding: 21px 25px 22px 25px;
	background-color: #272727;
	border: none;
	max-height: 17px;
	min-height: 17px;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	color: #bababa;
	spacing: 5px;
}

PLSChannelsArea #B2BResolutionButton:hover {
	color: white;
}

PLSChannelsArea #B2BResolutionButton:pressed {
	color: #1e1e1f;
}

PLSChannelsArea #B2BResolutionButton:disabled {
	color: #666666;
}

PLSChannelsArea #B2BResolutionButton::indicator {
	min-height: 14px;
	max-height: 14px;
	min-width: 14px;
	max-width: 14px;
	margin: 0px;
	padding: 0px;
	padding-top: 3px;
	background-color: transparent;
	image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-normal.svg);
}

PLSChannelsArea #B2BResolutionButton::indicator:hover {
	image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-over.svg);
}

PLSChannelsArea #B2BResolutionButton::indicator:pressed {
	image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-click.svg);
}

PLSChannelsArea #B2BResolutionButton::indicator:disabled {
	image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-disable.svg);
}

PLSChannelsArea #FoldUpButton {
	min-height: 22px;
	max-height: 22px;
	max-width: 22px;
	min-width: 22px;
	margin-left: 14px;
	margin-right: 14px;
	margin-top: 19px;
	margin-bottom: 17px;
	padding: 0px;
	background-color: transparent;
	border: none;
}

PLSChannelsArea #FoldDownButton {
	min-height: 22px;
	max-height: 22px;
	max-width: 22px;
	min-width: 22px;
	margin-left: 14px;
	margin-right: 14px;
	margin-top: 3px;
	margin-bottom: 5px;
	padding: 0px;
	background-color: transparent;
	border: none;
}

PLSChannelsArea #FoldUpButton {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-up-normal.svg");
}

PLSChannelsArea #FoldUpButton:hover {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-up-over.svg");
}

PLSChannelsArea #FoldUpButton:pressed {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-up-click.svg");
}

PLSChannelsArea #FoldUpButton:disabled {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-up-disable.svg");
}

PLSChannelsArea #FoldDownButton {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-down-normal.svg");
}

PLSChannelsArea #FoldDownButton:hover {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-down-over.svg");
}

PLSChannelsArea #FoldDownButton:pressed {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-down-click.svg");
}

PLSChannelsArea #FoldDownButton:disabled {
	image: url(":/resource/images/ChannelsSource/ic-dropbox-down-disable.svg");
}

PLSChannelsArea #LeftButton {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-pre-normal.svg");
}

PLSChannelsArea #LeftButton:hover {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-pre-over.svg");
}

PLSChannelsArea #LeftButton:pressed {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-pre-click.svg");
}

PLSChannelsArea #LeftButton:disabled {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-pre-disable.svg");
}

PLSChannelsArea #RightButton {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-next-normal.svg");
}

PLSChannelsArea #RightButton:hover {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-next-over.svg");
}

PLSChannelsArea #RightButton:pressed {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-next-click.svg");
}

PLSChannelsArea #RightButton:disabled {
	image: url(":/channels/resource/images/ChannelsSource/ic-ch-next-disable.svg");
}


PLSChannelsArea PLSAddingFrame {
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(39, 39, 39, 0.90);
	padding: 15px;
}

PLSChannelsArea PLSAddingFrame #PixLabel {
	qproperty-maximumSize: 24px 24px;
	qproperty-minimumSize: 24px 24px;
}

PLSChannelsArea PLSAddingFrame #TextLabel {
	qproperty-maximumSize: 300px 24px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}



PLSChannelsArea #GotoAddWinButton {
	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 5px;
	min-width: 200px;
	min-height: 22px;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	color: #a8a8a8;
	background-color: transparent;
	border: none;
}

PLSChannelsArea #GotoAddWinButton:hover {
	color: white;
}

PLSChannelsArea #GotoAddWinButton:pressed {
	color: #666666;
}

PLSChannelsArea #GotoAddWinButton:disabled {
	color: #666666;
}

PLSChannelsArea #GotoAddWinButton::indicator {
	min-width: 22px;
	min-height: 22px;
	max-width: 22px;
	max-height: 22px;
	image: url(":/channels/resource/images/ChannelsSource/icon-addsource-default.svg");
	background-color: transparent;
	border: none;
}

PLSChannelsArea #GotoAddWinButton::indicator:hover {
	image: url(":/channels/resource/images/ChannelsSource/icon-addsource-over.svg");
}

PLSChannelsArea #GotoAddWinButton::indicator:pressed {
	image: url(":/channels/resource/images/ChannelsSource/icon-addsource-default.svg");
}

PLSChannelsArea #GotoAddWinButton::indicator:disabled {
	image: url(":/channels/resource/images/ChannelsSource/icon-addsource-default.svg");
}

PLSChannelsArea #ErrorText {
	color: #666666;
	padding: 0px;
	margin-top: 5px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

PLSChannelsArea #LoadingFrame {
	padding: 0;
	margin: 0;
}

PLSChannelsArea #LoadingFrame #TextLabel {
	color: #ffffff;
}