
PLSContactView {
    background-color: #333333;
    qproperty-hasHLine:/*hdpi*/true;
    qproperty-hasMinButton:/*hdpi*/false;
    qproperty-hasCloseButton:/*hdpi*/false;
    qproperty-isMoveInContent:/*hdpi*/true;
}

PLSContactView[type="Mac"] {
	qproperty-hasCaption:/*hdpi*/true;
}

PLSContactView[type="Win"] {
	qproperty-hasCaption:/*hdpi*/false;
}

PLSContactView #titleLabel {
    color: #f1fd56;
	font-size:/*hdpi*/ 20px;
    font-weight: bold;
	min-height:/*hdpi*/ 20px;
	max-height:/*hdpi*/ 20px;
}

PLSContactView #emailLabel {
    color: white;
	font-size:/*hdpi*/ 13px;
	min-height:/*hdpi*/ 17px;
	max-height:/*hdpi*/ 17px;
    font-weight: bold;
}

PLSContactView #identificationLabel {
    color: white;
	font-size:/*hdpi*/ 12px;
	min-height:/*hdpi*/ 17px;
	max-height:/*hdpi*/ 17px;
}

PLSContactView #emailLineEdit{
    background-color: #1E1E1E;
    color: white;
	font-size:/*hdpi*/ 12px;
	min-height:/*hdpi*/ 32px;
	max-height:/*hdpi*/ 32px;
	padding-left:/*hdpi*/ 12px;
	padding-right:/*hdpi*/ 12px;
	border:/*hdpi*/none;
}


PLSContactView #emailLineEdit:focus {
	border:/*hdpi*/none;
}

PLSContactView #emailTipLabel {
    color:#d32f2f;
	font-size:/*hdpi*/11px;
	min-height:/*hdpi*/ 13px;
	max-height:/*hdpi*/ 13px;
    background-color:transparent;
}

PLSContactView #inquiryLabel {
    background-color:transparent;
    color:white;
	min-height:/*hdpi*/ 20px;
	max-height:/*hdpi*/ 20px;
	font-size:/*hdpi*/13px;
    font-weight:bold;
}

PLSContactView #fileButton {
    background-color:transparent;
	min-width:/*hdpi*/40px;
	max-width:/*hdpi*/70px;
	min-height:/*hdpi*/ 16px;
	max-height:/*hdpi*/ 16px;
}

PLSContactView #fileButton #fileTitleLabel {
    color:#a3a3a3;
	font-size:/*hdpi*/12px;
}

PLSContactView #fileButton[status="normal"] #fileTitleLabel {
    color:#a3a3a3;
}

PLSContactView #fileButton[status="hover"] #fileTitleLabel {
    color:white;
}

PLSContactView #fileButton[status="clicked"] #fileTitleLabel {
    color:#effc35;
}

PLSContactView #fileButton[status="disable"] #fileTitleLabel {
    color:#6a6a6a;
}

PLSContactView #fileButton #fileIconLabel {
	image:url(":/resource/images/ic-fileupload-normal.svg");
}

PLSContactView #fileIconLabel 
{
	min-width:/*hdpi*/16px;
	max-width:/*hdpi*/16px;
	min-height:/*hdpi*/ 16px;
	max-height:/*hdpi*/ 16px;
}

PLSContactView #fileButton[status="normal"] #fileIconLabel {
	image:url(":/resource/images/ic-fileupload-normal.svg");
}

PLSContactView #fileButton[status="hover"] #fileIconLabel {
	image:url(":/resource/images/ic-fileupload-over.svg");
}

PLSContactView #fileButton[status="clicked"] #fileIconLabel {
	image:url(":/resource/images/ic-fileupload-click.svg");
}

PLSContactView #fileButton[status="disable"] #fileIconLabel {
	image:url(":/resource/images/ic-fileupload-disable.svg");
}

PLSContactView #textBackWidget {
	background-color:#1e1e1e;
	border-radius: 3px;
}

PLSContactView #textEdit {
    background-color:#1e1e1e;
	min-height:/*hdpi*/ 84px;
	max-height:/*hdpi*/ 84px;
    color:white;
	font-size:/*hdpi*/12px;
	border:/*hdpi*/none;
	padding: 0px;
	margin: 0px;
}

PLSContactView QScrollBar:vertical {
    background-color: #1e1e1e;
}

PLSContactView #textEdit:focus {
	border:/*hdpi*/none;
}

PLSContactView QLineEdit[text=""] {
	color: #6a6a6a;
}

PLSContactView #QListView{
	qproperty-spacing:/*hdpi*/ 0px;
}

PLSContactView #tagListWidget {
	border-radius:/*hdpi*/ 3px;
    border-color:transparent;
    background-color: #1e1e1e;
	min-height:/*hdpi*/ 73px;
	max-height:/*hdpi*/ 73px;
	padding: 0px;
	margin: 0px;	
}

PLSContactView QListWidget::item {
	padding: 0px;
	margin: 0px;
}

PLSContactView #tagTextEdit {
    background-color:#1e1e1e;
	font-size:/*hdpi*/12px;
	border:/*hdpi*/none;
	min-height:/*hdpi*/ 73px;
	max-height:/*hdpi*/ 73px;
	padding-left: 10px;
	padding-top: 4px;
	border-radius: 3px;
}

PLSContactView #inquryTipLabel {
    color:#d32f2f;
	font-size:/*hdpi*/11px;
	min-height:/*hdpi*/ 13px;
	max-height:/*hdpi*/ 13px;
}

PLSContactView #sendButton {
    padding:/*hdpi*/0px;
    color:white;
	border-radius:/*hdpi*/1px;
    background-color:#444444;
	font-size:/*hdpi*/14px;
	min-height:/*hdpi*/ 40px;
	max-height:/*hdpi*/ 40px;
	min-width:/*hdpi*/128px;
	max-width:/*hdpi*/128px;
}

PLSContactView #sendButton[type="MacOS"] {
	border-radius:/*hdpi*/3px;
}

PLSContactView #sendButton:disabled {
    color:#888888;
    background-color:#222222;
}

PLSContactView #sendButton:hover {
    background-color:#545454;
}

PLSContactView #sendButton:pressed {
    background-color:#111111;
}

PLSContactView #cancelButton {
    padding:/*hdpi*/0px;
    color:white;
	border-radius:/*hdpi*/1px;
    background-color:#444444;
	font-size:/*hdpi*/14px;
	min-height:/*hdpi*/ 40px;
	max-height:/*hdpi*/ 40px;
	min-width:/*hdpi*/128px;
	max-width:/*hdpi*/128px;
}

PLSContactView #cancelButton[type="MacOS"] {
	border-radius:/*hdpi*/3px;
}

PLSContactView #cancelButton:hover {
    background-color:#545454;
}

PLSContactView #cancelButton:pressed {
    background-color:#111111;
}

PLSFileItemView {
    background-color:#444444;
	margin: 0px;
	padding: 0px;
}

PLSFileItemView[status="normal"] {
	background-color: #444444;
}

PLSFileItemView[status="hover"] {
	background-color: #666666;
}

PLSFileItemView #fileNameLabel {
	font-size:/*hdpi*/12px;
    color:white;
    background-color:transparent;
}

PLSFileItemView #deleteIcon {
    padding:/*hdpi*/0px;
	image:url(":/resource/images/effect-close-normal.svg");
    background-color:transparent;
	border-radius:/*hdpi*/0px;
	min-height:/*hdpi*/ 12px;
	max-height:/*hdpi*/ 12px;
	min-width:/*hdpi*/ 12px;
	max-width:/*hdpi*/ 12px;
}

PLSFileItemView #deleteIcon[status="normal"] {
	image:url(":/resource/images/effect-close-normal.svg");
}


PLSFileItemView #deleteIcon[status="hover"] {
	image:url(":/resource/images/effect-close-over.svg");
}

PLSContactView #loadingBG{
    background-color:rgba(39, 39, 39, 0.8);
}

PLSContactView #loadingBtn{
    background-color: transparent;
}


