
#PLSGuideTipsFrame {
	/*border: 1px solid red;*/
	min-height: /*hdpi*/ 44px;
	border: none;
}

	#PLSGuideTipsFrame #TrianleFrame, #PLSGuideTipsFrame #TriangleLabel {
		background-color: transparent;
		border: none;
	}

	#PLSGuideTipsFrame #TriangleLabel {
		max-height: /*hdpi*/ 16px;
		max-width: /*hdpi*/ 16px;
		border: none;
		/*border: 1px solid red;*/
	}

	#PLSGuideTipsFrame #contentFrame {
		max-width: /*hdpi*/ 280px;
		background-color: rgba(255, 255, 255,0.96);
		border-radius: /*hdpi*/ 3px;
		color: black;
		padding: /*hdpi*/ 9px /*hdpi*/ 11px /*hdpi*/ 9px /*hdpi*/ 12px;
		border: none;
		/*border: 1px solid red;*/
	}

	#PLSGuideTipsFrame #Icon {
		background-color: transparent;
		color: transparent;
		margin: /*hdpi*/ 6px /*hdpi*/ 6px /*hdpi*/ 6px /*hdpi*/ 0px;
		image: url(":/resource/images/GuideTips/ic-badge-new.svg");
		max-height: /*hdpi*/ 12px;
		min-height: /*hdpi*/ 12px;
		max-width: /*hdpi*/ 30px;
		min-width: /*hdpi*/ 30px;
		border: none;
		/*border: 1px solid red;*/
	}

	#PLSGuideTipsFrame #TextLabel {
		background-color: transparent;
		color: black;
		font-size: /*hdpi*/ 14px;
		font-weight: normal;
		font-style: normal;
		border: none;
		/*border: 1px solid red;*/
	}
