
#PLSLivingMsgView {
    qproperty-hasHLine: true;
    qproperty-hasMinButton: false;
}

    #PLSLivingMsgView > #label, #PLSLivingMsgView > #min, #PLSLivingMsgView > #close, #PLSLivingMsgView > #maxres {
        background-color: #272727;
    }

    #PLSLivingMsgView > #content {
        background-color: #1e1e1f;
    }

    #PLSLivingMsgView QScrollArea {
        border: none;
    }

    #PLSLivingMsgView #stackedWidget QWidget {
        background-color: #1e1e1f;
    }

    #PLSLivingMsgView #labelNoMsgIcon {
        min-width: 90px;
        max-width: 90px;
        min-height: 90px;
        max-height: 90px;
        image: url(":/resource/images/ic-alert.svg");
    }

    #PLSLivingMsgView #label_NoMsgInfo {
        min-height: 18px;
        max-height: 18px;
        font-size: 14px;
        font-weight: normal;
        color: #666666;
    }

PLSLivingMsgItem #label_icon {
    margin-top: 4px;
    qproperty-minimumSize: 15px 19px;
    qproperty-maximumSize: 15px 19px;
    background-color: transparent;
}

    PLSLivingMsgItem #label_icon[type="1"] {
        image: url(":/resource/images/icon-error-3.svg");
    }

    PLSLivingMsgItem #label_icon[type="2"] {
        image: url(":/resource/images/icon-replaybuffer.svg");
    }

    PLSLivingMsgItem #label_icon[type="3"] {
        image: url(":/resource/images/icon-noti.svg");
    }


PLSLivingMsgItem #label_msg {
    font-size: 14px;
    color: #ffffff;
}

PLSLivingMsgItem #label_time {
    min-height: 15px;
    max-height: 15px;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
}
