
PLSLoginDlg {
    qproperty-hasHLine: false;
    qproperty-hasMinButton: false;
    qproperty-closeButtonMarginRight: 9;
    qproperty-captionButtonTopMargin: 1;
    color: #1e1e1f;
}

    PLSLoginDlg #logoLabel {
        min-width: 230px;
        max-width: 230px;
        min-height: 66px;
        max-height: 66px;
        image: url(":/channels/resource/images/ChannelsSource/navershopping/btn-login-nshoppiglive.svg");
    }

    PLSLoginDlg #messageLabel {
        font-size: 14px;
        font-weight: normal;
        color: #bababa;
    }

    PLSLoginDlg #naverLoginButton > #icon {
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
        background-color: transparent;
        image: url(":/channels/resource/images/ChannelsSource/navershopping/img-navershopping-naver-login.svg");
    }

    PLSLoginDlg #naverLoginButton > #text {
        font-size: 14px;
        background-color: transparent;
        font-weight: bold;
        color: white;
    }

    PLSLoginDlg #naverLoginButton, PLSLoginDlg #storeLoginButton {
        min-width: 320px;
        max-width: 320px;
        min-height: 45px;
        max-height: 45px;
        border-radius: 3px;
        font-size: 14px;
        background-color: #444;
        font-weight: bold;
        color: white;
    }

        PLSLoginDlg #naverLoginButton:hover, PLSLoginDlg #storeLoginButton:hover {
            background-color: #555;
        }

        PLSLoginDlg #naverLoginButton:pressed, PLSLoginDlg #storeLoginButton:pressed {
            background-color: #2d2d2d;
        }
