#loadingBtn {
    background-color: #1e1e1f;
    qproperty-maximumSize:/*hdpi*/24px/*hdpi*/24px;
    qproperty-minimumSize:/*hdpi*/24px/*hdpi*/24px;
	image:url(":/channels/resource/images/ChannelsSource/loading-1.svg");
	margin: 0px;
	padding: 0px;
}

PLSLaboratoryInstallView #loadingBtn {
    qproperty-maximumSize:/*hdpi*/20px/*hdpi*/20px;
    qproperty-minimumSize:/*hdpi*/20px/*hdpi*/20px;
}

#loadingBtn[status="1"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-1.svg");
}

#loadingBtn[status="2"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-2.svg");
}

#loadingBtn[status="3"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-3.svg");
}

#loadingBtn[status="4"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-4.svg");
}

#loadingBtn[status="5"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-5.svg");
}

#loadingBtn[status="6"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-6.svg");
}

#loadingBtn[status="7"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-7.svg");
}

#loadingBtn[status="8"] {
	image:url(":/channels/resource/images/ChannelsSource/loading-8.svg");
}
