PLSLiveEndDialog * {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

PLSLiveEndDialog #content {
    min-height: 100px;
    max-height: 1500px;
}

PLSLiveEndDialog QToolTip {
    padding: 5px;
}

PLSLiveEndDialog .QScrollArea {
    border: none;
}

PLSLiveEndDialog {
    border-radius: 6px;
    /*	qproperty-contentBkgColor: #272727;*/
}

    PLSLiveEndDialog #topWidget {
        max-height: 58px;
        min-height: 58px;
        background: transparent;
    }

        PLSLiveEndDialog #topWidget #titleLabel {
            font-size: 20px;
            max-height: 120px;
            font-weight: bold;
            color: #f1fd56;
            background: transparent;
        }


    PLSLiveEndDialog #Rehearsalwidget #rehearsalLabel {
        font-size: 12px;
        color: #cccccc;
        background: transparent;
    }

    PLSLiveEndDialog #channelScroll {
        border-radius: 3px;
        margin: 0px;
        padding-right: 15px;
        background-color: transparent;
        border: none;
    }

    PLSLiveEndDialog #bottomViewWidget {
        background-color: transparent;
    }

        PLSLiveEndDialog #bottomViewWidget #placehoderLabel {
            background: transparent;
        }

        PLSLiveEndDialog #bottomViewWidget #saveWidget {
            min-height: 22;
            max-height: 22;
            margin: 4px 0px 0px 0px;
            background: transparent;
        }

        PLSLiveEndDialog #bottomViewWidget #saveInLabel {
            margin: 0px 0px 0px 0px;
            background-color: transparent;
            border-style: none;
            color: #cccccc;
            font-size: 12px;
            font-weight: normal;
        }

        PLSLiveEndDialog #bottomViewWidget #savePushButton {
            min-width: 18px;
            min-height: 20px;
            max-height: 20px;
            margin: 0px 0px 0px 4px;
            border-style: none;
            padding: 0px;
            background-color: transparent;
            border-image: none;
            font-size: 12px;
            font-weight: normal;
            text-align: left;
            color: #cccccc;
            image: url(":/channels/resource/images/ChannelsSource/end/folder-icon-normal.svg");
            image-position: right;
        }

            PLSLiveEndDialog #bottomViewWidget #savePushButton:hover {
                color: #effc35;
                image: url(":/channels/resource/images/ChannelsSource/end/folder-icon-over.svg");
            }

    PLSLiveEndDialog #savePushButton:pressed {
        color: #788023;
        image: url(":/channels/resource/images/ChannelsSource/end/folder-icon-clicked.svg");
    }


    PLSLiveEndDialog #bottomViewWidget #lineView {
        min-height: 1px;
        max-height: 1px;
        background-color: #151515;
        margin: 0px 0px 18px 0px;
    }

    PLSLiveEndDialog #okButton {
        min-width: 128px;
        max-width: 128px;
        min-height: 40px;
        max-height: 40px;
        border-radius: 3px;
    }

PLSLiveEndItem * {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: none;
}

PLSLiveEndItem .QLabel,
PLSLiveEndItem .QWidget {
    background-color: transparent;
}

PLSLiveEndItem {
    border-radius: 3px;
    background-color: #363636;
    min-height: 70px;
    max-height: 70px;
    min-width: 660px;
    max-width: 660px;
    margin: 0px;
}

    PLSLiveEndItem #channelIcon {
        min-width: 34px;
        max-width: 34px;
        max-height: 34px;
        min-height: 34px;
        margin-left: 0px;
        margin-right: 13px;
        margin-bottom: 2px;
    }

    PLSLiveEndItem #channelLabel {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
    }

    PLSLiveEndItem #dotLabel {
        min-width: 3px;
        max-width: 3px;
        max-height: 3px;
        min-height: 3px;
        image: url(":/channels/resource/images/ChannelsSource/end/img-bullet.svg");
        margin: 1px 5px 0px 5px;
    }

    PLSLiveEndItem #liveTitleLabel {
        padding-right: 6px;
        font-size: 12px;
        font-weight: normal;
        color: #ffffff;
    }

    PLSLiveEndItem #statusWidget {
        margin-left: 3px;
        margin-top: 6px;
    }

    PLSLiveEndItem #statusImage1, #statusImage2, #statusImage3 {
        min-width: 15px;
        max-width: 15px;
        max-height: 15px;
        min-height: 15px;
    }

    PLSLiveEndItem #statusLabel1, #statusLabel2, #statusLabel3 {
        margin-right: 4px;
        font-size: 12px;
        color: #999999;
    }


    PLSLiveEndItem PLSImageTextButton,
    PLSLiveEndItem PLSImageTextButton:hover,
    PLSLiveEndItem PLSImageTextButton:pressed,
    PLSLiveEndItem PLSImageTextButton:disabled {
        background-color: transparent;
    }


    PLSLiveEndItem #pushButton_tip #labelRight {
        font-size: 12px;
        font-weight: normal;
        color: #bababa;
    }

    PLSLiveEndItem #pushButton_tip[status="normal"] #labelRight {
        color: #bababa;
    }

    PLSLiveEndItem #pushButton_tip[status="hover"] #labelRight {
        color: white;
    }

    PLSLiveEndItem #pushButton_tip[status="clicked"] #labelRight {
        color: #444444;
    }

    PLSLiveEndItem #pushButton_tip[status="disable"] #labelRight {
        color: #666666;
    }

    PLSLiveEndItem #pushButton_tip {
        max-height: 60px;
        min-height: 40px;
        min-width: 198px;
        max-width: 198px;
    }

        PLSLiveEndItem #pushButton_tip #labelLeft,
        PLSLiveEndItem #pushButton_tip[status="normal"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/end/ic-end-info-normal.svg");
            min-width: 16px;
            max-width: 16px;
            min-height: 16px;
            max-height: 16px;
        }

        PLSLiveEndItem #pushButton_tip[status="hover"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/end/ic-end-info-over.svg");
        }

        PLSLiveEndItem #pushButton_tip[status="clicked"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/end/ic-end-info-click.svg");
        }

        PLSLiveEndItem #pushButton_tip[status="disable"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/end/ic-end-info-disable.svg");
        }

    PLSLiveEndItem #pushButton_share {
        margin-top: 2px;
        min-height: 20px;
        max-height: 20px;
    }



        PLSLiveEndItem #pushButton_share #labelLeft,
        PLSLiveEndItem #pushButton_share[status="normal"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/ic-share-normal.svg");
            min-width: 14px;
            max-width: 14px;
            min-height: 14px;
            max-height: 14px;
        }

        PLSLiveEndItem #pushButton_share[status="hover"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/ic-share-over.svg");
        }

        PLSLiveEndItem #pushButton_share[status="clicked"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/ic-share-click.svg");
        }

        PLSLiveEndItem #pushButton_share[status="disable"] #labelLeft {
            image: url(":/channels/resource/images/ChannelsSource/ic-share-disable.svg");
        }

        PLSLiveEndItem #pushButton_share #labelRight {
            font-size: 12px;
            font-weight: normal;
            color: #999999;
        }

        PLSLiveEndItem #pushButton_share[status="normal"] #labelRight {
            color: #999999;
        }

        PLSLiveEndItem #pushButton_share[status="hover"] #labelRight {
            color: white;
        }

        PLSLiveEndItem #pushButton_share[status="clicked"] #labelRight {
            color: #444444;
        }

        PLSLiveEndItem #pushButton_share[status="disable"] #labelRight {
            color: #666666;
        }
