
PLSLaboratory {
    background-color: #272727;
}

    PLSLaboratory > #titleBar > #titleLabel {
        background-color: transparent;
        font-weight: normal;
    }

    PLSLaboratory QScrollBar:vertical {
        background-color: #272727;
        width: 12px;
        margin: 0px;
    }

    PLSLaboratory QScrollBar::handle:vertical {
        background-color: #444444;
        border-radius: 3px;
        border: none;
        margin: 0px 3px;
        min-height: 20px;
    }

QScrollArea #scrollArea {
    border: none;
}

QFrame #frame_labList {
    background-color: transparent;
    qproperty-minimumSize: 258px 480px;
    qproperty-maximumSize: 258px 480px;
    border-right: 1px solid #151515;
}

PLSLaboratoryItem#PLSLaboratoryItem {
    min-height: 40px;
    max-height: 58px;
    min-width: 234px;
    max-width: 234px;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

    PLSLaboratoryItem#PLSLaboratoryItem:hover {
        background-color: #444444;
    }

    PLSLaboratoryItem#PLSLaboratoryItem[hovered="true"] {
        background-color: #444444;
    }

    PLSLaboratoryItem#PLSLaboratoryItem:pressed {
        background-color: #2d2d2d;
    }

    PLSLaboratoryItem#PLSLaboratoryItem:checked {
        background-color: #444444;
    }

PLSLaboratoryItem #label_text {
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;
    color: white;
    background-color: transparent;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 1px;
    padding-bottom: 11px;
}

    PLSLaboratoryItem #label_text[select="false"] {
        font-weight: normal;
        color: white;
        background-color: transparent;
    }

    PLSLaboratoryItem #label_text[select="true"] {
        font-weight: bold;
        color: #effc35;
        background-color: transparent;
    }

PLSLaboratory #stackedWidget QWidget {
    background-color: #272727;
}

PLSLaboratory #lineView,
PLSLaboratory #lineView1 {
    background-color: #151515;
}

PLSLaboratory #lineView {
    min-width: 1px;
    max-width: 1px;
}

PLSLaboratory #labTitleLabel {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

PLSLaboratory #defaultDescLabel {
    color: #bababa;
    font-size: 13px;
    border: none;
    margin: 0px;
    padding: 0px;
}

PLSLaboratory #openLabel {
    color: #bababa;
    font-size: 11px;
    background-color: transparent;
    margin-top: 3px;
}

    PLSLaboratory #openLabel[selected="false"] {
        color: #bababa;
        font-size: 11px;
        background-color: transparent;
    }

    PLSLaboratory #openLabel[selected="true"] {
        color: #effc35;
        font-weight: normal;
        font-size: 11px;
        background-color: transparent;
    }

PLSLaboratory #openButton {
    margin-top: 4px;
    min-height: 17px;
    max-height: 17px;
    min-width: 28px;
    max-width: 28px;
    background-color: transparent;
}

    PLSLaboratory #openButton[selected="false"] {
        image: url(":/resource/images/lab/slider-off-default.svg");
    }

        PLSLaboratory #openButton[selected="false"]:pressed {
            image: url(":/resource/images/lab/slider-off-click.svg");
        }

        PLSLaboratory #openButton[selected="false"]:hover {
            image: url(":/resource/images/lab/slider-off-over.svg");
        }

        PLSLaboratory #openButton[selected="false"]:disabled {
            image: url(":/resource/images/lab/slider-off-disable.svg");
        }

    PLSLaboratory #openButton[selected="true"] {
        image: url(":/resource/images/lab/slider-on.svg");
    }

        PLSLaboratory #openButton[selected="true"]:pressed {
            image: url(":/resource/images/lab/slider-on-click.svg");
        }

        PLSLaboratory #openButton[selected="true"]:hover {
            image: url(":/resource/images/lab/slider-on-over.svg");
        }

        PLSLaboratory #openButton[selected="true"]:disabled {
            image: url(":/resource/images/lab/slider-on-disable.svg");
        }

PLSLaboratory #closeButton {
    min-height: 40px;
    min-width: 128px;
    max-height: 40px;
    max-width: 128px;
}

PLSLaboratory #loadingBG {
    background-color: rgba(39, 39, 39, 0.8);
}

PLSLaboratory #loadingBtn {
    background-color: transparent;
}
