
* PLSMotionImageListView,
* PLSMotionImageListView QFrame {
	border: none;
}

PLSMotionImageListView{
	background-color: transparent;
}

PLSMotionImageListView QAbstractScrollArea #scrollAreaWidgetContents {
	background-color: transparent;
}

PLSMotionImageListView #topScrollArea {
	min-height:/*hdpi*/ 50px;
	max-height:/*hdpi*/ 50px;
}

PLSMotionImageListView #stackedWidget {
	border-width: 0px;
	background-color: transparent;
}

PLSMotionImageListView #btn_recent,
PLSMotionImageListView #btn_prism,
PLSMotionImageListView #btn_free,
PLSMotionImageListView #btn_my {
	background-color:transparent;
	min-height:/*hdpi*/ 35px;
	max-height:/*hdpi*/ 35px;
	min-width:/*hdpi*/81px;
	max-width:/*hdpi*/81px;
	margin:0;
	padding:0;
	border: none;
	image:url(":/resource/images/virtual/vbg-tab-recent-off-normal.svg");
}

PLSMotionImageListView #motionCategoryBtn{
	background-color:transparent;
	min-height:/*hdpi*/ 35px;
	max-height:/*hdpi*/ 35px;
	min-width:/*hdpi*/81px;
	max-width:/*hdpi*/81px;
	margin:0;
	padding:0;
	font-weight: bold;
	border: none;
	color: #ffffff;
	border-radius: 15px;
}

PLSMotionImageListView #motionCategoryBtn:pressed,
PLSMotionImageListView #motionCategoryBtn:hover{
	background-color: #444444;
}

PLSMotionImageListView #motionCategoryBtn:checked {
	background-color: #444444;
	color: #effc35;
}

PLSMotionImageListView #btn_recent {
	min-width:/*hdpi*/81px;
	max-width:/*hdpi*/81px;
	image:url(":/resource/images/virtual/vbg-tab-recent-off-normal.svg");
}

PLSMotionImageListView #btn_recent:checked,
PLSMotionImageListView #btn_recent:checked:hover,
PLSMotionImageListView #btn_recent:checked:pressed {
	image:url(":/resource/images/virtual/vbg-tab-recent-on-normal.svg");
}

PLSMotionImageListView #btn_recent:hover {
	image:url(":/resource/images/virtual/vbg-tab-recent-off-over.svg");
}

PLSMotionImageListView #btn_recent:pressed {
	image:url(":/resource/images/virtual/vbg-tab-recent-off-click.svg");
}


 PLSMotionImageListView #btn_prism {
	min-width:/*hdpi*/70px;
	max-width:/*hdpi*/70px;
	image:url(":/resource/images/virtual/vbg-tab-prism-off-normal.svg");
}

PLSMotionImageListView #btn_prism:checked,
PLSMotionImageListView #btn_prism:checked:hover,
PLSMotionImageListView #btn_prism:checked:pressed {
	image:url(":/resource/images/virtual/vbg-tab-prism-on-normal.svg");
}

PLSMotionImageListView #btn_prism:hover {
	image:url(":/resource/images/virtual/vbg-tab-prism-off-over.svg");
}

PLSMotionImageListView #btn_prism:pressed {
	image:url(":/resource/images/virtual/vbg-tab-prism-off-click.svg");
}


PLSMotionImageListView #btn_free {
	min-width:/*hdpi*/62px;
	max-width:/*hdpi*/62px;
	image:url(":/resource/images/virtual/vbg-tab-free-off-normal.svg");
}

PLSMotionImageListView #btn_free:checked,
PLSMotionImageListView #btn_free:checked:hover,
PLSMotionImageListView #btn_free:checked:pressed {
	image:url(":/resource/images/virtual/vbg-tab-free-on-normal.svg");
}

PLSMotionImageListView #btn_free:hover {
	image:url(":/resource/images/virtual/vbg-tab-free-off-over.svg");
}

PLSMotionImageListView #btn_free:pressed {
	image:url(":/resource/images/virtual/vbg-tab-free-off-click.svg");
}

PLSMotionImageListView #btn_my {
	min-width:/*hdpi*/50px;
	max-width:/*hdpi*/50px;
	image:url(":/resource/images/virtual/vbg-tab-my-off-normal.svg");
}

PLSMotionImageListView #btn_my:checked,
PLSMotionImageListView #btn_my:checked:hover,
PLSMotionImageListView #btn_my:checked:pressed {
	image:url(":/resource/images/virtual/vbg-tab-my-on-normal.svg");
}

PLSMotionImageListView #btn_my:hover {
	image:url(":/resource/images/virtual/vbg-tab-my-off-over.svg");
}

PLSMotionImageListView #btn_my:pressed {
	image:url(":/resource/images/virtual/vbg-tab-my-off-click.svg");
}

PLSMotionImageListView #checkBoxMotionOff #plsCheckBox_text {
	color: #bababa;
	font-size: /*hdpi*/ 14px;
}

PLSMotionImageListView #checkBoxMotionOff {
	color:#bababa;
	font-size:/*hdpi*/14px;
	background-color:transparent;
	min-height:/*hdpi*/ 18px;
	max-height:/*hdpi*/ 18px;
	min-width:/*hdpi*/101px;
}

PLSMotionImageListView #checkBoxMotionOff #plsCheckBox_text:disabled{
	color: #666666;
}

PLSMotionImageListView PLSRecentListView {
	background-color: transparent;
}

PLSMotionImageListView PLSRecentListView #tipLabel {
	font-size:/*hdpi*/14px;
	background-color:transparent;
	color:#a3a3a3;
	font-weight: normal;
}

PLSMotionImageListView PLSPrismListView {
	background-color: transparent;
}

PLSMotionImageListView PLSMyMotionListView {
	background-color: transparent;
}

PLSMotionImageListView PLSMyMotionListView #addButton {
	min-height:/*hdpi*/ 58px;
	max-height:/*hdpi*/ 58px;
	min-width:/*hdpi*/ 58px;
	max-width:/*hdpi*/ 58px;
	margin: 0;
	padding: 0;
	image:url(":/resource/images/virtual/btn-vbg-add-media-normal.svg");
	background-color:transparent;
}

PLSMotionImageListView PLSMyMotionListView #addButton:hover {
	image:url(":/resource/images/virtual/btn-vbg-add-media-over.svg");
}

PLSMotionImageListView PLSMyMotionListView #addButton:pressed {
	image:url(":/resource/images/virtual/btn-vbg-add-media-click.svg");
}

PLSMotionImageListView PLSMyMotionListView #tipLabel {
	font-size:/*hdpi*/14px;
	background-color:transparent;
	color:#a3a3a3;
	font-weight: normal;
}

PLSMotionImageListView PLSPrismListView #tipLabel {
	font-size: /*hdpi*/ 14px;
	background-color: transparent;
	color: #a3a3a3;
	font-weight: normal;
}

PLSMotionImageListView PLSPrismListView #retryButton {
	font-size:/*hdpi*/12px;
	background-color:transparent;
	color:#bababa;
	min-height:/*hdpi*/ 25px;
	max-height:/*hdpi*/ 25px;
	min-width:/*hdpi*/108px;
	max-width:/*hdpi*/108px;
	margin: 0;
	padding: 0;
	border: /*hdpi*/1px solid #3d3d3d;
}

PLSMotionImageListView PLSPrismListView #retryButton:hover {
	border: /*hdpi*/1px solid white;
	color:white;
}

PLSMotionImageListView PLSPrismListView #retryButton:pressed {
	border: /*hdpi*/1px solid #222222;
	color:#222222;
}

PLSMotionImageListView PLSPrismListView #listFrame {
	background-color: transparent;
}

PLSMotionImageListView PLSImageListView #MotionScrollArea {
	border:none;
	background-color: transparent;
}

PLSMotionImageListView PLSPrismListView #loadingBG{
    background-color:rgb(39, 39, 39);
}

PLSMotionImageListView PLSPrismListView #loadingBtn{
    background-color: transparent;
}

PLSMotionImageListView PLSImageListView #widgetContent {
	background-color: transparent;
}

PLSMotionImageListView PLSImageListView #deleteAllWidget {
	min-height:/*hdpi*/ 26px;
	max-height:/*hdpi*/ 26px;
}

PLSMotionImageListView PLSImageListView #deleteAllBtn {
	padding-top:/*hdpi*/10px;
	font-size:/*hdpi*/12px;
	background-color:transparent;
	color:#bababa;
	min-height:/*hdpi*/ 16px;
	max-height:/*hdpi*/ 16px;
	padding: 0;
	margin: 0;
}

PLSMotionImageListView PLSImageListView #deleteAllBtn:hover {
	color:white;
}

PLSMotionImageListView PLSImageListView #deleteAllBtn:pressed {
	color:#1e1e1e;
}

PLSMotionImageListView PLSImageListView #movieView {
	background-color: transparent;
	border: none;
}

PLSMotionImageListView PLSImageListView #addButtonView {
	min-width: /*hdpi-d*/ 128px;
	max-width: /*hdpi-d*/ 128px;
	min-height: /*hdpi-d*/ 72px;
	max-height: /*hdpi-d*/ 72px;
	margin: 0;
	padding: 0;
	background-color: #444444;
}

PLSMotionImageListView PLSImageListView #addButtonView #addLabel {
	min-width: /*hdpi-d*/ 44px;
	max-width: /*hdpi-d*/ 44px;
	min-height: /*hdpi-d*/ 43px;
	max-height: /*hdpi-d*/ 43px;
	background-color: transparent;
	image:url(":/resource/images/virtual/icon-addsource-default.svg");
}

PLSMotionImageListView PLSImageListView #addButtonView:hover {
	background-color: #555555;
}

PLSMotionImageListView PLSImageListView #addButtonView:pressed {
	background-color: #2d2d2d;
}

PLSMotionImageListView PLSImageListView PLSMotionItemView #closeButton {
	min-height:/*hdpi*/ 16px;
	max-height:/*hdpi*/ 16px;
	min-width:/*hdpi*/ 16px;
	max-width:/*hdpi*/ 16px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	image:url(":/resource/images/virtual/btn-vbg-my-delete-normal.svg");
}

PLSMotionImageListView PLSImageListView PLSMotionItemView #closeButton:hover  {
	image:url(":/resource/images/virtual/btn-vbg-my-delete-over.svg");
}

PLSMotionImageListView PLSImageListView PLSMotionItemView #closeButton:pressed {
	image:url(":/resource/images/virtual/btn-vbg-my-delete-click.svg");
}

PLSMotionImageListView PLSImageListView {
	qproperty-flowLayoutHSpacing: /*hdpi-d*/ 14;
	qproperty-flowLayoutVSpacing: /*hdpi-d*/ 14;
}

PLSMotionImageListView PLSMotionErrorLayer #contentFrame {
	background-color: #1e1e1f;
}

PLSPropertiesView PLSMotionImageListView PLSImageListView {
	qproperty-flowLayoutHSpacing: /*hdpi-d*/ 12;
	qproperty-flowLayoutVSpacing: /*hdpi-d*/ 12;
}

PLSPropertiesView PLSMotionImageListView PLSImageListView #addButtonView {
	min-width: /*hdpi-d*/ 157px;
	max-width: /*hdpi-d*/ 157px;
	min-height: /*hdpi-d*/ 88px;
	max-height: /*hdpi-d*/ 88px;
	margin: 0;
	padding: 0;
}

PLSPropertiesView PLSMotionImageListView PLSImageListView #movieView {
	qproperty-imageSize: /*hdpi-d*/ 157px /*hdpi-d*/ 88px;
	min-width: /*hdpi-d*/ 157px;
	max-width: /*hdpi-d*/ 157px;
	min-height: /*hdpi-d*/ 88px;
	max-height: /*hdpi-d*/ 88px;
	margin: 0;
	padding: 0;
}

PLSVirtualBackgroundDialog PLSMotionImageListView PLSImageListView #movieView {
	qproperty-imageSize: /*hdpi-d*/ 128px /*hdpi-d*/ 72px;
}

PLSVirtualBackgroundDialog PLSMotionImageListView PLSPrismListView #loadingBG {
	background-color: rgb(30, 30, 31);
}
