PLSNaverShoppingNotice {
    qproperty-hasMinButton: false;
    qproperty-hasCloseButton: false;
    qproperty-hasBorder: true;
	background-color: #272727;
}

PLSNaverShoppingNotice #topTitleLabel {
    color:#effc35;
    font-size:/*hdpi*/20px;
    font-weight: bold;
    min-height:/*hdpi*/30px;
    max-height:/*hdpi*/30px;
}

PLSNaverShoppingNotice #topSubTitleLabel {
    color:#bababa;
	font-size:/*hdpi*/12px;
	background-color:transparent;
}

PLSNaverShoppingNotice #moreTitleLabel {
    color: white;
	font-size:/*hdpi*/12px;
	font-weight: bold;
	background-color:transparent;
	min-height:/*hdpi*/16px;
    max-height:/*hdpi*/16px;
}

PLSNaverShoppingNotice #cefBackView{
    background-color:#1e1e1e;
	min-height:/*hdpi*/ 210px;
    max-height:/*hdpi*/ 210px;
}

PLSNaverShoppingNotice #lineView {
    background-color:#151515;
}

PLSNaverShoppingNotice #closeButton {
    font-size:/*hdpi*/14px;
    font-weight:bold;
    border-radius:/*hdpi*/3px;
    padding:0px;
    color:white;
    background-color:#444444;
	qproperty-minimumSize: /*hdpi*/ 170px /*hdpi*/ 40px;
	qproperty-maximumSize: /*hdpi*/ 170px /*hdpi*/ 40px;
}

PLSNaverShoppingNotice #closeButton:hover {
    background-color:#555555;
}

PLSNaverShoppingNotice #closeButton:pressed {
    background-color:#1e1e1f;
}