
PLSRtmpChannelView {
    background-color: #272727;
    border: 1px solid #111111;
}

    PLSRtmpChannelView #RTMPUrlEdit, PLSRtmpChannelView #StreamKeyEdit, PLSRtmpChannelView #NameEdit, PLSRtmpChannelView #UserIDEdit,
    PLSRtmpChannelView #UserPasswordEdit {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
    }

    PLSRtmpChannelView #MenuFrame {
        max-height: 40px;
        min-height: 40px;
        margin: 0px;
        padding: 0px;
        border: none;
        border-bottom: 1px solid #111111;
    }

    PLSRtmpChannelView #TitleLabel {
        margin-left: 17px;
        max-height: 16px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
    }

    PLSRtmpChannelView > #content #CloseBtn {
        margin: 0px;
        padding: 5px;
        border: none;
        image: url(":/resource/images/close-btn.svg");
        background-color: transparent;
        color: transparent;
        qproperty-minimumSize: 40px 40px;
        qproperty-maximumSize: 40px 40px;
    }

        PLSRtmpChannelView > #content #CloseBtn:hover {
            image: url(":/resource/images/close-btn-over.svg");
        }

        PLSRtmpChannelView > #content #CloseBtn:pressed {
            image: url(":/resource/images/close-btn-click.svg");
        }

    PLSRtmpChannelView #CategoryFrame {
        margin: 30px 25px 20px 25px;
        padding: 0px;
        /*border: 1px solid red;*/
    }

    PLSRtmpChannelView #CategoryLabel #dualTitleLabel {
        max-width: 200px;
        max-height: 27px;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        color: #ffffff;
        border: none;
    }

    PLSRtmpChannelView #EditAreaFrame, PLSRtmpChannelView #frame_2 {
        margin: 0px 25px 0px 25px;
        padding: 0px;
        border: none;
    }

    PLSRtmpChannelView #LeftFrame {
        margin: 0px;
        margin-right: 5px;
        padding: 0px;
        max-width: 146px;
        min-width: 146px;
        background-color: transparent;
        border: none;
    }

    PLSRtmpChannelView #RightFrame {
        margin: 0px;
        padding: 0px;
        max-width: 504px;
        min-width: 504px;
        background-color: transparent;
        border: none;
    }

    PLSRtmpChannelView #EditAreaFrame QLabel {
        max-width: 166px;
        min-width: 0px;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    PLSRtmpChannelView #LeftFrame QFrame {
        min-height: 40px;
        max-height: 40px;
        qproperty-minimumSize: 0px 40px;
        qproperty-maximumSize: 146px 40px;
        border: none;
        background-color: transparent;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    PLSRtmpChannelView QLineEdit, #PasswordComplexEditor {
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        background-color: #222222;
        border: none;
        min-height: 40px;
        max-height: 40px;
        max-width: 504px;
        min-width: 504px;
        qproperty-minimumSize: 504px 40px;
        qproperty-maximumSize: 504px 40px;
        border: 1px solid transparent;
    }

    PLSRtmpChannelView #PlatformCombbox {
        background-color: #444444;
        border: none;
        min-height: 40px;
        max-height: 40px;
        min-width: 504px;
        max-width: 504px;
        padding: 0px;
        margin: 0px;
        qproperty-minimumSize: 504px 40px;
        qproperty-maximumSize: 504px 40px;
        border-radius: 3px;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
    }

        PLSRtmpChannelView #PlatformCombbox:hover {
            background-color: #555555;
        }

        PLSRtmpChannelView #PlatformCombbox:on {
            background-color: #222222;
        }

        PLSRtmpChannelView #PlatformCombbox:disabled {
            background-color: #373737;
            color: #666666;
        }

        PLSRtmpChannelView #PlatformCombbox > QAbstractItemView {
            selection-background-color: #2d2d2d;
            background-color: transparent;
            show-decoration-selected: 1;
            border: 1px solid #111111;
            border-radius: 3px;
            padding: 0px;
            margin: 0px;
        }

            PLSRtmpChannelView #PlatformCombbox > QAbstractItemView:focus {
                outline: none;
            }

            PLSRtmpChannelView #PlatformCombbox > QAbstractItemView::item {
                min-height: 40px;
                height: 40px;
                border: none;
                color: #ffffff;
                background-color: #2d2d2d;
            }


                PLSRtmpChannelView #PlatformCombbox > QAbstractItemView::item:hover {
                    background-color: #373737;
                    color: #ffffff;
                }

                PLSRtmpChannelView #PlatformCombbox > QAbstractItemView::item:selected:active {
                    color: #effc35;
                }

                PLSRtmpChannelView #PlatformCombbox > QAbstractItemView::item:selected:!active {
                    color: #ffffff;
                }


        PLSRtmpChannelView #PlatformCombbox::drop-down {
            subcontrol-origin: padding;
            subcontrol-position: center right;
            width: 30px;
            height: 30px;
            border: none;
        }

        PLSRtmpChannelView #PlatformCombbox::down-arrow {
            image: url(":/resource/images/txt-dropbox-open-normal.svg");
        }

            PLSRtmpChannelView #PlatformCombbox::down-arrow:on {
                image: url(":/resource/images/txt-dropbox-open-click.svg");
            }

    PLSRtmpChannelView #NameLabel, PLSRtmpChannelView #StreamKeyLabel, PLSRtmpChannelView #UserIDLabel, PLSRtmpChannelView #UserPasswordLabel, PLSRtmpChannelView #PlatformLabel, PLSRtmpChannelView #ServerLabel {
        background-color: transparent;
        max-width: 136px;
        min-height: 18px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        color: #bababa;
    }

    PLSRtmpChannelView #PasswordComplexEditor {
        background-color: #222222;
        border: 0px;
        padding: 0px;
        margin: 0px;
        border-radius: 3px;
    }


    PLSRtmpChannelView #OpenLink {
        padding: 0px;
        margin: 0px;
        margin-left: 3px;
        background-color: transparent;
        border-image: none;
        border: none;
        color: lightblue;
        min-width: 28px;
        min-height: 18px;
        max-height: 18px;
        max-width: 58px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: #0091ff;
        qproperty-minimumSize: 28px 18px;
        qproperty-maximumSize: 56px 18px;
    }

        PLSRtmpChannelView #OpenLink:hover {
            color: white;
        }

        PLSRtmpChannelView #OpenLink:disabled {
            color: transparent;
        }

    PLSRtmpChannelView #RTMPUrlEdit:disabled {
        color: #666666;
    }

    PLSRtmpChannelView #UserPasswordEdit {
        margin: 1px;
        padding: 0px;
        padding-left: 10px;
        qproperty-minimumSize: 400px 36px;
        qproperty-maximumSize: 469px 36px;
    }

    PLSRtmpChannelView #PasswordVisible {
        qproperty-minimumSize: 40px 40px;
        qproperty-maximumSize: 40px 40px;
        padding: 9px;
        background-color: transparent;
        color: transparent;
        border-image: none;
    }

        PLSRtmpChannelView #PasswordVisible:checked {
            image: url(":/resource/images/icon-source-view-off-normal.svg");
        }

            PLSRtmpChannelView #PasswordVisible:checked:hover {
                image: url(":/resource/images/icon-source-view-off-over.svg");
            }

            PLSRtmpChannelView #PasswordVisible:checked:pressed {
                image: url(":/resource/images/icon-source-view-off-click.svg");
            }

        PLSRtmpChannelView #PasswordVisible:!checked {
            image: url(":/resource/images/ic-source-view-normal.svg");
        }

            PLSRtmpChannelView #PasswordVisible:!checked:hover {
                image: url(":/resource/images/ic-source-view-over.svg");
            }


            PLSRtmpChannelView #PasswordVisible:!checked:pressed {
                image: url(":/resource/images/ic-source-view-click.svg");
            }

    PLSRtmpChannelView #ButtonsFrame {
        padding: 20px 30px 20px 25px;
        max-height: 80px;
        border-top: 1px solid #111111;
        qproperty-minimumSize: 720px 80px;
        qproperty-maximumSize: 720px 80px;
    }

    PLSRtmpChannelView #SaveBtn, PLSRtmpChannelView #CancelBtn {
        min-height: 40px;
        max-height: 40px;
        min-width: 128px;
        max-width: 128px;
        font-size: 14px;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        qproperty-minimumSize: 128px 40px;
        qproperty-maximumSize: 128px 40px;
        border-radius: 3px;
        color: #ffffff;
        border: none;
        background-color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        color: #ffffff;
    }

        PLSRtmpChannelView #SaveBtn:hover, PLSRtmpChannelView #CancelBtn:hover {
            background-color: #555555;
            color: #ffffff;
        }

        PLSRtmpChannelView #SaveBtn:pressed, PLSRtmpChannelView #CancelBtn:pressed {
            background-color: #2d2d2d;
            color: #ffffff;
        }

        PLSRtmpChannelView #SaveBtn:disabled, PLSRtmpChannelView #CancelBtn:disabled {
            color: #777777;
            background-color: #444444;
        }

    PLSRtmpChannelView #RTMPUrlEdit:focus, PLSRtmpChannelView #NameEdit:focus, PLSRtmpChannelView #UserIDEdit:focus, PLSRtmpChannelView #StreamKeyEdit:focus, PLSRtmpChannelView #PasswordComplexEditor:isFocus {
        border: 1px solid #effc35;
    }

    PLSRtmpChannelView #PasswordComplexEditor[isFocus="true"] {
        border: 1px solid #effc35;
    }

    PLSRtmpChannelView #EditAreaFrame QLabel#itemLabel {
        max-width: 10000px;
        min-width: 0px;
        padding-left: 12px;
    }
    /*
	PLSRtmpChannelView #ResolutionFrame {
		border: 1px solid red;
	}*/
    PLSRtmpChannelView #ToResolutionBtn {
        background-color: transparent;
        min-height: 17px;
        max-height: 17px;
        margin: 0px;
        padding: 0px;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        color: #bababa;
        spacing: 5px;
        /*border: 1px solid red;*/
    }

        PLSRtmpChannelView #ToResolutionBtn:hover {
            color: white;
        }

        PLSRtmpChannelView #ToResolutionBtn:pressed {
            color: #1e1e1f;
        }

        PLSRtmpChannelView #ToResolutionBtn:disabled {
            color: #666666;
        }

        PLSRtmpChannelView #ToResolutionBtn::indicator {
            min-height: 15px;
            max-height: 15px;
            min-width: 12px;
            max-width: 12px;
            margin: 0px;
            padding: 0px;
            padding-top: 5px;
            background-color: transparent;
            image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-normal.svg);
            /*	border: 1px solid red;*/
        }

            PLSRtmpChannelView #ToResolutionBtn::indicator:hover {
                image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-over.svg);
            }

            PLSRtmpChannelView #ToResolutionBtn::indicator:pressed {
                image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-click.svg);
            }

            PLSRtmpChannelView #ToResolutionBtn::indicator:disabled {
                image: url(:/resource/images/ResolutionGuide/ic-setting-liveinfo-disable.svg);
            }



    PLSRtmpChannelView #CheckInvalidTipFrame {
        min-height: 40px;
        background-color: rgba(30, 30, 30, 0.95);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        padding: 9px 12px 12px 20px;
    }

    PLSRtmpChannelView #CheckInvalidTip {
        background-color: transparent;
        font-size: 14px;
        font-weight: normal;
        color: #bababa;
    }

    PLSRtmpChannelView #CheckInvalidTipCloseBtn {
        min-width: 16px;
        min-height: 16px;
        max-width: 16px;
        max-height: 16px;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        image: url(":/resource/images/ResolutionGuide/btn-close-normal.svg");
        background-color: transparent;
        border-radius: 0px;
        border: none;
    }

        PLSRtmpChannelView #CheckInvalidTipCloseBtn:hover {
            image: url(":/resource/images/ResolutionGuide/btn-close-over.svg");
        }

        PLSRtmpChannelView #CheckInvalidTipCloseBtn:pressed {
            image: url(":/resource/images/ResolutionGuide/btn-close-click.svg");
        }

        PLSRtmpChannelView #CheckInvalidTipCloseBtn:disabled {
            image: url(":/resource/images/ResolutionGuide/close-btn-disable.svg");
        }

    PLSRtmpChannelView #onlyPasteKey #plsCheckBox_text{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #FFFFFF;
    }
    PLSRtmpChannelView #pasteKeyLabel {
        margin-left: 19px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: #666666;
    }
