RegionCaptureToolbar #regionCaptureToolbarBtn {
    margin: 0;
    padding: 0;
    min-width: 113px;
    max-width: 113px;
    min-height: 30px;
    max-height: 30px;
    font-size: /*hdpi*/ 12px;
    font-weight: normal;
}

TimerSourceToolbar #toolBarBtn {
    margin: 0;
    padding: 0;
    min-width: 60px;
    max-width: 60px;
    min-height: 30px;
    max-height: 30px;
    font-size:  12px;
    font-weight: normal;
    color: white;
}

TimerSourceToolbar #toolBarBtn:checked {
    color: #effc35;
}

TimerSourceToolbar #toolBarBtn:disabled {
    background-color: #444444;
    color: #666666;
}