PLSSceneListView{
    background-color: #272727;
}

PLSSceneListView QMenu#displayMethodMenu::indicator {
	width: 22px;
	height: 22px;
	margin-left: 8px;
	margin-right: -12px;
}

PLSSceneListView QMenu#displayMethodMenu::indicator:checked {
	image: url(":/resource/images/ic_menucheck_normal.svg");
}

PLSSceneListView QMenu#displayMethodMenu::item:checked {
	color: white;
}

PLSSceneListView #titleFrame{
	min-width:/*hdpi*/ 182px;
	min-height:/*hdpi*/ 50px;
	max-height:/*hdpi*/ 50px;
	background-color: #272727;
	border:/*hdpi*/ none;
}

PLSSceneListView #sceneLabel{
	font-size:/*hdpi*/ 13px;
	font-weight: bold;
	color: #ffffff;
	background-color: #272727;
}

PLSSceneListView #scrollAreaWidgetContents, PLSSceneListView #scrollArea{
	background-color: #272727;
	min-width:/*hdpi*/ 140px;
	/*min-height:*//*hdpi*/ /*138px;*/
}

PLSSceneListView #scrollArea {
	qproperty-topMargin: 0;
	qproperty-bottomMargin: 0;
}

PLSSceneListView #scrollArea > #flatScrollBar{
	background-color: transparent;
	min-width: /*hdpi*/ 10px;
	max-width: /*hdpi*/ 10px;
	margin: 0px;
}

PLSSceneItemView QLineEdit{
	font-size:/*hdpi*/ 14px;	
}

PLSSceneItemView {
	border-radius: /*hdpi*/ 3px;
	background-color: transparent;
}

PLSSceneItemView #listFrame{
        background-color: #272727;
	max-height:/*hdpi*/  38px;
        min-height:/*hdpi*/  38px;
	margin-bottom:/*hdpi*/  1px;
        margin-top:/*hdpi*/ 1px;
}

PLSSceneItemView #listFrame QLineEdit{
        padding-left:/*hdpi*/ 5px;
	min-height:/*hdpi*/ 24px;
	max-height:/*hdpi*/ 24px;
        background-color: #1e1e1e;
	font-size:/*hdpi*/ 14px;
}

PLSSceneItemView #listFrame[enter=true]{
	background-color: #444444;
}

PLSSceneItemView #listFrame[enter=false]{
	background-color: #272727;
}

PLSSceneItemView #imageLabel{
	background-color: #222222;
	min-height:/*hdpi*/ 64px;
	max-height:/*hdpi*/ 64px;
}

PLSSceneItemView #imageLabel #image{
	min-height:/*hdpi*/ 64px;
	max-height:/*hdpi*/ 64px;
	min-width:/*hdpi*/ 72px;
	max-width:/*hdpi*/ 72px;
}

PLSSceneItemView #imageLabel #image[showImage=true] {
	image: url(":/resource/images/img-scene-default.svg");
	background: #222222;
}

PLSSceneItemView #imageLabel #image[showImage=false]{
	image: none;
}

PLSSceneItemView #editWidget{
	min-height:/*hdpi*/ 43px;
	max-height:/*hdpi*/ 43px;
	background-color: #272727;
}

PLSSceneItemView #nameLabel{
	color: #ffffff;
	font-size:/*hdpi*/ 14px;
	background-color: #272727;
}

PLSSceneItemView #listFrame #label{
	color: #ffffff;
	font-size:/*hdpi*/ 14px;
	background-color: transparent;
}

PLSSceneItemView #listFrame #label[clicked=true]{
	color: #effc35;
	font-weight: bold;
}

PLSSceneItemView #listFrame #label[clicked=false]{
	color: #ffffff;
	font-weight: normal;
}

PLSSceneItemView #listFrame #renameBtn{
	color: #ffffff;
	font-weight: normal;
}

PLSSceneItemView #nameLineEdit{
	min-height:/*hdpi*/ 24px;
	max-height:/*hdpi*/ 24px;
	background-color: #1e1e1e;
	margin:/*hdpi*/0;
	padding:/*hdpi*/0;
	padding-left:/*hdpi*/ 5px;
	padding-right:/*hdpi*/ 5px;
}

PLSSceneItemView #modifyBtn[enter=true]{
	background-color: #272727;
}

PLSSceneItemView #modifyBtn[enter=false]{
	background-color: #272727;
}

PLSSceneItemView #modifyBtn, PLSSceneItemView #renameBtn{
	background: transparent;
	min-width: /*hdpi*/ 20px;
	max-width: /*hdpi*/ 20px;
	min-height: /*hdpi*/ 20px;
	max-height: /*hdpi*/ 20px;
	border-style: none;
	margin: 0;
	padding: 0;
	image:url(":/resource/images/ic-scene-rename-normal.svg");
}

PLSSceneItemView #modifyBtn:hover, PLSSceneItemView #renameBtn:hover{
	image:url(":/resource/images/ic-scene-rename-over.svg");
}

PLSSceneItemView #modifyBtn:pressed, PLSSceneItemView #renameBtn:pressed{
	image:url(":/resource/images/ic-scene-rename-click.svg");
}

PLSSceneItemView #deleteBtn{
	qproperty-maximumSize:/*hdpi*/16px/*hdpi*/16px;
	qproperty-minimumSize:/*hdpi*/16px/*hdpi*/16px;
	border: none;
	background:transparent;
	padding: 0;
	margin: 0;
	image:url(":/resource/images/btn-close-normal.svg");
}

PLSSceneItemView #deleteBtn:hover{
	image:url(":/resource/images/btn-close-over.svg");
}

PLSSceneItemView #deleteBtn:pressed{
	image:url(":/resource/images/btn-close-click.svg");
}

PLSSceneItemView #deleteBtn:!enabled{
	image:url(":/resource/images/btn-close-disable.svg");
}

PLSSceneItemView #liveBtn{
	qproperty-maximumSize:/*hdpi*/40px/*hdpi*/20px;
	qproperty-minimumSize:/*hdpi*/40px/*hdpi*/20px;
	background-color: black;
	border-style: none;
	image:url(":/resource/images/badge-live-on.svg");
}

PLSSceneItemView #label_badge{
	qproperty-maximumSize:/*hdpi*/31px/*hdpi*/16px;
	qproperty-minimumSize:/*hdpi*/31px/*hdpi*/16px;
	background: transparent;
	border: none;
}

PLSSceneItemView #label_badge[badge_type="edit"]{
	image:url(":/resource/images/scene/ic-badge-edit.svg");
}

PLSSceneItemView #label_badge[badge_type="live"]{
	image:url(":/resource/images/scene/ic-badge-live-on.svg");
}

PLSSceneItemView #label_badge[badge_type="record"]{
	image:url(":/resource/images/scene/ic-badge-rec-on.svg");
}

PLSSceneItemView #label_badge[badge_type="rehearsal"]{
	image:url(":/resource/images/scene/ic-badge-live-off.svg");
}

PLSSceneItemView #label_badge[badge_type="normal"]{
	image:url(":/resource/images/scene/ic-badge-live-off.svg");
}
