PLSShoppingHostChannel {
    qproperty-hasHLine: true;
    qproperty-hasMinButton: false;
    qproperty-hasCloseButton: false;
    qproperty-hasBorder: true;
    background-color: #272727;
}

    PLSShoppingHostChannel #titleLabel {
        color: white;
        font-size: 14px;
        min-height: 40px;
        max-height: 40px;
    }

    PLSShoppingHostChannel #contentLabel {
        color: #bababa;
        font-size: 12px;
        min-height: 54px;
        max-height: 54px;
    }

    PLSShoppingHostChannel #agreeButton,
    PLSShoppingHostChannel #declineButton {
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        padding: 0px;
        color: white;
        background-color: #444444;
        min-height: 40px;
        max-height: 40px;
        min-width: 140px;
        max-width: 140px;
    }

        PLSShoppingHostChannel #agreeButton:hover,
        PLSShoppingHostChannel #declineButton:hover {
            background-color: #555555;
        }

        PLSShoppingHostChannel #agreeButton:pressed,
        PLSShoppingHostChannel #declineButton:pressed {
            background-color: #1e1e1f;
        }
