PLSSelectImageButton {
	background-color: transparent;
	border-radius:/*hdpi*/ 3px;
}

PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="ko-KR"] #takeButton > #icon,
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="ko-KR"] #selectButton > #icon {
	margin-left: /*hdpi*/ 21px;
}
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="en-US"] #takeButton > #icon,
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="en-US"] #selectButton > #icon {
	margin-left: /*hdpi*/ 3px;
}
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="id-ID"] #takeButton > #icon,
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="id-ID"] #selectButton > #icon {
	margin-left: /*hdpi*/ 3px;
}
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="ja-JP"] #takeButton > #icon,
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="ja-JP"] #selectButton > #icon {
	margin-left: /*hdpi*/ 21px;
}
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="pt-BR"] #takeButton > #icon,
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="pt-BR"] #selectButton > #icon {
	margin-left: /*hdpi*/ 3px;
}
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="es-ES"] #takeButton > #icon,
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="es-ES"] #selectButton > #icon {
	margin-left: /*hdpi*/ 3px;
}
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="vi-VN"] #takeButton > #icon,
PLSLiveInfoNaverShoppingLIVE PLSSelectImageButton[lang="vi-VN"] #selectButton > #icon {
	margin-left: /*hdpi*/ 19px;
}

PLSLiveInfoNaverTV PLSSelectImageButton[lang="ko-KR"] #takeButton > #icon,
PLSLiveInfoNaverTV PLSSelectImageButton[lang="ko-KR"] #selectButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="ko-KR"] #takeButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="ko-KR"] #selectButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="ko-KR"] #takeButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="ko-KR"] #selectButton > #icon {
	margin-left: /*hdpi*/ 65px;
}
PLSLiveInfoNaverTV PLSSelectImageButton[lang="en-US"] #takeButton > #icon,
PLSLiveInfoNaverTV PLSSelectImageButton[lang="en-US"] #selectButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="en-US"] #takeButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="en-US"] #selectButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="en-US"] #takeButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="en-US"] #selectButton > #icon {
	margin-left: /*hdpi*/ 42px;
}
PLSLiveInfoNaverTV PLSSelectImageButton[lang="id-ID"] #takeButton > #icon,
PLSLiveInfoNaverTV PLSSelectImageButton[lang="id-ID"] #selectButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="id-ID"] #takeButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="id-ID"] #selectButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="id-ID"] #takeButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="id-ID"] #selectButton > #icon {
	margin-left: /*hdpi*/ 42px;
}
PLSLiveInfoNaverTV PLSSelectImageButton[lang="pt-BR"] #takeButton > #icon,
PLSLiveInfoNaverTV PLSSelectImageButton[lang="pt-BR"] #selectButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="pt-BR"] #takeButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="pt-BR"] #selectButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="pt-BR"] #takeButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="pt-BR"] #selectButton > #icon {
	margin-left: /*hdpi*/ 42px;
}
PLSLiveInfoNaverTV PLSSelectImageButton[lang="ja-JP"] #takeButton > #icon,
PLSLiveInfoNaverTV PLSSelectImageButton[lang="ja-JP"] #selectButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="ja-JP"] #takeButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="ja-JP"] #selectButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="ja-JP"] #takeButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="ja-JP"] #selectButton > #icon {
	margin-left: /*hdpi*/ 63px;
}
PLSLiveInfoNaverTV PLSSelectImageButton[lang="es-ES"] #takeButton > #icon,
PLSLiveInfoNaverTV PLSSelectImageButton[lang="es-ES"] #selectButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="es-ES"] #takeButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="es-ES"] #selectButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="es-ES"] #takeButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="es-ES"] #selectButton > #icon {
	margin-left: /*hdpi*/ 42px;
}
PLSLiveInfoNaverTV PLSSelectImageButton[lang="vi-VN"] #takeButton > #icon,
PLSLiveInfoNaverTV PLSSelectImageButton[lang="vi-VN"] #selectButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="vi-VN"] #takeButton > #icon,
PLSLiveInfoVLive PLSSelectImageButton[lang="vi-VN"] #selectButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="vi-VN"] #takeButton > #icon,
PLSLiveInfoYoutube PLSSelectImageButton[lang="vi-VN"] #selectButton > #icon {
	margin-left: /*hdpi*/ 61px;
}
PLSSelectImageButton #takeButton > #text,
PLSSelectImageButton #selectButton > #text {
	margin-left: /*hdpi*/ 1px;
}

PLSSelectImageButton #imageLabel {
	border-radius:/*hdpi*/ 3px;
	background-color: #444444;
}

PLSSelectImageButton #imageLabel #icon {
	background-color: transparent;
	min-width:/*hdpi*/ 54px;
	max-width:/*hdpi*/ 54px;
	min-height:/*hdpi*/ 52px;
	max-height:/*hdpi*/ 52px;
}

PLSSelectImageButton #imageLabel #icon[enabled="true"] {
	image: url(":/resource/images/icon-cover-camera.svg");
}

PLSSelectImageButton #imageLabel #icon[enabled="false"] {
	image: url(":/resource/images/icon-cover-camera-disable.svg");
}

PLSSelectImageButton #takeButton {
	border-top-left-radius:/*hdpi*/ 3px;
	border-top-right-radius:/*hdpi*/ 3px;
	border-bottom-left-radius:/*hdpi*/ 0;
	border-bottom-right-radius:/*hdpi*/ 0;
}

PLSSelectImageButton #selectButton {
	border-top-left-radius:/*hdpi*/ 0;
	border-top-right-radius:/*hdpi*/ 0;
	border-bottom-left-radius:/*hdpi*/ 3px;
	border-bottom-right-radius:/*hdpi*/ 3px;
}
PLSSelectImageButton #takeButton, PLSSelectImageButton #selectButton {
	min-width: /*hdpi*/ 0;
	max-width: /*hdpi*/ 99999px;
	min-height: /*hdpi*/ 0;
	max-height: /*hdpi*/ 99999px;
	background: #444444;
}
PLSSelectImageButton #takeButton:hover, PLSSelectImageButton #selectButton:hover {
	background: #555555;
}
PLSSelectImageButton #takeButton > #icon,
PLSSelectImageButton #selectButton > #icon {
	min-width: /*hdpi*/ 23px;
	max-width: /*hdpi*/ 23px;
	min-height: /*hdpi*/ 23px;
	max-height: /*hdpi*/ 23px;
	background-color: transparent;
}
PLSSelectImageButton #takeButton > #icon {
	image: url(":/resource/images/icon-cover-camera-small.svg");
}
PLSSelectImageButton #selectButton > #icon {
	image: url(":/resource/images/icon-cover-add.svg");
}
PLSSelectImageButton #takeButton > #text,
PLSSelectImageButton #selectButton > #text {
	background-color: transparent;
	font-size:/*hdpi*/ 14px;
	font-weight: bold;
	color: white;
}

PLSSelectImageButton  #maskBgWidget {
	background-color: transparent;
	border-radius:/*hdpi*/ 3px;
}