
PLSUpdateTipView {
    qproperty-captionBarHeight: 0;
    qproperty-captionHeight: 0;
    qproperty-hasHLine: false;
    min-height: 526px;
    max-height: 526px;
    min-width: 720px;
    max-width: 720px;
}
PLSUpdateTipView > #content {
    background-color: #1e1e1f;
}
   PLSUpdateTipView #updateTop {
    background-color:  #1e1e1f;
    min-height: 112px;
    max-height: 112px;
 }

    PLSUpdateTipView #middleView {
        min-height: 304px;
        max-height: 304px;
        background-color: #111111;
    }

    PLSUpdateTipView #lineView {
        background-color: #151515;
        min-height: 1px;
        max-height: 1px;
    }

    PLSUpdateTipView #updateTopDescription {
        color: #effc35;
        font-size: 20px;
        font-weight: bold;
        background-color: transparent;
    }

    PLSUpdateTipView #nextUpdateBtn {
        qproperty-minimumSize: 170px 40px;
        qproperty-maximumSize: 170px 40px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        padding: 0px;
        color: white;
        background-color: #444444;
    }

        PLSUpdateTipView #nextUpdateBtn:hover {
            background-color: #555555;
        }

        PLSUpdateTipView #nextUpdateBtn:pressed {
            background-color: #1e1e1f;
        }

    PLSUpdateTipView #nowUpdateBtn {
        qproperty-minimumSize: 170px 40px;
        qproperty-maximumSize: 170px 40px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        padding: 0px;
        color: white;
        background-color: #444444;
    }

        PLSUpdateTipView #nowUpdateBtn:hover {
            background-color: #555555;
        }

        PLSUpdateTipView #nowUpdateBtn:pressed {
            background-color: #1e1e1f;
        }