
PLSUpdateView {
    qproperty-captionBarHeight: 0;
    qproperty-captionHeight: 0;
    qproperty-hasHLine: false;
    background-color: #1e1e1f;
    min-height: 526px;
    max-height: 526px;
    min-width: 720px;
    max-width: 720px;
}
PLSUpdateView > #content {
    background-color: #1e1e1f;
}

    PLSUpdateView #lineView {
        background-color: #151515;
        min-height: 1px;
        max-height: 1px;
    }

   PLSUpdateView #updateTop {
    background-color:  #1e1e1f;
    min-height: 112px;
    max-height: 112px;
   }

    PLSUpdateView #updateTopDescription {
        color: #effc35;
        font-size: 20px;
        font-weight: bold;
        background-color: transparent;
        margin: 0px;
        padding: 0px;
    }

    PLSUpdateView #nextUpdateBtn {
        qproperty-minimumSize: 170px 40px;
        qproperty-maximumSize: 170px 40px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        padding: 0px;
        color: white;
        background-color: #444444;
    }

        PLSUpdateView #nextUpdateBtn:hover {
            background-color: #555555;
        }

        PLSUpdateView #nextUpdateBtn:pressed {
            background-color: #1e1e1f;
        }

    PLSUpdateView #nowUpdateBtn {
        qproperty-minimumSize: 170px 40px;
        qproperty-maximumSize: 170px 40px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        padding: 0px;
        color: white;
        background-color: #444444;
    }

        PLSUpdateView #nowUpdateBtn:hover {
            background-color: #555555;
        }

        PLSUpdateView #nowUpdateBtn:pressed {
            background-color: #1e1e1f;
        }
PLSUpdateView #middleWidget {
    background-color: #111111;
    min-height: 304px;
    max-height: 304px;
}