ResolutionGuidePage {
    min-width: /*hdpi*/ 720px;
    min-height: /*hdpi*/ 488px;
    max-width: /*hdpi*/ 720px;
    max-height: /*hdpi*/ 2250px;
    margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
    border: /*hdpi*/ none;
    qproperty-hasHLine: /*hdpi*/ false;
}

    ResolutionGuidePage #content {
        background: #272727;
        border: /*hdpi*/ none;
    }

    ResolutionGuidePage #ContentFrame {
        margin: /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px /*hdpi*/ 15px /*hdpi*/ 0px /*hdpi*/ 30px;
        border: none;
    }

 
    ResolutionGuidePage #ContentScrollArea, ResolutionGuidePage #B2BScrollArea {
        min-width: /*hdpi*/ 660px;
        max-width: /*hdpi*/ 660px;
    }

        ResolutionGuidePage #ContentScrollArea QScrollBar::handle:vertical, ResolutionGuidePage #B2BScrollArea QScrollBar::handle:vertical {
            min-width: /*hdpi*/ 6px;
            min-height: /*hdpi*/ 105px;
            max-width: /*hdpi*/ 6px;
            max-height: /*hdpi*/ 105px;
            border-radius: 3px;
            background-color: #444444;
        }

    ResolutionGuidePage #ContentFrame, ResolutionGuidePage #ContentScrollArea, ResolutionGuidePage #scrollAreaWidgetContents, ResolutionGuidePage #HeaderFrame {
        background-color: transparent;
    }

    ResolutionGuidePage #MainTitleLabel {
        margin-top: /*hdpi*/ 40px;
        padding: /*hdpi*/ 0px;
        font-size: /*hdpi*/ 20px;
        font-weight: bold;
        font-style: normal;
        color: #effc35;
        min-height: /*hdpi*/ 30px;
        max-height: /*hdpi*/ 30px;
        border: none;
    }


    ResolutionGuidePage #SubtitleLabel {
        margin: /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px;
        font-size: /*hdpi*/ 12px;
        font-weight: normal;
        font-style: normal;
        color: #bababa;
        min-height: /*hdpi*/ 18px;
        max-height: /*hdpi*/ 18px;
        border: none;
    }

    ResolutionGuidePage #TabFrame {
        border: none;
        border-bottom: 1px solid #323232;
        margin-top: 25px;
        min-height: 35px;
        max-height: 35px;
        padding: 0;
        background-color: transparent;
    }

    ResolutionGuidePage #B2BTab {
        qproperty-maximumSize: /*hdpi*/ 180px /*hdpi*/ 35px;
        qproperty-minimumSize: /*hdpi*/ 180px /*hdpi*/ 35px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0px;
        background-color: transparent;
    }

    ResolutionGuidePage #B2BServerName {
        min-height: 30px;
        max-height: 30px;
        margin: 0;
        padding: 0;
        border: none;
        font-weight: normal;
        font-size: 14px;
        color: #BABABA;
        background-color: transparent;
        /*border: 1px solid yellow;*/
        margin-bottom:5px;
    }

        ResolutionGuidePage #B2BServerName[slected = "true"] {
            color: #effc35;
            font-weight: bold;
        }

    ResolutionGuidePage #B2BTab:checked {
        border-bottom: 2px solid #effc35;
    }

    ResolutionGuidePage #updateButton {
        min-height: 30px;
        max-height: 30px;
        min-width: 30px;
        max-width: 30px;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        background: transparent;
        image: url(":/resource/images/ncp/ic-refresh-normal.svg");
        /*border: 1px solid yellow;*/
    }

        ResolutionGuidePage #updateButton:hover {
            image: url(":/resource/images/ncp/ic-refresh-normal-over.svg");
        }

    ResolutionGuidePage #otherTab {
        qproperty-maximumSize: /*hdpi*/ 180px /*hdpi*/ 35px;
        qproperty-minimumSize: /*hdpi*/ 180px /*hdpi*/ 35px;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 14px;
        border: none;
        border-radius: 0px;
        background-color: transparent;
        padding-bottom: 5px;
        color: #BABABA;
    }

        ResolutionGuidePage #otherTab:checked {
            color: #effc35;
            font-weight: bold;
            border-bottom: 2px solid #effc35;
        }

    ResolutionGuidePage #content #HeaderFrame, ResolutionGuidePage #content #B2BHeaderFrame {
        min-height: /*hdpi*/ 40px;
        max-height: /*hdpi*/ 40px;
        min-width: /*hdpi*/ 600px;
        max-width: /*hdpi*/ 600px;
        background-color: #363636;
        border-radius: /*hdpi*/ 3px;
        margin: /*hdpi*/ 0px;
        margin-top: 30px;
        padding: /*hdpi*/ 0px /*hdpi*/ 30px /*hdpi*/ 0px /*hdpi*/ 30px;
        border: none;
    }

        ResolutionGuidePage #content #HeaderFrame QLabel, ResolutionGuidePage #content #B2BHeaderFrame QLabel {
            margin: /*hdpi*/ 0px;
            padding: /*hdpi*/ 0px;
            background-color: transparent;
            font-size: /*hdpi*/ 12px;
            font-weight: bold;
            font-style: normal;
            color: white;
        }

    ResolutionGuidePage #errorLabel {
        font-size: /*hdpi*/ 14px;
        font-weight: normal;
        color: #BABABA;
    }

    ResolutionGuidePage ResolutionGuideItem{
        min-width: /*hdpi*/ 615px;
        max-width: /*hdpi*/ 615px;
        min-height: /*hdpi*/ 50px;
        margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        padding: /*hdpi*/ 10px /*hdpi*/ 10px /*hdpi*/ 10px /*hdpi*/ 25px;
        border-radius: /*hdpi*/ 3px;
        background-color: #363636;
        /*border: 1px solid red;*/
    }

    ResolutionGuidePage B2BResolutionGuideItem {
        min-width: /*hdpi*/ 600px;
        max-width: /*hdpi*/ 600px;
        min-height: /*hdpi*/ 50px;
        Max-height: /*hdpi*/ 50px;
        margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        padding: /*hdpi*/ 10px /*hdpi*/ 30px /*hdpi*/ 10px /*hdpi*/ 25px;
        border-radius: /*hdpi*/ 3px;
        background-color: #363636;
        /*border: 1px solid red;*/
    }


        ResolutionGuidePage #IconFrame {
            min-width: /*hdpi*/ 67px;
            max-width: /*hdpi*/ 67px;
            max-height: /*hdpi*/ 40px;
            margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
            padding: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
            background-color: transparent;
        }

    ResolutionGuidePage B2BResolutionGuideItem #IconFrame, ResolutionGuidePage #B2BIcon {
        margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        background-color: transparent;
        min-width: /*hdpi*/ 67px;
        max-width: /*hdpi*/ 67px;
        max-height: /*hdpi*/ 40px;
    }

    ResolutionGuidePage #B2BTemplateName {
        min-width: 149px;
        max-width: 149px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        /*border: 1px solid yellow;*/
    }

    ResolutionGuidePage #B2BFPS {
        min-width: /*hdpi*/ 150px;
        max-width: /*hdpi*/ 150px;
        max-height: /*hdpi*/ 40px;
        margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        background-color: transparent;
        /*border: 1px solid yellow;*/
    }

    ResolutionGuidePage #B2BBitrate{
        min-width: /*hdpi*/ 130px;
        max-width: /*hdpi*/ 130px;
        max-height: /*hdpi*/ 40px;
        margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        background-color: transparent;
        /*border: 1px solid yellow;*/
    }

    ResolutionGuidePage #MiddleFrame {
        min-width: /*hdpi*/ 163px;
        max-width: /*hdpi*/ 163px;
        max-height: /*hdpi*/ 40px;
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        /*border: 1px solid red;*/
    }


    ResolutionGuidePage #DescriptionLabel {
        min-width: /*hdpi*/ 400px;
        max-width: /*hdpi*/ 400px;
        margin: 0;
        padding: /*hdpi*/ 0px;
        background-color: transparent;
        font-size: /*hdpi*/ 12px;
        font-weight: normal;
        font-style: normal;
        color: #bababa;
        /*border: 1px solid red;*/
    }

    ResolutionGuidePage ResolutionGuideItem #blockLabel {
        font-size: /*hdpi*/ 12px;
        font-weight: normal;
        font-style: normal;
        color: #bababa;
        background-color: transparent;
        border: none;
        min-width: /*hdpi*/ 385px;
        max-width: /*hdpi*/ 385px;
    }

    ResolutionGuidePage ResolutionGuideItem > #IconFrame{
        max-height: /*hdpi*/ 46px;
        margin-top: /*hdpi*/ 2px;
    }

    ResolutionGuidePage ResolutionGuideItem ComplexHeaderIcon, ResolutionGuidePage B2BResolutionGuideItem ComplexHeaderIcon {
        margin: /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px;
        qproperty-minimumSize: /*hdpi*/ 46px /*hdpi*/ 46px;
        qproperty-maximumSize: /*hdpi*/ 46px /*hdpi*/ 46px;
        background-color: transparent;
        color: transparent;
    }

    ResolutionGuidePage ResolutionGuideItem > #MiddleFrame {
        margin-left: /*hdpi*/ 5px;
        min-width: /*hdpi*/ 163px;
        max-width: /*hdpi*/ 163px;
    }
    ResolutionGuidePage B2BResolutionGuideItem > #MiddleFrame {
        min-width: /*hdpi*/ 153px;
        max-width: /*hdpi*/ 153px;
    }

    ResolutionGuidePage ResolutionGuideItem #ResolutionApplyBtn, ResolutionGuidePage B2BResolutionGuideItem #ResolutionApplyBtn {
        min-height: /*hdpi*/ 18px;
        max-height: /*hdpi*/ 18px;
        margin: /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px;
        background-color: transparent;
        font-size: /*hdpi*/ 12px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
        color: #effc35;
    }

        ResolutionGuidePage ResolutionGuideItem #ResolutionApplyBtn:hover, ResolutionGuidePage B2BResolutionGuideItem #ResolutionApplyBtn:hover {
            color: #F9FFA7;
        }

        ResolutionGuidePage ResolutionGuideItem #ResolutionApplyBtn:pressed, ResolutionGuidePage B2BResolutionGuideItem #ResolutionApplyBtn:pressed {
            color: #7a7f34;
        }

        ResolutionGuidePage ResolutionGuideItem #ResolutionApplyBtn:disabled, ResolutionGuidePage B2BResolutionGuideItem #ResolutionApplyBtn:disabled {
            color: #444444;
        }

    ResolutionGuidePage ResolutionGuideItem #ResolutionLabel {
        min-height: /*hdpi*/ 18px;
        margin: /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px;
        background-color: transparent;
        font-size: /*hdpi*/ 12px;
        font-weight: normal;
        font-style: normal;
        color: #bababa;
        /*border: 1px solid red;*/
    }
    ResolutionGuidePage B2BResolutionGuideItem #templateName {
        min-height: /*hdpi*/ 18px;
        margin: /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px;
        background-color: transparent;
        font-size: /*hdpi*/ 12px;
        font-weight: bold;
        font-style: normal;
        color: #bababa;
        min-width: 138px;
        max-width: 138px;
    }
    ResolutionGuidePage B2BResolutionGuideItem #output_FPS, ResolutionGuidePage B2BResolutionGuideItem #bitrate, ResolutionGuidePage B2BResolutionGuideItem #keyframeInterval {
        min-height: /*hdpi*/ 18px;
        margin: /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px;
        background-color: transparent;
        font-size: /*hdpi*/ 12px;
        font-weight: normal;
        font-style: normal;
        color: #bababa;
        /*border: 1px solid red;*/
    }
    ResolutionGuidePage B2BResolutionGuideItem #output_FPS {
        min-width: /*hdpi*/ 150px;
        max-width: /*hdpi*/ 150px;
    }
    ResolutionGuidePage B2BResolutionGuideItem #bitrate {
        min-width: /*hdpi*/ 130px;
        max-width: /*hdpi*/ 130px;
    }
    
        ResolutionGuidePage #OtherInforFrame {
            min-height: /*hdpi*/ 16px;
            min-width: /*hdpi*/ 600px;
            padding: /*hdpi*/ 8px /*hdpi*/ 0px /*hdpi*/ 40px /*hdpi*/ 0px;
            margin: /*hdpi*/ 0px;
            border: none;
            background-color: transparent;
        }

    ResolutionGuidePage #OtherLabel {
        font-size: /*hdpi*/ 12px;
        font-style: normal;
        font-weight: bold;
        color: #bababa;
        background-color: transparent;
        max-height: /*hdpi*/ 16px;
        border: none;
    }

    ResolutionGuidePage #OtherInforFrame #ResolutionOtherTipsLabel {
        font-size: /*hdpi*/ 12px;
        font-weight: normal;
        font-style: normal;
        color: #bababa;
        background-color: transparent;
        max-height: /*hdpi*/ 16px;
        border: none;
        margin: 0px;
        padding: 0px
    }

    ResolutionGuidePage #BottomFrame {
        min-height: /*hdpi*/ 78px;
        max-height: /*hdpi*/ 78px;
        border-top: /*hdpi*/ 1px solid #111111;
    }

    ResolutionGuidePage #content #CloseBtn {
        min-width: /*hdpi*/ 170px;
        max-width: /*hdpi*/ 170px;
        min-height: /*hdpi*/ 40px;
        max-height: /*hdpi*/ 40px;
        margin: /*hdpi*/ 0px;
        padding: /*hdpi*/ 0px;
        border-radius: /*hdpi*/ 3px;
        background-color: #444444;
    }

        ResolutionGuidePage #content #CloseBtn:hover {
            background-color: #555555;
            color: #ffffff;
        }

        ResolutionGuidePage #content #CloseBtn::pressed {
            background-color: #2d2d2d;
            color: #ffffff;
        }

        ResolutionGuidePage #content #CloseBtn:disabled {
            color: #777777;
            background-color: #444444;
        }


    ResolutionGuidePage #CannotTip {
        margin: 0px;
        padding: /*hdpi*/ 11px /*hdpi*/ 20px /*hdpi*/ 14px /*hdpi*/ 20px;
        background-color: rgba(30,30, 30, 0.95);
        border: /*hdpi*/ 1px solid rgba(255, 255, 255, 0.1);
        border-radius: /*hdpi*/ 3px;
        font-size: /*hdpi*/ 14px;
        font-weight: normal;
        font-style: normal;
        color: #bababa;
    }
