PLSMainView #centralwidget #contextContainer {
    min-height: 44px;
    max-height: 44px;
    min-width: 420px;
    background-color: #272727;
    border-radius: 3px;
}

PLSMainView #contextContainer #contextSourceIcon {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
}

PLSMainView #contextContainer #contextSourceWidget {
    min-width: 250px;
    max-width: 250px;
}

PLSMainView #contextContainer #contextSourceLabel {
    font-size: 12px;
    color: #ffffff;
}

PLSMainView #contextContainer PLSComboBoxListView QLabel#itemLabel,
PLSMainView #contextContainer QComboBox {
    font-size: 12px;
}

PLSMainView #contextContainer #deviceLabel {
    font-size: 12px;
    color: #bababa;
}

PLSMainView #contextContainer #sourcePropertiesButton,
PLSMainView #contextContainer #sourceFiltersButton {
    min-width: 40px;
    min-height: 30px;
    max-height: 30px;
    padding: 0 10px;
    margin: 0;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}

PLSMainView #contextContainer #sourceInteractButton {
    min-width: 84px;
    max-width: 84px;
    min-height: 30px;
    max-height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}

PLSMainView #contextContainer #sourcePropertiesButton:disabled,
PLSMainView #contextContainer #sourceFiltersButton:disabled {
    background-color: #444444;
    color: #666666;
}

PLSMainView #contextContainer #sourcePropertiesButton:hover,
PLSMainView #contextContainer #sourceFiltersButton:hover {
    background-color: #555555;
    color: #ffffff;
}

PLSMainView #contextContainer #sourcePropertiesButton:pressed,
PLSMainView #contextContainer #sourceFiltersButton:pressed {
    background-color: #2d2d2d;
    color: #ffffff;
}

PLSMainView #contextContainer #DeviceSelectToolbar PLSComboBox,
PLSMainView #contextContainer #GameCaptureToolbar PLSComboBox {
    min-width: 88px;
    max-width: 488px;
    min-height: 30px;
    max-height: 30px;
}

PLSMainView #contextContainer #DeviceSelectToolbar PLSComboBox PLSComboBoxListView::item,
PLSMainView #contextContainer #GameCaptureToolbar PLSComboBox PLSComboBoxListView::item {
    height: 40px;
}

PLSMainView #contextContainer #modeLabel,
PLSMainView #contextContainer #windowLabel {
    font-size: 12px;
    color: #bababa;
}

PLSMainView #contextContainer #DeviceSelectToolbar #activateButton {
    min-width: 84px;
    max-width: 84px;
    min-height: 30px;
    max-height: 30px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

PLSMainView #contextContainer #BrowserSourceToolbar #refresh {
    border: none;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px;
    background-color: #444444;
    padding: 6px 5px 6px 7px;
    margin: 0;
}

PLSMainView #contextContainer #BrowserSourceToolbar #refresh {
    image: url(":/resource/images/wizard/ic-reroad-normal.svg");
}

PLSMainView #contextContainer #BrowserSourceToolbar #refresh:hover {
    background-color: #555555;
    image: url(":/resource/images/wizard/ic-reroad-over.svg");
}

PLSMainView #contextContainer #BrowserSourceToolbar #refresh:pressed {
    background-color: #2d2d2d;
    image: url(":/resource/images/wizard/ic-reroad-over.svg");
}

PLSMainView #contextContainer #BrowserSourceToolbar #refresh:disabled {
    background-color: #444444;
    image: url(":/resource/images/wizard/ic-reroad-disable.svg");
}

PLSMainView #contextContainer #ImageSourceToolbar QLineEdit {
    min-height: 28px;
    max-height: 28px;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    font-size: 12px;
}

PLSMainView #contextContainer #ImageSourceToolbar QLineEdit:focus {
    border: 1px solid #effc35;
}

PLSMainView #contextContainer #ImageSourceToolbar #browse {
    min-width: 84px;
    max-width: 84px;
    min-height: 30px;
    max-height: 30px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}

PLSMainView #contextContainer #ImageSourceToolbar #pathLabel {
    font-size: 12px;
    color: #bababa;
}

PLSMainView #contextContainer #ColorSourceToolbar #color,
PLSMainView #contextContainer #ColorSourceToolbar #color[style=default] {
    min-width: 86px;
    max-width: 86px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 3px;
    font-size: 11px;
}

PLSMainView #contextContainer #ColorSourceToolbar #choose {
    min-width: 89px;
    max-width: 89px;
    min-height: 30px;
    max-height: 30px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

PLSMainView #contextContainer #TextSourceToolbar #selectFont,
PLSMainView #contextContainer #TextSourceToolbar #selectColor {
    min-height: 30px;
    max-height: 30px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: normal;
}

PLSMainView #contextContainer #TextSourceToolbar #text {
    min-height: 30px;
    max-height: 30px;
    background-color: #1e1e1e;
    font-size: 12px;
}

PLSMainView #contextContainer #MediaControls QSlider[enter="false"]:handle:horizontal {
    height: 0px;
    width: 0px;
    image: none;
    margin-top: 0px;
    margin-left: -1px;
    margin-bottom: 0px;
    margin-right: 1px;
}

PLSMainView #contextContainer #MediaControls QSlider::handle:horizontal[enter="true"] {
    border-image: url(":/resource/images/img-handle-over.svg");
    width: 12px;
    margin: -4px 0px -4px 0px;
}

PLSMainView #contextContainer #MediaControls QSlider:sub-page:horizontal {
    border-radius: 2px;
    background-color: #effc35;
}

PLSMainView #contextContainer #MediaControls QSlider:groove:horizontal {
    border-radius: 2px;
    height: 4px;
    background-color: #555555;
}

PLSMainView #contextContainer #MediaControls #timerLabel,
PLSMainView #contextContainer #MediaControls #timerLabel[playing=false] {
    color: #bababa;
    font-size: 12px;
}

PLSMainView #contextContainer #MediaControls #timerLabel[playing=true] {
    color: #effc35;
}

PLSMainView #contextContainer #MediaControls #durationLabel,
PLSMainView #contextContainer #MediaControls #label {
    font-size: 12px;
    color: #bababa;
}