ConnectInfo#ConnectInfo,
#DownstreamKeyerDock,
#CaptionsDialog,
#Output,
#OutputSettings,
#Adv-ss-dock,
SceneNotesDock > QWidget,
NameDialog,
CanvasDock > #contextContainer,
CanvasTransitionsDock > #contextContainer,
OBSBasicSettings,
UpdateDialog,
#io_config_dialog,
#push-widget,
#obs-multi-rtmp-dock,
#AdvSceneSwitcher,
#push-widget QDialog,
#AdvSceneSwitcher QDialog,
#io_config_dialog QDialog,
#io_config_dialog #tabs,
SourceDockSettingsDialog,
SourceDock,
#DetailsPopup,
CaptionSettingsWidget#CaptionSettingsWidget,
MainCaptionWidget#MainCaptionWidget,
CaptionDock#cloud_caption_caption_dock,
#AdvSceneSwitcher #generalTab #scrollAreaWidgetContents {
    background-color: #272727;
    color: white;
}
QMessageBox QLabel {
    color: black;
    font-size: 12px;
}

#formLayoutWidget QLineEdit {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 35px;
    max-height: 35px;
    margin: 0;
}
#DetailsPopup QPushButton {
    padding: 0px;
    margin: 0px;
    min-height: 30px;
    max-height: 30px;
    min-width: 80px;
    max-width: 99999px;
}
#formLayoutWidget QPushButton {
    min-height: 35px;
    max-height: 35px;
}

#Output QPushButton,
#scenesToolbar QPushButton,
#push-widget QPushButton,
#obs-multi-rtmp-dock QPushButton,
#SettingsDialog QPushButton,
#AdvSceneSwitcher QPushButton,
#io_config_dialog QPushButton,
QMessageBox QPushButton {
    min-width: 80px;
    max-width: 99999px;
    min-height: 30px;
    max-height: 30px;
    margin: 5px;
    padding: 5px;
}

#push-widget QPushButton[flat="true"] ,
#AdvSceneSwitcher QPushButton[flat="true"] ,
#io_config_dialog QPushButton[flat="true"],
SourceDock #sourcePropertiesButton[flat="true"],
SourceDock #sourceFiltersButton[flat="true"] {
    margin: 0;
    padding: 0;
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
    background-color: transparent;
}

#Adv-ss-dock QToolButton {
    margin: 0;
    padding: 0;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: #444444;
    border-radius: /*hdpi*/ 3px;
}
#Adv-ss-dock  QToolButton:hover
{
    background-color:#555555;
}
#Adv-ss-dock  QToolButton:pressed {
    background-color: #2d2d2d;
}

#AdvSceneSwitcher QSplitter::handle {
    background-color: #1E1E1F;
}

#AdvSceneSwitcher QListView,
#AdvSceneSwitcher QListWidget {
    background-color: #1E1E1F;
}

#AdvSceneSwitcher QTabBar::tab,
#io_config_dialog QTabBar::tab {
    background-color: rgb(31,30,31);
}

    #AdvSceneSwitcher QTabBar::tab:selected,
    #io_config_dialog QTabBar::tab:selected {
        background-color: rgb(76,76,76);
    }

    #AdvSceneSwitcher QTabBar::tab:hover,
    #io_config_dialog QTabBar::tab:hover {
        background-color: rgb(122,121,122);
    }

    #AdvSceneSwitcher QTabBar::tab:pressed,
    #io_config_dialog QTabBar::tab:pressed {
        background-color: rgb(31,30,31);
    }

AudioOutputControl, AudioOutputControl VolumeMeter, AudioControl, AudioControl VolumeMeter {
    background-color: #272727;
}

#AudioMonitorDock #stackedMixerArea QScrollArea {
    border: none;
}

    #AudioMonitorDock #stackedMixerArea QScrollArea #qt_scrollarea_viewport > QWidget {
        background-color: #272727;
    }

        #AudioMonitorDock #stackedMixerArea QScrollArea #qt_scrollarea_viewport > QWidget QLabel {
            color: white;
        }

#AdvSceneSwitcher #macroConditions QScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #1E1E1F;
}

    #AdvSceneSwitcher #macroConditions QScrollArea #qt_scrollarea_viewport > QWidget QLabel {
        color: white;
    }

#AdvSceneSwitcher #macroActions QScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #1E1E1F;
}

    #AdvSceneSwitcher #macroActions QScrollArea #qt_scrollarea_viewport > QWidget QLabel {
        color: white;
    }

#obs-multi-rtmp-dock QScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #1E1E1F;
}

    #obs-multi-rtmp-dock QScrollArea #qt_scrollarea_viewport > QWidget QLabel {
        color: white;
    }

UpdateDialog QScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #1E1E1F;
}

    UpdateDialog QScrollArea #qt_scrollarea_viewport > QWidget QLabel {
        color: white;
    }

OBSBasicSettings QScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #272727;
}

    OBSBasicSettings QScrollArea #qt_scrollarea_viewport > QWidget QLabel {
        color: white;
    }

#Output QScrollArea #qt_scrollarea_viewport #PropertiesContainer {
    background-color: #1E1E1F;
}

#Output QScrollArea #qt_scrollarea_viewport #PropertiesContainert QLabel {
    color: white;
}
#io_config_dialog #qt_scrollarea_viewport #scrollAreaWidgetContents {
    background-color: #1E1E1F;
}
SourceDockSettingsDialog QScrollArea {
    background-color: #1E1E1F;
}

SourceDockSettingsDialog QScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #1E1E1F;
}

SourceDockSettingsDialog QScrollArea #qt_scrollarea_viewport > QWidget QLabel {
    color: white;
}
#textOutputsListScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #1E1E1F;
}
QTableWidget#wordReplacementTableWidget, #wordReplacementTableWidget QHeaderView{
    background-color: #272727;
}
OBSQTDisplay#preview {
    background-color: #1E1E1F;
}

MediaControl#MediaControl{
    background-color: #272727;
}
SourceDock QWidget {
    background-color: #272727;
}

SourceDock #sourcePropertiesButton,
SourceDock #sourceFiltersButton {
    background-color: #444444;
}

SourceDock #textInput {
    background-color: #1E1E1F;
}

QMainWindow {
    background-color:#272727;
}


SourceDock QScrollArea #qt_scrollarea_viewport > QWidget {
    background-color: #1E1E1F;
}

#io_config_dialog {
    min-height: 720px;
}

#SettingsDialog {
    min-height: 620px;
    min-width: 650px;
}

#obs-multi-rtmp-dock {
    min-width: 255px;
}

QDockWidget::title, 
OBSDockOri::title {
    background-color: #272727;
}

CanvasSourcesDock SourceTree,
CanvasScenesDock #contextContainer QListWidget {
    background-color: #272727;
}

    CanvasSourcesDock SourceTree::item:pressed {
        background-color: #2d2d2d;
    }

    CanvasSourcesDock SourceTree::item:hover {
        background-color: #444444;
    }

    CanvasSourcesDock SourceTree QLabel {
        min-height: /*hdpi*/ 30px;
        max-height: /*hdpi*/ 30px;
        background: none;
    }

    CanvasSourcesDock SourceTree VisibilityCheckBox::indicator:unchecked,
    SourceDock #contextContainer VisibilityCheckBox::indicator:unchecked {
        image: url(":/resource/images/icon-source-view-off-normal.svg");
    }

        CanvasSourcesDock SourceTree VisibilityCheckBox::indicator:unchecked:hover,
        SourceDock #contextContainer VisibilityCheckBox::indicator:unchecked:hover {
            image: url(":/resource/images/icon-source-view-off-over.svg");
        }

        CanvasSourcesDock SourceTree VisibilityCheckBox::indicator:unchecked:pressed,
        SourceDock #contextContainer VisibilityCheckBox::indicator:unchecked:pressed {
            image: url(":/resource/images/icon-source-view-off-click.svg");
        }

    CanvasSourcesDock SourceTree VisibilityCheckBox::indicator:checked,
    SourceDock #contextContainer VisibilityCheckBox::indicator:checked {
        image: url(":/resource/images/ic-source-view-normal.svg");
    }

        CanvasSourcesDock SourceTree VisibilityCheckBox::indicator:checked:hover,
        SourceDock #contextContainer VisibilityCheckBox::indicator:checked:hover {
            image: url(":/resource/images/ic-source-view-over.svg");
        }

        CanvasSourcesDock SourceTree VisibilityCheckBox::indicator:checked:pressed,
        SourceDock #contextContainer VisibilityCheckBox::indicator::checked:pressed {
            image: url(":/resource/images/ic-source-view-click.svg");
        }

    CanvasSourcesDock SourceTree LockedCheckBox::indicator:unchecked,
    SourceDock LockedCheckBox::indicator:unchecked {
        image: url(":/resource/images/ic-source-unlock-normal.svg");
    }

        CanvasSourcesDock SourceTree LockedCheckBox::indicator:unchecked:hover {
            image: url(":/resource/images/ic-source-unlock-over.svg");
        }

        CanvasSourcesDock SourceTree LockedCheckBox::indicator:unchecked:pressed {
            image: url(":/resource/images/ic-source-unlock-click.svg");
        }

    CanvasSourcesDock SourceTree LockedCheckBox::indicator:checked {
        image: url(":/resource/images/ic-source-lock-normal.svg");
    }

        CanvasSourcesDock SourceTree LockedCheckBox::indicator:checked:hover {
            image: url(":/resource/images/ic-source-lock-over.svg");
        }

        CanvasSourcesDock SourceTree LockedCheckBox::indicator:checked:pressed {
            image: url(":/resource/images/ic-source-lock-click.svg");
        }

    CanvasSourcesDock SourceTree LockedCheckBox::indicator,
    CanvasSourcesDock SourceTree VisibilityCheckBox::indicator {
        min-width: /*hdpi*/ 22px;
        max-width: /*hdpi*/ 22px;
        min-height: /*hdpi*/ 22px;
        max-height: /*hdpi*/ 22px;
    }
SourceDock #contextContainer VisibilityCheckBox,
SourceDock #contextContainer VisibilityCheckBox::indicator{
    min-width: /*hdpi*/ 22px;
    max-width: /*hdpi*/ 22px;
    min-height: /*hdpi*/ 22px;
    max-height: /*hdpi*/ 22px;
    padding:0;
    margin:0;
}
CanvasDock QPushButton {
    padding: 0;
    margin: 0;
    min-width: /*hdpi*/ 44px;
    max-width: /*hdpi*/ 44px;
    min-height: /*hdpi*/ 30px;
    max-height: /*hdpi*/ 30px;
}

AudioOutputControl > MuteCheckBox, AudioControl > MuteCheckBox {
    outline: none;
    qproperty-minimumSize: /*hdpi*/ 22px /*hdpi*/ 22px;
    qproperty-maximumSize: /*hdpi*/ 22px /*hdpi*/ 22px;
}

    AudioOutputControl > MuteCheckBox::indicator,
    AudioControl > MuteCheckBox::indicator,
    SourceDock MuteCheckBox::indicator,
    AudioOutputControl > LockedCheckBox::indicator,
    AudioControl > LockedCheckBox::indicator
    {
        width: /*hdpi*/ 22px;
        height: /*hdpi*/ 22px;
    }
        SourceDock MuteCheckBox::indicator:checked,
        SourceDock MuteCheckBox::indicator:checked:disabled,
        AudioOutputControl > MuteCheckBox::indicator:checked,
        AudioControl > MuteCheckBox::indicator:checked,
        AudioOutputControl > MuteCheckBox::indicator:checked:disabled,
        AudioControl > MuteCheckBox::indicator:checked:disabled {
            image: url(":/resource/images/audio-mixer/sound/sound-off-normal.svg");
        }

        SourceDock MuteCheckBox::indicator:checked:hover,
        AudioOutputControl > MuteCheckBox::indicator:checked:hover,
        AudioControl > MuteCheckBox::indicator:checked:hover {
            image: url(":/resource/images/audio-mixer/sound/sound-off-over.svg");
        }

        SourceDock MuteCheckBox::indicator:checked:pressed,
        AudioOutputControl > MuteCheckBox::indicator:checked:pressed,
        AudioControl > MuteCheckBox::indicator:checked:pressed {
            image: url(":/resource/images/audio-mixer/sound/sound-off-click.svg");
        }

        SourceDock MuteCheckBox::indicator:unchecked,
        SourceDock MuteCheckBox::indicator:unchecked:disabled,
        AudioOutputControl > MuteCheckBox::indicator:unchecked,
        AudioControl > MuteCheckBox::indicator:unchecked,
        AudioOutputControl > MuteCheckBox::indicator:unchecked:disabled,
        AudioControl > MuteCheckBox::indicator:unchecked:disabled {
            image: url(":/resource/images/audio-mixer/sound/sound-on-normal.svg");
        }

        SourceDock MuteCheckBox::indicator:unchecked:hover,
        AudioOutputControl > MuteCheckBox::indicator:unchecked:hover,
        AudioControl > MuteCheckBox::indicator:unchecked:hover {
            image: url(":/resource/images/audio-mixer/sound/sound-on-over.svg");
        }

AudioOutputControl > LockedCheckBox, AudioControl > LockedCheckBox, #scenesToolbar > LockedCheckBox {
    outline: none;
    background: transparent;
    min-width: /*hdpi*/ 22px;
    max-width: /*hdpi*/ 22px;
    min-height: /*hdpi*/ 22px;
    max-height: /*hdpi*/ 22px;
}
#scenesToolbar > LockedCheckBox::indicator,
SourceDock LockedCheckBox::indicator{
    width: /*hdpi*/ 22px;
    height: /*hdpi*/ 22px;
}
    AudioOutputControl > LockedCheckBox::indicator:unchecked,
    AudioControl > LockedCheckBox::indicator:unchecked,
    SourceDock LockedCheckBox::indicator:unchecked,
    SourceDock LockedCheckBox::indicator:unchecked:disabled,
    AudioOutputControl > LockedCheckBox::indicator:unchecked:disabled,
    AudioControl > LockedCheckBox::indicator:unchecked:disabled,
    #scenesToolbar > LockedCheckBox::indicator:unchecked {
        image: url(":/resource/images/ic-source-unlock-normal.svg");
    }

    AudioOutputControl > LockedCheckBox::indicator:unchecked:hover,
    AudioControl > LockedCheckBox::indicator:unchecked:hover,
    #scenesToolbar > LockedCheckBox::indicator:unchecked:hover,
    SourceDock LockedCheckBox::indicator:unchecked:hover
    {
        image: url(":/resource/images/ic-source-unlock-over.svg");
    }

    AudioOutputControl > LockedCheckBox::indicator:unchecked:pressed,
    AudioControl > LockedCheckBox::indicator:unchecked:pressed,
    #scenesToolbar > LockedCheckBox::indicator:unchecked:pressed,
    SourceDock LockedCheckBox::indicator:unchecked:pressed
    {
        image: url(":/resource/images/ic-source-unlock-click.svg");
    }

    AudioOutputControl > LockedCheckBox::indicator:checked,
    AudioControl > LockedCheckBox::indicator:checked,
    AudioOutputControl > LockedCheckBox::indicator:checked:disabled,
    AudioControl > LockedCheckBox::indicator:checked:disabled,
    #scenesToolbar > LockedCheckBox::indicator:checked,
    SourceDock LockedCheckBox::indicator:checked,
    SourceDock LockedCheckBox::indicator:checked:disabled{
        image: url(":/resource/images/ic-source-lock-normal.svg");
    }

    AudioOutputControl > LockedCheckBox::indicator:checked:hover,
    AudioControl > LockedCheckBox::indicator:checked:hover,
    #scenesToolbar > LockedCheckBox::indicator:checked:hover,
    SourceDock LockedCheckBox::indicator:checked:hover{
        image: url(":/resource/images/ic-source-lock-over.svg");
    }

    AudioOutputControl > LockedCheckBox::indicator:checked:pressed,
    AudioControl > LockedCheckBox::indicator:checked:pressed,
    #scenesToolbar > LockedCheckBox::indicator:checked:pressed,
    SourceDock LockedCheckBox::indicator:checked:pressed
    {
        image: url(":/resource/images/ic-source-lock-click.svg");
    }
DownstreamKeyer #scenesToolbar > QToolButton,
#MediaControl > QPushButton {
    padding: 0;
    margin: 0;
    qproperty-icon-size: 20px;
    min-width: /*hdpi*/ 20px;
    max-width: /*hdpi*/ 20px;
    min-height: /*hdpi*/ 20px;
    max-height: /*hdpi*/ 20px;
    background-color: transparent;
}
DownstreamKeyer #scenesToolbar [themeID="addIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/plus.svg);
}

DownstreamKeyer #scenesToolbar [themeID="removeIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/minus.svg);
}

DownstreamKeyer #scenesToolbar [themeID="clearIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/entry-clear.svg);
}

DownstreamKeyer #scenesToolbar [themeID="propertiesIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/settings/general.svg);
}

DownstreamKeyer #scenesToolbar [themeID="configIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/settings/general.svg);
}

DownstreamKeyer #scenesToolbar [themeID="refreshIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/refresh.svg);
}

DownstreamKeyer #scenesToolbar [themeID="upArrowIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/up.svg);
}

DownstreamKeyer #scenesToolbar [themeID="downArrowIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/down.svg);
}

DownstreamKeyer #scenesToolbar [themeID="pauseIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/media-pause.svg);
}

DownstreamKeyer #scenesToolbar [themeID="menuIconSmall"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/dots-vert.svg);
}

DownstreamKeyer #scenesToolbar [themeID="cogsIcon"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/cogs.svg);
}

DownstreamKeyer #scenesToolbar [themeID="filtersIcon"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/filter.svg);
}

#MediaControl [themeID="previousIcon"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/media/media_previous.svg);
}
#MediaControl [themeID="restartIcon"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/media/media_restart.svg);
}
#MediaControl [themeID="playIcon"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/media/media_play.svg);
}

#MediaControl [themeID="stopIcon"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/media/media_stop.svg);
}
#MediaControl [themeID="nextIcon"] {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/media/media_next.svg);
}
SourceDock #contextContainer #sourceFiltersButton {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/filter.svg);
}
SourceDock #contextContainer #sourcePropertiesButton {
    qproperty-icon: url(:/obs/Dark/resource/images/Dark/settings/general.svg);
}

#MainCaptionWidget > #widget > #settingsToolButton, QToolButton#deleteToolButton {
    color: black;
}

#SettingsDialog #serverSettingsGroupBox QPushButton {
    padding: 0 10px 0 10px;
    margin: 0;
    min-height: /*hdpi*/ 40px;
    max-height: /*hdpi*/ 40px;
}

#SettingsDialog #websocketSessionTable QPushButton {
    min-height: /*hdpi*/ 20px;
    max-height: /*hdpi*/ 20px;
    padding: 0;
    margin: 0;
}

#SettingsDialog #buttonBox QPushButton {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: /*hdpi*/ 14px;
    color: #FFFFFF;
    min-width: /*hdpi*/ 128px;
    max-width: /*hdpi*/ 128px;
    min-height: /*hdpi*/ 40px;
    max-height: /*hdpi*/ 40px;
}

#SettingsDialog #websocketSessionTable::item:selected:!active,
#SettingsDialog #websocketSessionTable::item:selected:active {
    background: #0073dc;
}

#SettingsDialog #pluginSettingsGroupBox #enableDebugLoggingToolTipLabel {
    margin-left: 10px;
}

#ConnectInfo > #formLayoutWidget > QLineEdit{
    min-height: 25px;
    max-height: 25px;
    max-width: 150px;
}
#ConnectInfo > #formLayoutWidget > QPushButton {
    min-height: 25px;
    max-height: 25px;
    min-width:60px;
    max-width: 150px;
}
