
QCheckBox[visibilityCheckBox=true] {
	outline: none;
	background: transparent;
	min-width: /*hdpi*/ 22px;
	max-width: /*hdpi*/ 22px;
	min-height: /*hdpi*/ 22px;
	max-height: /*hdpi*/ 22px;
}
QCheckBox[visibilityCheckBox=true]::indicator
{
    min-width:/*hdpi*/ 22px;
	max-width:/*hdpi*/ 22px;
	min-height:/*hdpi*/ 22px;
	max-height:/*hdpi*/ 22px;
}
QCheckBox[visibilityCheckBox=true]::indicator:unchecked {
	image: url(":/resource/images/icon-source/icon-source-view-off-normal.svg");
}

QCheckBox[visibilityCheckBox=true]::indicator:unchecked:hover
{
	image:url(":/resource/images/icon-source/icon-source-view-off-over.svg");
}

QCheckBox[visibilityCheckBox=true]::indicator:unchecked:pressed
{
	image:url(":/resource/images/icon-source/icon-source-view-off-click.svg");
}

QCheckBox[visibilityCheckBox=true]::indicator:checked
{
	image:url(":/resource/images/ic-source-view-normal.svg");
}

QCheckBox[visibilityCheckBox=true]::indicator:checked:hover
{
	image:url(":/resource/images/ic-source-view-over.svg");
}

QCheckBox[visibilityCheckBox=true]::indicator:checked:pressed
{
	image:url(":/resource/images/ic-source-view-click.svg");
}
